<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <!-- HEADER BASE -->
        <div class="card-header">
          <div class="row">
            <div style="width: 86%">
              <button type="button" class="btn btn-ghost-light">
                <i class="fa icon-menu
                  "></i>
              </button>
              <strong>Movimientos de Caja</strong>
            </div>
            <div>
              <strong>EN CAJA:{{usuario.saldo|currency}}</strong>
            </div>
          </div>
        </div>

        <div class="card-body">
          <strong class="text-center"
            *ngIf="usuario.data!=null">Usuario:{{usuario.data.nombre}},{{usuario.data.apellido}}({{usuario.data.username}})</strong>
          <div class="row">
            <div class="form-group col-sm-6">
              <label class="font-weight-bold">Desde</label>
              <input type="text" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="desde" placeholder="Ingrese fecha" class="form-control form-control-sm" bsDatepicker>
            </div>
            <div class="form-group col-sm-6">
              <label class="font-weight-bold">Hasta</label>
              <input type="text" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="hasta" placeholder="Ingrese fecha" class="form-control form-control-sm" bsDatepicker>
            </div>
          </div>
          <div class="form-group form-actions text-right ">
            <button class="btn btn-sm btn-danger" (click)="filtrar()" tooltip="Filtro de caja por fecha">Buscar por
              Fechas</button>
            <button class="btn btn-sm btn-dark" (click)="refresh()" tooltip="Limpiar filtros">Refresh fechas</button>
            <button class="btn btn-sm btn-info" (click)="openModalMovimiento(templateMovimiento)"
              tooltip="Agregar movimiento manual">Nuevo Movimiento</button>
          </div>
        </div>

        <div class="card-body" *ngIf="tablamov==false">
          <div class="text-center">
            <strong class="text-center">DATOS LOGÍSTICOS</strong>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="table-responsive table-sm">
               <table class="table table-striped">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">EFECTIVO</th>
                      <th scope="col">CRÉDITO</th>
                      <th scope="col">DEBITO</th>
                      <th scope="col">CHEQUE</th>
                      <th scope="col">OTRO</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{cuentas.EFECTIVO|currency}}</td>
                      <td>{{cuentas.CREDITO|currency}}</td>
                      <td>{{cuentas.DEBITO|currency}}</td>
                      <td>{{cuentas.CHEQUE|currency}}</td>
                      <td>{{cuentas.OTRO|currency}}</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="table-responsive table-sm">
               <table class="table table-striped">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">INGRESOS</th>
                      <th scope="col">EGRESOS</th>
                      <th scope="col">RESULTADO</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{resultados.ingresos|currency}}</td>
                      <td>{{resultados.egresos|currency}}</td>
                      <td>{{resultados.ingresos+resultados.egresos|currency}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="card" *ngIf="tablamov==true">
            <div class="card-body" >
                <div class="text-center">
                  <strong class="text-center">DATOS LOGÍSTICOS DE CAJA FILTRADA</strong>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="table-responsive table-sm">
                     <table class="table table-striped">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">EFECTIVO</th>
                            <th scope="col">CRÉDITO</th>
                            <th scope="col">DEBITO</th>
                            <th scope="col">CHEQUE</th>
                            <th scope="col">OTRO</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>{{cuentasFiltradas.EFECTIVO|currency}}</td>
                            <td>{{cuentasFiltradas.CREDITO|currency}}</td>
                            <td>{{cuentasFiltradas.DEBITO|currency}}</td>
                            <td>{{cuentasFiltradas.CHEQUE|currency}}</td>
                            <td>{{cuentasFiltradas.OTRO|currency}}</td>
                          </tr>
      
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="table-responsive table-sm">
                     <table class="table table-striped">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">INGRESOS</th>
                            <th scope="col">EGRESOS</th>
                            <th scope="col">RESULTADO</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>{{resultadosFiltrados.ingresos|currency}}</td>
                            <td>{{resultadosFiltrados.egresos|currency}}</td>
                            <td>{{resultadosFiltrados.ingresos+resultadosFiltrados.egresos|currency}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    
        <div class="card-body" *ngIf="tablamov==false">
            <div class="text-center">
              <strong class="text-center">Listado de movimientos</strong>
            </div>
            <div class="table-responsive table-sm">
             <table class="table table-striped">
                <thead class="thead-dark" class="thead-dark">
                  <tr>
                    <th class="text-center">N°</th>
                    <th class="text-center">Fecha</th>
                    <th>Motivo</th>
                    <th class="text-center">Forma de Pago</th>
                    <th class="text-center">Monto</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let u of items; index as i" [hidden]="!items.length>0">
                    <td class="text-center">{{u.id}}</td>
                    <td class="text-center">{{u.fecha| date: "dd-MM-yyyy HH:mm:ss"}}</td>
                    <td>{{u.motivo}}</td>
                    <td class="text-center">{{u.formaPago}}</td>
                    <td class="text-center">{{u.monto|currency}}</td>
                  </tr>
                </tbody>
              </table>
              <div class=" text-nowrap"  [hidden]="movimientos.length==0">
                <pagination [boundaryLinks]="true" previousText="Página Anterior" nextText="Página Siguiente"
                  firstText="&laquo;" lastText="&raquo;" [totalItems]="movimientos.length"
                  (pageChanged)="pageChanged($event)"></pagination>
              </div>
            </div> 
            <div class="text-center" *ngIf="movimientos.length==0&&loading==true">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <div class="text-center" *ngIf="movimientos.length==0&&loading==false">
              <strong>No existen movimientos</strong>
            </div>
          </div>
        <div class="card-body" *ngIf="tablamov==true">
          <div class="text-center">
            <strong class="text-center">Listado de movimientos filtrados</strong>
          </div>
          <div class="table-responsive table-sm" >
           <table class="table table-striped">
              <thead class="thead-dark" class="thead-dark">
                <tr>
                  <th class="text-center">N°</th>
                  <th class="text-center">Fecha</th>
                  <th>Motivo</th>
                  <th class="text-center">Forma de Pago</th>
                  <th class="text-center">Monto</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let u of items2; index as i" [hidden]="!items2.length>0">
                  <td class="text-center">{{u.id}}</td>
                  <td class="text-center">{{u.fecha| date: "dd-MM-yyyy HH:mm:ss"}}</td>
                  <td>{{u.motivo}}</td>
                  <td class="text-center">{{u.formaPago}}</td>
                  <td class="text-center">{{u.monto|currency}}</td>
                </tr>
              </tbody>
            </table>
            <div class=" text-nowrap"  [hidden]="greaterTen.length==0">
              <pagination [align]="true"  [boundaryLinks]="true" previousText="Página Anterior" nextText="Página Siguiente"
                firstText="&laquo;" lastText="&raquo;" [totalItems]="greaterTen.length"
                (pageChangedFecha)="pageChanged($event)"></pagination>
            </div>
          </div>
          <div class="text-center" *ngIf="greaterTen.length==0&&loading==false">
            <strong>No existen movimientos en el periodo de fecha</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- MOVIMIENTO -->
<ng-template #templateMovimiento>
  <div class="modal-header">
    <h4 class="text-center">Generar nuevo movimiento</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-movimientos-usuario (myClickMovimientoUser)="TransportarMovimiento($event)"></app-movimientos-usuario>
    <div class="text-center" *ngIf="load==true">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</ng-template>