<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <!-- HEADER BASE -->
        <div class="card-header">
          <div class="row">
            <div style="width: 100%">
                <button type="button" class="btn btn-ghost-light">
                    <i class="fa icon-menu
                    "></i>
                  </button>
                <strong>Feriados</strong>
            </div>
          </div>
        </div>
        <div class="d-flex flex-nowrap align-self-end" style="padding-right: 15px;padding-top: 5px;">
          <div class="d-flex flex-nowrap ">
            <!-- <button aria-pressed="true" class="btn btn-danger" type="button"
              (click)="refresh()">Actualizar</button> -->
            <button aria-pressed="true" tooltip="Crear nuevo feriado" class="btn btn-sm btn-info" type="button"
              [routerLink]="[ '/panel/feriados/create']">Nuevo Feriado</button>
          </div>
        </div>
        <div class="card-body">
           <div class="table-responsive table-sm">
           <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th class="text-center">Código</th>
                  <th>Descripción</th>
                  <th class="text-center">Desde</th>
                  <th class="text-center">Hasta</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let u of feriados" [hidden]="!feriados.length>0">
                  <td class="text-center">{{u.id}}</td>
                  <td class="text-center">{{u.motivo}}</td>
                  <td class="text-center">{{u.desde|date:"dd/MM/yyyy 'a las' h:mma"}}</td>
                  <td class="text-center">{{u.hasta|date:"dd/MM/yyyy 'a las' h:mma"}}</td>
                  <td>
                    <button tooltip="Editar feriado" type="button" class="btn btn-ghost-secondary"
                      [routerLink]="[ '/panel/feriados/details', u.id ]">
                      <i class="fa icon-pencil"></i>
                    </button>
                    <button tooltip="Eliminar feriado" type="button" class="btn btn-ghost-secondary" (click)="openModal(template,u.id)">
                      <i class="fa icon-close
                          "></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class=" text-nowrap"  [hidden]="feriados.length==0">
              <pagination [align]="true" [totalItems]="totalElements" [(ngModel)]="page"
              (pageChanged)="pageChanged($event)" [maxSize]="5" [itemsPerPage]="pageSize"  [boundaryLinks]="true" previousText="Página Anterior"
              nextText="Página Siguiente" firstText="&laquo;" lastText="&raquo;"></pagination>
          </div>
          </div>
          <div class="text-center" *ngIf="feriados.length==0&&loading==true">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="text-center" *ngIf="feriados.length==0&&loading==false">
            <strong>No existen feriados</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #template>
  <div class="modal-header">
    <!-- <h4 class="modal-title pull-left">Modal</h4> -->
    <h4 class="text-center">Se eliminará el cliente seleccionado</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm">
      <div class="form-group form-actions">
        <button class="btn btn-sm btn-info" (click)="delete()">Confirmar</button>
        <button class="btn btn-sm btn-ghost-light active" (click)="modalRef.hide()" type="button">Cancelar</button>
      </div>
    </form>
  </div>
</ng-template>