<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <!-- HEADER BASE -->
        <div class="card-header">
          <div class="row">
            <div>
              <button type="button" class="btn btn-ghost-light">
                <i class="fa icon-menu
                    "></i>
              </button>
              <strong>Cumpleaños</strong>
            </div>
          </div>
        </div>
        <div class="card-body" >
            <strong class="text-center">Listado de los Proximos Cumpleaños en 7 días</strong>
          <div class="row">
            <div class="col-sm-4">
                <strong class="text-left" style="color: green"><i class="cui-calendar"></i>Hoy</strong>
            </div>
            <div class="col-sm-4">
                <strong class="text-left" style="color:rgb(255, 68, 0)"><i class="cui-calendar"></i>En menos 3 días</strong>
            </div>
            <div class="col-sm-4">
                <strong class="text-left"><i class="cui-calendar"></i>En más de 3 días</strong>
            </div>
          </div>
      </div>

        <div class="card-body">
          <div class="table-responsive table-sm">
           <table class="table table-striped">
              <thead class="thead-dark" class="thead-dark">
                <tr>
                  <th  class="text-center">Cliente</th>
                  <th  class="text-center">Teléfono</th>
                  <th class="text-center">Fecha de Nacimiento</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let u of items" [hidden]="!items.length>0">
                  <td  class="text-center">{{u.nombre}},{{u.apellido}}({{u.id}})</td>
                  <td class="text-center">{{u.celular1}}</td>
                  <td class="text-center" *ngIf="precioTotal(u.fechaNacimiento)==0"
                      style="color: green">{{u.fechaNacimiento| date: 'dd/MM/yyyy'}}</td>
                  <td class="text-center" *ngIf="precioTotal(u.fechaNacimiento)>=1&&precioTotal(u.fechaNacimiento)<=3" style="color:rgb(255, 68, 0)">{{u.fechaNacimiento|date: 'dd/MM/yyyy'}}</td>
                  <td *ngIf="precioTotal(u.fechaNacimiento)>3" class="text-center">{{u.fechaNacimiento|date: 'dd/MM/yyyy'}}</td>
                </tr>
              </tbody>
            </table>
            <div class=" text-nowrap"  [hidden]="movimientos.length==0">
              <pagination [boundaryLinks]="true" previousText="Página Anterior" nextText="Página Siguiente"
                firstText="&laquo;" lastText="&raquo;" [totalItems]="movimientos.length"
                (pageChanged)="pageChanged($event)"></pagination>
            </div>
          </div>
          <div class="text-center" *ngIf="movimientos.length==0&&loading==true">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div> 
          <div class="text-center" *ngIf="movimientos.length==0&&loading==false">
              <strong>No existen registros</strong>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>