<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <!-- HEADER BASE -->
          <div class="card-header">
            <div class="row">
              <div style="width: 90%">
                <button type="button" class="btn btn-ghost-light">
                  <i class="fa icon-menu
                      "></i>
                </button>
                <strong>Gestión de Stock</strong>
              </div>
            </div>
          </div>
          <!-- <div class="d-flex flex-nowrap align-self-end" style="padding-right: 15px;padding-top: 5px;">
            <div class="d-flex flex-nowrap ">
                <button  class="btn btn-sm btn-light" type="button"
                (click)="report()">Imprimir PDF</button>
              <button aria-pressed="true" class="btn btn-sm btn-danger" type="button"
                (click)="refresh()">Actualizar</button>
              <button aria-pressed="true" tooltip="Crear nuevo producto" class="btn btn-sm btn-info" type="button"
                [routerLink]="[ '/panel/productos/create']">Nuevo Producto</button>
            </div>
          </div> -->
          <div class="card-body">
            <app-search-producto (myClick)="Transportar($event)"></app-search-producto>
            <form #f="ngForm"  *ngIf="cargarForm">
              <div class="row">
                <div class="form-group col-sm-3">
                  <label class="font-weight-bold">Nombre del producto</label>
                  <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" [(ngModel)]="producto.nombre"
                   placeholder="Ingrese nombre del producto" type="text" disabled required>
                </div>
                <div class="form-group col-sm-3">
                  <label class="font-weight-bold">Marca</label>
                  <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" disabled [(ngModel)]="producto.subMarca"
                     placeholder="Ingrese marca" type="text" required>
                </div>
                <div class="form-group col-sm-3">
                  <label class="font-weight-bold">Categoría</label>
                  <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" disabled [(ngModel)]="producto.marca"
                     placeholder="Ingrese categoria" type="text" required>
                </div>
                <div class="form-group col-sm-3">
                  <label class="font-weight-bold">Cantidad</label>
                  <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="producto.cantidad"  placeholder="Ingrese cantidad" type="tel"
                    step="0.01"  required>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-3">
                  <label class="font-weight-bold">Precio Costo</label>
                  <input class="form-control form-control-sm" (ngModelChange)="valuechange($event)" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="producto.precioCosto"  placeholder="Ingrese monto" type="number"
                    step="0.01"  required>
                </div>
                <div class="form-group col-sm-3">
                  <label class="font-weight-bold">IVA%</label>
                  <input class="form-control form-control-sm" (ngModelChange)="valuechange($event)" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="producto.iva"  placeholder="Ingrese monto" type="number" step="0.01"
                    min="0" required>
                </div>
                <div class="form-group col-sm-3">
                  <label class="font-weight-bold">Utilidad%</label>
                  <input class="form-control form-control-sm" (ngModelChange)="valuechange($event)" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="producto.utilidad"  placeholder="Ingrese monto" type="number"
                    step="0.01" min="0" required>
                </div>
                <div class="form-group col-sm-3">
                  <label class="font-weight-bold">Precio Venta</label>
                  <input class="form-control form-control-sm" (ngModelChange)="valuechange($event)" step="0.01" min="0"
                    [ngModelOptions]="{standalone: true}" [(ngModel)]="producto.precioVenta" 
                    placeholder="Ingrese monto" type="number" required>
                </div>
              </div>
              <div class="form-group form-actions">
                <button class="btn btn-sm btn-info"  (click)="cargarTabla()">Cargar </button>
                <button class="btn btn-sm btn-ghost-secondary" (click)="refreshProducto()" 
                  type="button">Cancelar</button>
              </div>
            </form>
          </div>
          <div class="card-body" *ngIf="tabla.length>0">
             <div class="table-responsive table-sm">
             <table class="table table-striped">
                <thead class="thead-dark">
                  <tr>
                    <th class="text-center">Código</th>
                    <th class="text-center">Descripción</th>
                    <th class="text-center">Precio Venta </th>
                    <th class="text-center">Cantidad</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let u of tabla" [hidden]="!tabla.length>0">
                    <td class="text-center">{{u.id}}</td>
                    <td class="text-center">{{u.nombre}}</td>
                    <td class="text-center">{{u.precioVenta}}</td>
                    <td class="text-center">{{u.cantidad}}</td>
                    <td>
                      <button tooltip="Eliminar producto" type="button" (click)="openModal(template,u.id)"  class="btn btn-ghost-secondary">
                        <i class="fa icon-close"></i>
                      </button>
                      <button tooltip="Guardar producto" type="button" (click)="guardar(u)" class="btn btn-ghost-info">
                        <i class="cui-circle-check"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #template>
    <div class="modal-header">
      <h4 class="text-center">Se borrará el producto de la tabla</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #f="ngForm">
        <div class="form-group form-actions">
          <button class="btn btn-sm btn-info" (click)="eliminarItem()">Confirmar</button>
          <button class="btn btn-sm btn-ghost-light active" (click)="modalRef.hide()" type="button">Cancelar</button>
        </div>
      </form>
    </div>
  </ng-template>