<div class="card">
  <div class="col-lg-xs-ms">
    <div class="card">
      <div class="card-header">
          <button type="button" class="btn btn-ghost-secondary" [routerLink]="[ '/panel/usuarios']">
            <i class="fa fa-reply" ></i>
        </button>
        <strong>Crear usuario</strong>
      </div>
      <div class="card-body">
        <form [formGroup]="usuarioForm" (ngSubmit)="createUsuario()">
          <div class="row">
            <div class="form-group col-sm-6">
              <label class="font-weight-bold">Nombre</label>
              <input class="form-control form-control-sm" formControlName="nombre" placeholder="Ingrese nombre" type="text"
                [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" required>
              <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                <div *ngIf="f.nombre.errors.required">Campo Obligatorio</div>
              </div>
            </div>
            <div class="form-group col-sm-6">
              <label class="font-weight-bold">Apellido</label>
              <input class="form-control form-control-sm" formControlName="apellido" placeholder="Ingrese apellido"
                [ngClass]="{ 'is-invalid': submitted && f.apellido.errors }" type="text" required>
              <div *ngIf="submitted && f.apellido.errors" class="invalid-feedback">
                <div *ngIf="f.apellido.errors.required">Campo Obligatorio</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6">
              <label class="font-weight-bold">Nombre de usuario</label>
              <input class="form-control form-control-sm" formControlName="username" placeholder="Ingrese nombre de usuario" type="text"
                [ngClass]="{ 'is-invalid': submitted && f.username.errors }" required>
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Campo Obligatorio</div>
              </div>
            </div>
            <div class="form-group col-sm-6">
              <label class="font-weight-bold">Password</label>
              <input class="form-control form-control-sm" formControlName="password" placeholder="Ingrese password de usuario"
                type="password" minlength="8" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required>
              <div *ngIf="mostrarPassword!=false">Su contraseña:{{f.password.value}}</div>
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Campo Obligatorio</div>
                <div *ngIf="f.password.errors?.minlength">
                  Debe tener una longitud mínima de 8 caracteres
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6">
              <label class="font-weight-bold">Empresa asignada </label>
              <select class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" [(ngModel)]="nombreEmpresa"
                required>
                <option [value]="nombre.nombre" *ngFor="let nombre of empresas"
                  [selected]="nombre.nombre==nombreEmpresa ? true : null">{{nombre.nombre}}</option>
              </select>
            </div>
            <div class="form-group col-sm-6">
              <label class="font-weight-bold">Punto de Venta</label>
              <select class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" [(ngModel)]="puntoDeVenta"
                required>
                <option [value]="nombre.nombre" *ngFor="let nombre of puntosDeVentas"
                  [selected]="nombre.nombre==puntoDeVenta ? true : null">{{nombre.nombre}}</option>
              </select>
            </div>
          </div>

          <div class="text-center">
            <div class="spinner-border" role="status" [hidden]="!load">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="form-group form-actions text-left ">
            <button class="btn btn-sm btn-info" [disabled]="load">Crear Usuario</button>
            <button class="btn btn-sm btn-ghost-secondary" [routerLink]="[ '/panel/usuarios/']"
              type="button">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>