<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <form #f="ngForm">
              <div class="row">
                <div class="form-group col-sm-12">
                    <label class="font-weight-bold">Forma de Pago</label>
                    <select class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" [(ngModel)]="mov.formaPago"   aria-placeholder="Seleccione una forma de pago" required>
                        <option [value]="x" *ngFor="let x of formaDePagos"  [selected]="x==mov.formaPago ? true : null">{{x}}</option>
                      </select>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-12">
                  <label class="font-weight-bold">Seleccione un tipo de movimiento</label>
                  <select class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" [(ngModel)]="movimiento"   aria-placeholder="Seleccione una movimiento" required>
                    <option value="INGRESO">Agregar salida a caja</option>
                    <option value="EGRESO">Agregar ingreso a caja</option>
                    </select>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-12">
                  <label class="font-weight-bold">Monto</label>
                  <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" [(ngModel)]="mov.monto"
                    placeholder="Ingrese monto" type="tel" step="0.01" required>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-12">
                  <label class="font-weight-bold">Motivo</label>
                  <textarea class="form-control form-control-sm" rows="2" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="mov.motivo" placeholder="Descripción del movimiento..." type="text"></textarea>
                </div>
              </div>
              <div class="form-group form-actions">
                <button class="btn btn-sm btn-info" (click)="openModal(template)">Agregar movimiento</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #template>
    <div class="modal-header">
      <h4 class="text-center">Se agregará un movimiento manual</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #f="ngForm">
        <div class="form-group form-actions">
          <button class="btn btn-sm btn-info" (click)="create()">Confirmar</button>
          <button class="btn btn-sm btn-ghost-light active" (click)="modalRef.hide()" type="button">Cancelar</button>
        </div>
      </form>
    </div>
  </ng-template>
  