<div class="card">
  <div class="col-lg-xs-ms">
    <div class="card">
      <div class="card-header" *ngIf="editMode">
        <button type="button" class="btn btn-ghost-secondary" (click)="lockEditMode()"
          aria-controls="dropdown-basic"><span class="fa fa-times"></span>
        </button>
        <strong>Detalles de la categoria</strong>
        <div class="card-header-actions">
          <div class="btn-group col-md-offset-4" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-ghost-secondary" aria-controls="dropdown-basic"><span
                class="icon-options-vertical"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu "
              aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" (click)="unlockEditMode()" [hidden]="editMode">Editar</a>
              </li>
              <li role="menuitem"><a class="dropdown-item" (click)="lockEditMode()" [hidden]="!editMode">Cancelar</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card-header" *ngIf="!editMode">
        <button type="button" class="btn btn-ghost-secondary" [routerLink]="[ '/panel/tratamientos']">
          <i class="fa fa-reply"></i>
        </button>
        <strong>Detalles de la Categoria</strong>
        <div class="card-header-actions">
          <div class="btn-group col-md-offset-4" dropdown>
            <button id="button-basic" dropdownToggle type="button"class="btn btn-ghost-secondary" aria-controls="dropdown-basic"><span
                class="icon-options-vertical"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
              aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" (click)="unlockEditMode()" [hidden]="editMode">Editar</a>
              </li>
              <li role="menuitem"><a class="dropdown-item" (click)="lockEditMode()" [hidden]="!editMode">Cancelar</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="text-center" *ngIf="categoria.nombre==null">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="card-body" [hidden]="!categoria.nombre">
        <form>
          <div class="row">
            <div class="form-group col-sm-12">
              <label class="font-weight-bold">Nombre de la categoria</label>
              <input class="form-control form-control-sm" [disabled]="!editMode" [ngModelOptions]="{standalone: true}"
                placeholder="Ingrese nombre" [(ngModel)]="categoria.nombre" type="text" required>
            </div>
          </div>
          <div class="form-group form-actions">
            <button class="btn btn-sm btn-info" [disabled]="categoria.nombre==null" *ngIf="editMode"
              (click)="actualizarCategoria()">Actualizar nombre</button>
          <button class="btn btn-sm btn-danger"  *ngIf="editMode"
            (click)="openModalCreateTratamiento(templateCreateTratamiento)">Nuevo Tratamiento</button>
          </div>
        </form>
      </div>
      <div class="card-body" *ngIf="categoria.tratamientos.length>0">
        <div class="table-responsive table-sm">
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th class="text-left">N°</th>
                <th class="text-center">Nombre del tratamiento</th>
                <th class="text-center">Cantidad de sesiones</th>
                <th class="text-center">Precio por sesión</th>
                <th class="text-center">Sala</th>
                <th class="text-right"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let u of categoria.tratamientos" [hidden]="!categoria.tratamientos.length>0">
                <td class="text-left">{{u.id}}</td>
                <td class="text-center">{{u.nombre}}</td>
                <td class="text-center">{{u.sesiones}}</td>
                <td class="text-center">{{u.precio|currency}}</td>
                <td class="text-center">
                  <div *ngFor="let item of u.habitaciones">{{item.nombre}}</div>
                </td>
                <td class="text-right">
                  <button *ngIf="editMode" tooltip="Eliminar tratamiento" type="button"
                    (click)="openModal(template,u.id)" class="btn btn-ghost-secondary">
                    <i class="fa icon-close"></i>
                  </button>
                  <button tooltip="Editar item" *ngIf="editMode" type="button" class="btn btn-ghost-secondary"
                    (click)="openModalEdit(templateEdit,u)">
                    <i class="fa icon-pencil"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="text-center">
          <div class="spinner-border" role="status" [hidden]="!load">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <!-- <div class="form-group form-actions text-left ">
          <button class="btn btn-sm  btn-ghost-secondary" *ngIf="editMode" [routerLink]="[ '/panel/tratamientos/']"
            type="button">Cancelar</button>
        </div> -->
      </div>
    </div>
  </div>
</div>
<ng-template #template>
  <div class="modal-header">
    <h4 class="text-center">Se borrará el tratamiento seleccionado</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="limpiarModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm">
      <div class="text-center">
          <div class="spinner-border" role="status" [hidden]="!load">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      <div class="form-group form-actions">
        <button class="btn btn-sm btn-info" (click)="deleteTratamiento()">Confirmar</button>
        <button class="btn btn-sm btn-ghost-light active" (click)="limpiarModal()" type="button">Cancelar</button>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #templateCreateTratamiento>
    <div class="modal-header">
      <h4 class="text-center">Nuevo tratamiento</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="limpiarModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #f="ngForm">
        <div class="row">
          <div class="form-group col-sm-6">
            <label class="font-weight-bold">Nombre del tratamiento</label>
            <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" placeholder="Ingrese nombre"
              [(ngModel)]="tempTratamiento.nombre" type="text" required>
          </div>
          <div class="form-group col-sm-6">
            <label class="font-weight-bold">Precio por sesión</label>
            <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" step="0.1" placeholder="Ingrese nombre"
              [(ngModel)]="tempTratamiento.precio" type="number" required>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6">
            <label class="font-weight-bold">Cantidad de sesiones</label>
            <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" placeholder="Ingrese nombre"
              [(ngModel)]="tempTratamiento.sesiones" type="number" required>
          </div>
          <div class="form-group col-sm-6">
            <label class="font-weight-bold">Salas</label>
            <div class="custom-control custom-checkbox mb-3" *ngFor="let u of salas">
              <input type="checkbox" class="custom-control-input" id="{{u.id}}" name="example1" (click)="setClickedRow(u)"
                [class.active]="u == selectedRow">
              <label class="custom-control-label" for="{{u.id}}">{{u.nombre}}</label>
            </div>
          </div>
        </div>
        <div class="text-center">
            <div class="spinner-border" role="status" [hidden]="!load">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        <div class="form-group form-actions">
          <button class="btn btn-sm btn-info" (click)="actualizarTratamiento()">Crear tratamiento</button>
          <button class="btn btn-sm btn-ghost-light active" (click)="limpiarModal()" type="button">Cancelar</button>
        </div>
      </form>
    </div>
  </ng-template>
<ng-template #templateEdit>
  <div class="modal-header">
    <h4 class="text-center">Detalles del tratamiento</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="limpiarModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm">
      <div class="row">
        <div class="form-group col-sm-6">
          <label class="font-weight-bold">Nombre del tratamiento</label>
          <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" placeholder="Ingrese nombre"
            [(ngModel)]="tempTratamiento.nombre" type="text" required>
        </div>
        <div class="form-group col-sm-6">
          <label class="font-weight-bold">Precio por sesión</label>
          <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" step="0.1" placeholder="Ingrese nombre"
            [(ngModel)]="tempTratamiento.precio" type="number" required>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4">
          <label class="font-weight-bold">Cantidad de sesiones</label>
          <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" placeholder="Ingrese nombre"
            [(ngModel)]="tempTratamiento.sesiones" type="number" required>
        </div>
        <div class="form-group col-sm-4">
          <label class="font-weight-bold">Salas</label>
          <div class="custom-control custom-checkbox mb-3" *ngFor="let u of salas">
            <input type="checkbox" class="custom-control-input" id="{{u.id}}" name="example1" (click)="setClickedRow(u)"
              [class.active]="u == selectedRow">
            <label class="custom-control-label" for="{{u.id}}">{{u.nombre}}</label>
          </div>
        </div>
        <div class="form-group col-sm-4">
          <h5>Salas guardadas</h5>
          <li *ngFor="let item of tempTratamiento.habitaciones">
            {{item.nombre}}</li>
          <li *ngIf="tempTratamiento.habitaciones.length==0">No hay salas guardadas para el tratamiento</li>
        </div>
      </div>
      <div class="text-center">
          <div class="spinner-border" role="status" [hidden]="!load">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      <div class="form-group form-actions">
        <button class="btn btn-sm btn-info" (click)="actualizarTratamiento()">Actualizar tratamiento</button>
        <button class="btn btn-sm btn-ghost-light active" (click)="limpiarModal()" type="button">Cancelar</button>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #templateGuardar>
  <div class="modal-header">
    <h4 class="text-center">Se actualizará la categoria</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="limpiarModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm">
        <div class="text-center">
            <div class="spinner-border" role="status" [hidden]="!load">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
      <div class="form-group form-actions">
        <button class="btn btn-sm btn-info" (click)="createTemplate()">Confirmar</button>
        <button class="btn btn-sm btn-ghost-light active" (click)="limpiarModal()" type="button">Cancelar</button>
      </div>
    </form>
  </div>
</ng-template>