<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <!-- HEADER BASE -->
        <div class="card-header" [hidden]="searchText">
          <div class="row">
            <div style="width: 90%">
                <button type="button" class="btn btn-ghost-light">
                    <i class="fa icon-menu
                    "></i>
                  </button>
                <strong>Proveedores</strong>
            </div>
            <!-- <div style="width: 2%">
              <button id="button-basic" type="button" (click)="mostrar()" tooltip="Buscar proveedor" class="btn btn-ghost-secondary "><i class="fa fa-search"
                  aria-hidden="true"></i>
              </button>
            </div> -->
          </div>
        </div>
        <!-- HEADER SEARCH -->
        <div class="card-header" [hidden]="!searchText">
          <div class="row">
            <div style="width: 90%">
              <app-search-cliente></app-search-cliente>
            </div>
            <div style="width: 2%">
              <button id="button-basic" type="button" (click)="ocultar()" class="btn btn-ghost-secondary"><i class="fa fa-times-circle"
                  aria-hidden="true"></i>

              </button>
            </div>
          </div>
        </div>
        <div class="d-flex flex-nowrap align-self-end" style="padding-right: 15px;padding-top: 5px;">
          <div class="d-flex flex-nowrap ">
            <!-- <button aria-pressed="true" class="btn btn-danger" type="button"
              (click)="refresh()">Actualizar</button> -->
            <button aria-pressed="true" tooltip="Crear nuevo proveedor" class="btn btn-sm btn-info" type="button"
              [routerLink]="[ '/panel/proveedores/create']">Nuevo Proveedor</button>
          </div>
        </div>
        <div class="card-body" [hidden]="abrirForm">
           <div class="table-responsive table-sm">
           <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th class="text-center">Código</th>
                  <th class="text-center">Razón Social</th>
                  <th class="text-center">DNI/CUIL/CUIT</th>
                  <th class="text-center">Teléfono</th>
                  <th class="text-center">Localidad</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let u of proveedores" [hidden]="!proveedores.length>0">
                  <td class="text-center">{{u.id}}</td>
                  <td class="text-center">{{u.razonSocial}}</td>
                  <td class="text-center">{{u.cuit}}</td>
                  <td class="text-center">{{u.telefono}}</td>
                  <td class="text-center">{{u.localidad}}</td>
                  <td>
                    <button tooltip="Editar proveedor" type="button" class="btn btn-ghost-secondary"
                      [routerLink]="[ '/panel/proveedores/details', u.id ]">
                      <i class="fa icon-pencil"></i>
                    </button>
                    <button tooltip="Eliminar proveedor" type="button" class="btn btn-ghost-secondary" (click)="openModal(template,u.id)">
                      <i class="fa icon-close
                          "></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class=" text-nowrap"  [hidden]="proveedores.length==0">
              <pagination [align]="true" [totalItems]="totalElements" [(ngModel)]="page"
              (pageChanged)="pageChanged($event)" [maxSize]="5" [itemsPerPage]="pageSize"  [boundaryLinks]="true" previousText="Página Anterior"
              nextText="Página Siguiente" firstText="&laquo;" lastText="&raquo;"></pagination>
            </div>
          </div>
          <div class="text-center" *ngIf="proveedores.length==0&&loading==true">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="text-center" *ngIf="proveedores.length==0&&loading==false">
            <strong>No existen proveedores</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #template>
  <div class="modal-header">
    <!-- <h4 class="modal-title pull-left">Modal</h4> -->
    <h4 class="text-center">Se eliminará el proveedor seleccionado</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm">
      <div class="form-group form-actions">
        <button class="btn btn-sm btn-info" (click)="delete()">Confirmar</button>
        <button class="btn btn-sm btn-ghost-light active" (click)="modalRef.hide()" type="button">Cancelar</button>
      </div>
    </form>
  </div>
</ng-template>