<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <!-- HEADER BASE -->
        <div class="card-header">
          <div class="row">
            <div style="width: 100%">
              <button type="button" class="btn btn-ghost-light">
                <i class="fa icon-menu
                      "></i>
              </button>
              <strong>Calendario de turnos</strong>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form #f="ngForm">
            <div class="row">
              <div class="form-group col-sm-3">
                <label class="font-weight-bold">Filtrar por profesional</label>
                <app-search-usuario (myClick)="TransportarUsuario($event)"></app-search-usuario>
              </div>
              <div class="form-group col-sm-2">
                <label class="font-weight-bold">Filtrar por cliente</label>
                <app-search-cliente (myClick)="TransportarCliente($event)"></app-search-cliente>
              </div>
              <div class="form-group col-sm-2">
                <label class="font-weight-bold">Filtrar por Dia</label>
                <input type="text" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY',isAnimated: true }"
                  (bsValueChange)="onValueChange($event)" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="filtroPagination.fecha" placeholder="Ingrese fecha" class="form-control form-control-sm"
                  bsDatepicker>
              </div>
              <div class="form-group col-sm-2">
                <label class="font-weight-bold">Filtrar por Sala</label>
                <input placeholder="Seleccione una sala" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectSala"
                  (typeaheadOnSelect)="onSelect($event)" [typeahead]="salas" typeaheadOptionField="nombre"
                  class="form-control form-control-sm">
              </div>
              <div class="form-group col-sm-3">
                <label class="font-weight-bold">Estado de Turnos</label>
                <select class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="filtroPagination.completado" aria-placeholder="Seleccione un estado"
                  (ngModelChange)="buscador()" required>
                  <option value="false">Sesiones del dia</option>
                  <option value="true">Sesiones terminadas</option>
                </select>
              </div>
            </div>
            <div class="form-group form-actions">
              <button class="btn btn-sm btn-info" (click)="buscador()">Buscar </button>
              <button aria-pressed="true" class="btn btn-sm btn-danger" type="button" (click)="refresh()">Limpiar
                Filtros</button>
            </div>
          </form>
        </div>
        <div class="card-body">
              <div>
                  <div class="row text-center">
                      <div class="col-md-4">
                        <div class="form-group form-actions">
                          <button class="btn btn-sm btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                            (viewDateChange)="closeOpenMonthViewDay()">Anterior </button>
                          <button aria-pressed="true" class="btn btn-sm btn-info" type="button" mwlCalendarToday
                            [(viewDate)]="viewDate">Dia actual</button>
                          <button aria-pressed="true" class="btn btn-sm btn-primary" mwlCalendarNextView [view]="view"
                            [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">Siguiente</button>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group form-actions">
                          <button class="btn btn-sm btn-primary" (click)="setView(CalendarView.Month)"
                            [class.active]="view === CalendarView.Month">Mes </button>
                          <button aria-pressed="true" class="btn btn-sm btn-info" type="button"
                            (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">Semana</button>
                          <button aria-pressed="true" class="btn btn-sm btn-primary" (click)="setView(CalendarView.Day)"
                            [class.active]="view === CalendarView.Day">Día</button>
                        </div>
                      </div>
                    </div>
                    <br />
                    <ng-template #loading>
                      <div class="text-center">
                        <i class="fa fa-spin fa-spinner fa-5x"></i> <br />
                        Loading events...
                      </div>
                    </ng-template>
                    <div *ngIf="events$ | async; else loading; let events">
                      <div [ngSwitch]="view">
                        <mwl-calendar-month-view
                          *ngSwitchCase="'month'"
                          [viewDate]="viewDate"
                          [events]="events"
                          [activeDayIsOpen]="activeDayIsOpen"
                          (dayClicked)="dayClicked($event.day)"
                          (eventClicked)="eventClicked($event.event)"
                        >
                        </mwl-calendar-month-view>
                        <mwl-calendar-week-view
                          *ngSwitchCase="'week'"
                          [viewDate]="viewDate"
                          [events]="events"
                          (eventClicked)="eventClicked($event.event)"
                        >
                        </mwl-calendar-week-view>
                        <mwl-calendar-day-view
                          *ngSwitchCase="'day'"
                          [viewDate]="viewDate"
                          [events]="events"
                          (eventClicked)="eventClicked($event.event)"
                        >
                        </mwl-calendar-day-view>
                      </div>
                    </div>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>