<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <!-- HEADER BASE -->
          <div class="card-header">
            <div class="row">
              <div style="width: 100%">
                <button type="button" class="btn btn-ghost-light">
                  <i class="fa icon-menu
                      "></i>
                </button>
                <strong>Recibos cliente</strong>
              </div>
            </div>
          </div>
          <div class="card-body">
            <app-search-cliente (myClick)="Transportar($event)"></app-search-cliente>
          </div>
  
          <div class="card-body" >
              <strong class="text-center" *ngIf="temp!=''" >Movimientos del cliente {{temp}}</strong>
              <div class="form-group form-actions text-right ">
                  <button  class="btn btn-sm btn-dark" type="button" tooltip="Imprimir listado de cuenta corriente"
                  (click)="reportList()">Imprimir Resumen de cuenta</button>
              </div>
          </div>
  
          <div class="card-body">
            <div class="table-responsive table-sm" [hidden]="movimientos.length==0" >
             <table class="table table-striped">
                <thead class="thead-dark" class="thead-dark">
                  <tr>
                    <th>Fecha</th>
                    <th>Concepto</th>
                    <th class="text-center">Monto</th>
                    <th class="text-center"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let u of movimientos" [hidden]="!movimientos.length>0"  [ngClass]="{'text-success':u.cantidad>0,'text-danger':u.cantidad<0}">
                    <td >{{u.fecha| date: "dd-MM-yyyy HH:mm:ss"}}</td>
                    <td>{{u.concepto}}</td>
                    <td class="text-center">{{u.monto|currency}}</td>
                    <td class="text-center">
                        <button tooltip="Imprimir recibo" type="button" class="btn btn-ghost-secondary"
                        (click)="report(u.id)">
                        <i class="fa fa-print"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class=" text-nowrap"  [hidden]="movimientos.length==0">
                <pagination [align]="true" [totalItems]="totalElements" [(ngModel)]="page"
                (pageChanged)="pageChanged($event)" [maxSize]="5" [itemsPerPage]="pageSize"  [boundaryLinks]="true" previousText="Página Anterior"
                nextText="Página Siguiente" firstText="&laquo;" lastText="&raquo;"></pagination>
              </div>
            </div>
            <div class="text-center" *ngIf="movimientos.length==0&&loading==true">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div> 
          </div>
          <div class="text-center" *ngIf="movimientos.length==0&&loading==false">
            <strong>No existen recibos</strong>
          </div>
        </div>
      </div>
    </div>
  </div>