<div class="card">
  <div class="col-lg-xs-ms">
    <div class="card">
      <div class="card-header">
          <button type="button" class="btn btn-ghost-secondary" [routerLink]="[ '/panel/feriados/list']">
            <i class="fa fa-reply" ></i>
        </button>
        <strong>Crear Feriado</strong>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
              <div class="form-group col-sm-6">
                  <label class="font-weight-bold">Desde</label>
                  <input type="text" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [ngModelOptions]="{standalone: true}" [(ngModel)]="feriado.desde"  placeholder="Ingrese fecha" class="form-control form-control-sm" bsDatepicker>
                  <timepicker [ngModelOptions]="{standalone: true}"   [(ngModel)]="feriado.desde"></timepicker>
                </div>
                <div class="form-group col-sm-6">
                  <label class="font-weight-bold">Hasta</label>
                  <input type="text" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [ngModelOptions]="{standalone: true}" [(ngModel)]="feriado.hasta"  placeholder="Ingrese fecha" class="form-control form-control-sm" bsDatepicker>
                  <timepicker   [ngModelOptions]="{standalone: true}"   [(ngModel)]="feriado.hasta"></timepicker>
                </div>
          </div>
          <div class="form-group col-sm-12">
              <label class="font-weight-bold">Motivo</label>
              <textarea class="form-control form-control-sm" rows="2" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="feriado.motivo" placeholder="Motivo..." type="text"></textarea>
            </div>
         
          <div class="text-center">
            <div class="spinner-border" role="status" [hidden]="!load">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="form-group form-actions text-left ">
            <button class="btn btn-sm btn-info" [disabled]="load" (click)="createFeriado()">Crear Feriado</button>
            <button  class="btn btn-sm  btn-ghost-secondary" [routerLink]="[ '/panel/feriados/list']" type="button">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>