<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <form #f="ngForm">
            <div class="row">
              <div class="col-sm-12">
                <app-search-tratamiento (myClick)="TransportarTratamiento($event)"></app-search-tratamiento>
                <strong *ngIf="tratamiento.nombre!=''">Detalles del tratamiento {{tratamiento.nombre}}({{tratamiento.id}})</strong>
              </div>
            </div>
            <div class="row" *ngIf="tratamiento.nombre!=''">
              <div class="form-group col-sm-6">
                <label class="font-weight-bold">Cantidad de sesiones</label>
                <input class="form-control form-control-sm" (ngModelChange)="calcularTratamiento()" step="0.01" min="0"
                  [ngModelOptions]="{standalone: true}" [(ngModel)]="tempTratamiento.sesionesTratamiento"
                  placeholder="Ingrese cantidad de sesiones" type="number" required>
              </div>
              <div class="form-group col-sm-6">
                <label class="font-weight-bold">Precio por sesión</label>
                <input class="form-control form-control-sm" (ngModelChange)="calcularTratamiento()" step="0.01" min="0"
                  [ngModelOptions]="{standalone: true}" [disabled]="tratamiento.nombre!=''" [(ngModel)]="tempTratamiento.costoTratamiento"
                  placeholder="Ingrese monto" type="number" required>
              </div>
              <div class="form-group col-sm-6">
                <label class="font-weight-bold">Descuento($$)</label>
                <input class="form-control form-control-sm" (ngModelChange)="calcularTratamiento()" step="0.01" min="0"
                  [ngModelOptions]="{standalone: true}" [(ngModel)]="tempTratamiento.descuentoTratamiento"
                  placeholder="Ingrese monto" type="number" required>
              </div>
              <div class="form-group col-sm-6">
                <strong>Total a pagar({{calcularTratamiento()|currency}})</strong>
              </div>
            </div>
            <div class="form-group form-actions"  *ngIf="tratamiento.nombre!=''">
              <button class="btn btn-sm btn-info" (click)="addTratamiento()">Añadir al carrito</button>
              <button class="btn btn-sm btn-ghost-light active" (click)="limpiarForm()" type="button">Cancelar</button>
            </div>
          </form>
        </div>
        <div class="card-body" *ngIf="tablaTratamientos.length>0">
          <div class="table-responsive table-sm">
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th class="text-center">Nombre</th>
                  <th class="text-center">Sesiones</th>
                  <th class="text-center">Descuento</th>
                  <th class="text-center">Precio Final</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let u of tablaTratamientos" [hidden]="!tablaTratamientos.length>0">
                  <td class="text-center">{{u.nombre}}</td>
                  <td class="text-center">{{u.sesiones}}</td>
                  <td class="text-center">{{precioTotal(u)|currency}}</td>
                  <td class="text-center">{{u.precioFinal|currency}}</td>
                  <td>
                    <button tooltip="Eliminar tratamiento" type="button" (click)="openModalTratamiento(template,u)"
                      class="btn btn-ghost-secondary">
                      <i class="fa icon-close"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #template>
  <div class="modal-header">
    <h4 class="text-center">Se borrará el tratamiento de la tabla</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm">
      <div class="form-group form-actions">
        <button class="btn btn-sm btn-info" (click)="eliminarItemTratamiento()">Confirmar</button>
        <button class="btn btn-sm btn-ghost-light active" (click)="modalRef.hide()" type="button">Cancelar</button>
      </div>
    </form>
  </div>
</ng-template>