<div class="d-flex flex-nowrap align-self-end" style="padding-right: 15px;padding-top: 5px;">
  <div class="d-flex flex-nowrap ">
    <button aria-pressed="true" tooltip="Crear nueva configuración" class="btn btn-sm btn-info" type="button"
      (click)="openModalCreate()" [disabled]="listaConfigs.length>1">Nueva configuración</button>
  </div>
</div>
<div class="card-body" *ngIf="abrirFormAfip==false">
  <div class="table-responsive table-sm">
    <!--Table-->
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th class="text-center">Código</th>
          <th class="text-center">Nombre</th>
          <th class="text-right">Url de Servicio</th>
          <th class="text-right">destDN</th>
          <th class="text-right"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of listaConfigs" [hidden]="!listaConfigs.length>0">
          <td class="text-center">{{u.id}}</td>
          <td class="text-center">{{u.nombre}}</td>
          <td class="text-center">{{u.urlServicios}}</td>
          <td class="text-center">{{u.destDN}}</td>
          <td class="text-right">
            <button tooltip="Editar configuración" type="button" class="btn btn-ghost-secondary"
              (click)="editar(u)">
              <i class="fa icon-pencil"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center" *ngIf="listaConfigs.length==0&&loading==false">
    <strong>No existen registros</strong>
  </div>
</div>
<div class="card-body" *ngIf="abrirFormAfip==true">
  <form #f="ngForm">
    <div class="row">
      <div class="form-group col-sm-3">
        <label class="font-weight-bold">Nombre</label>
        <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
          placeholder="Ingrese nombre" required [(ngModel)]="afipWS.nombre" type="text" required>
      </div>
      <div class="form-group col-sm-3">
        <label class="font-weight-bold">Signer</label>
        <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
          [(ngModel)]="afipWS.signer" placeholder="Ingrese signer" type="text" required>
      </div>
      <div class="form-group col-sm-3">
        <label class="font-weight-bold">Ticket Time</label>
        <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
          [(ngModel)]="afipWS.ticketTime" [disabled]="!default" placeholder="Ingrese ticketTime" type="text">
      </div>
      <div class="form-group col-sm-3">
        <label class="font-weight-bold">Tipo</label>
        <select class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" [(ngModel)]="afipWS.tipo" aria-placeholder="Seleccione un estado" (change)="onOptionsSelected($event.target.value)" required>
          <option value="1">Producción</option>
          <option value="0">Testing</option>
        </select>
      </div>
    </div>
    <!-- Parte 2 -->
    <!-- <div class="row">
      
    </div> -->
    <div class="row">
      <div class="form-group col-sm-8">
        <label class="font-weight-bold">DestDN</label>
        <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
        [(ngModel)]="afipWS.destDN" placeholder="Ingrese destDN" type="text" required>
      </div>
      <div class="form-group col-sm-4">
        <label class="font-weight-bold">Contraseña</label>
        <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
        [(ngModel)]="afipWS.clave" placeholder="Ingrese clave" type="text" required>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <label class="font-weight-bold">Url</label>
        <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
        [(ngModel)]="afipWS.url" placeholder="" [disabled]="!default" type="text">
      </div>
      <div class="form-group col-sm-6">
        <label class="font-weight-bold">Url Servicio</label>
        <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
          [(ngModel)]="afipWS.urlServicios" placeholder="" [disabled]="!default" type="text">
      </div>
    </div>
    <div class="text-center">
      <div class="spinner-border" role="status" [hidden]="!load">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="form-group form-actions text-left ">
      <button class="btn btn-sm btn-info" (click)="create()">Guardar configuración</button>
      <button class="btn btn-sm btn-ghost-light active" (click)="cerrarForm()"
        type="button">Cancelar</button>
    </div>
  </form>
</div>