<div class="card">
  <div class="col-lg-xs-ms">
    <div class="card">
      <div class="card-header">
        <strong>Crear cliente</strong>
      </div>
      <div class="card-body" [hidden]="!cliente">
          <form [formGroup]="clienteForm" (ngSubmit)="createCliente()">
            <div class="row">
              <div class="form-group col-sm-6">
                <label class="font-weight-bold">Nombre</label>
                <input class="form-control form-control-sm" formControlName="nombre" placeholder="Ingrese nombre" type="text"
                  [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" required>
                <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                  <div *ngIf="f.nombre.errors.required">Campo Obligatorio</div>
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label class="font-weight-bold">Apellido</label>
                <input class="form-control form-control-sm" formControlName="apellido" placeholder="Ingrese apellido"
                  [ngClass]="{ 'is-invalid': submitted && f.apellido.errors }" type="text" required>
                <div *ngIf="submitted && f.apellido.errors" class="invalid-feedback">
                  <div *ngIf="f.apellido.errors.required">Campo Obligatorio</div>
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label class="font-weight-bold">Teléfono 1</label>
                <input class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submitted && f.celular1.errors }"
                  formControlName="celular1" placeholder="Ingrese telefono" type="text" required>
                <div *ngIf="submitted && f.celular1.errors" class="invalid-feedback">
                  <div *ngIf="f.celular1.errors.required">Campo Obligatorio</div>
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label class="font-weight-bold">Teléfono 2</label>
                <input class="form-control form-control-sm" [(ngModel)]="cliente.celular2" [ngModelOptions]="{standalone: true}"
                  placeholder="Ingrese telefono" type="text">
              </div>
            </div>
            <div class="row">
              <!-- <div class="form-group col-sm-6">
                  <label class="font-weight-bold">Tipo de Documento</label>
                  <select class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="tipoDocumento"  required>
                    <option [value]="nombre.nombreTipoDocumento" *ngFor="let nombre of tipoDeDocumentos"
                      [selected]="nombre.nombreTipoDocumento==tipoDocumento ? true : null">{{nombre.nombreTipoDocumento}}
                    </option>
                  </select>
              </div> -->
              <div class="form-group col-sm-6">
                <label class="font-weight-bold">N° de Documento</label>
                <input class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submitted && f.dni.errors }" formControlName="dni"
                  placeholder="N° de Documento" type="text" required>
                <div *ngIf="submitted && f.dni.errors" class="invalid-feedback">
                  <div *ngIf="f.dni.errors.required">Campo Obligatorio</div>
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label class="font-weight-bold">Fecha de Nacimiento</label>
                <input type="text" [ngClass]="{ 'is-invalid': submitted && f.fechaNacimiento.errors }"
                  formControlName="fechaNacimiento" placeholder="Ingrese fecha" class="form-control form-control-sm" bsDatepicker>
              </div>
              <div class="form-group col-sm-6">
                <label class="font-weight-bold">Email</label>
                <input class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                  formControlName="email" placeholder="Email" type="email">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Campo requerido</div>
                  <div *ngIf="f.email.errors.email">Email erroneo. Ej:example@example.com</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-4">
                <label class="font-weight-bold">Provincia</label>
                <input placeholder="Seleccione una provincia"
                  [ngClass]="{ 'is-invalid': submitted && f.provincia.errors }" formControlName="provincia" #t
                  (typeaheadOnSelect)="onSelect($event)" formControlName="provincia" [typeahead]="localidades"
                  typeaheadOptionField="nombre" class="form-control form-control-sm">
                <div *ngIf="submitted && f.provincia.errors" class="invalid-feedback">
                  <div *ngIf="f.provincia.errors.required">Campo Obligatorio</div>
                </div>
              </div>
              <div class="form-group col-sm-4" [hidden]="ciudades==undefined">
                <label class="font-weight-bold">Localidad</label>
                <input placeholder="Seleccione una ciudad" [ngClass]="{ 'is-invalid': submitted && f.localidad.errors }"
                  formControlName="localidad" [typeahead]="ciudades" typeaheadOptionField="nombre" class="form-control form-control-sm">
                <div *ngIf="submitted && f.localidad.errors" class="invalid-feedback">
                  <div *ngIf="f.localidad.errors.required">Campo Obligatorio</div>
                </div>
              </div>
              <div class="form-group col-sm-4">
                <label class="font-weight-bold">Dirección</label>
                <input class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submitted && f.direccion.errors }"
                  formControlName="direccion" placeholder="Dirección" type="text" required>
                <div *ngIf="submitted && f.direccion.errors" class="invalid-feedback">
                  <div *ngIf="f.direccion.errors.required">Campo Obligatorio</div>
                </div>
              </div>
            </div>
            <div class="row">
                <!-- <div class="form-group col-sm-6">
                    <label class="font-weight-bold">Condición Fiscal</label>
                    <select class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="condicionFiscal"  required>
                      <option [value]="nombre.nombre" *ngFor="let nombre of condicionesFrenteAlIva"
                        [selected]="nombre.nombre==condicionFiscal ? true : null">{{nombre.nombre}}</option>
                    </select>
                  </div> -->
                  <!-- <div class="form-group col-sm-6">
                    <label class="font-weight-bold">Tipo de Comprobante</label>
                    <input placeholder="Seleccione tipo de comprobante" [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="tipoFactura" typeaheadOptionField="descrWs" (typeaheadOnSelect)="onSelectFactura($event)"
                      [typeahead]="tipoDeFacturas" 
                      typeaheadWordDelimiters="descrWs==tipoFactura? true : null" class="form-control form-control-sm">
                  </div> -->
              <div class="form-group col-sm-6">
                <label class="font-weight-bold">Hijos</label>
                <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" placeholder="Hijos"
                  [(ngModel)]="cliente.hijos" type="number">
              </div>
              <div class="form-group col-sm-6">
                <label class="font-weight-bold">Estado Civil</label>
                <select class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submitted && f.estadoCivil.errors }"
                  formControlName="estadoCivil" aria-placeholder="Seleccione un estado" required>
                  <option value="Soltero/a">Soltero/a</option>
                  <option value="Casado/a">Casado/a</option>
                  <option value="Divorciado/a">Divorciado/a</option>
                  <option value="Viudo/a">Viudo/a</option>
                </select>
                <div *ngIf="submitted && f.estadoCivil.errors" class="invalid-feedback">
                  <div *ngIf="f.estadoCivil.errors.required">Campo Obligatorio</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-4">
                  <div class="custom-control custom-checkbox mb-3">
                      <input type="checkbox" class="custom-control-input" id="customCheck" name="example1"  [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="cliente.whatsapp">
                      <label class="custom-control-label" for="customCheck">Whatsapp</label>
                    </div>
              </div>
            </div>
            <div class="text-center">
              <div class="spinner-border" role="status" [hidden]="!load">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <div class="form-group form-actions text-left ">
              <button class="btn btn-sm btn-info" [disabled]="load">Crear Cliente</button>
              <!-- <button class="btn btn-sm  btn-ghost-secondary" [routerLink]="[ '/panel/clientes/list']"
                type="button">Cancelar</button> -->
            </div>
          </form>
        </div>
    </div>
  </div>
</div>