<div class="card">
  <div class="col-lg-xs-ms">
    <div class="card">
      <div class="card-header">
          <button type="button" class="btn btn-ghost-secondary" [routerLink]="[ '/panel/proveedores']">
            <i class="fa fa-reply" ></i>
        </button>
        <strong>Crear proveedor</strong>
      </div>
      <div class="card-body">
        <form [formGroup]="proveedorForm" (ngSubmit)="createProveedor()">
          <div class="row">
            <div class="form-group col-sm-6">
              <label class="font-weight-bold">Razón Social</label>
              <input class="form-control form-control-sm" formControlName="razonSocial" placeholder="Ingrese razón social" type="text"
                [ngClass]="{ 'is-invalid': submitted && f.razonSocial.errors }" required>
              <div *ngIf="submitted && f.razonSocial.errors" class="invalid-feedback">
                <div *ngIf="f.razonSocial.errors.required">Campo Obligatorio</div>
              </div>
            </div>
            <div class="form-group col-sm-6">
              <label class="font-weight-bold">CUIT/CUIL</label>
              <input class="form-control form-control-sm" formControlName="cuit" placeholder="Ingrese CUIT/CUIL"
                [ngClass]="{ 'is-invalid': submitted && f.cuit.errors }" type="text" required>
              <div *ngIf="submitted && f.cuit.errors" class="invalid-feedback">
                <div *ngIf="f.cuit.errors.required">Campo Obligatorio</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-4">
              <label class="font-weight-bold">Provincia</label>
              <input placeholder="Seleccione una provincia" [ngClass]="{ 'is-invalid': submitted && f.provincia.errors }" formControlName="provincia" #t
               (typeaheadOnSelect)="onSelect($event)" formControlName="provincia" [typeahead]="localidades" typeaheadOptionField="nombre" class="form-control form-control-sm">
              <div *ngIf="submitted && f.provincia.errors" class="invalid-feedback">
                <div *ngIf="f.provincia.errors.required">Campo Obligatorio</div>
              </div>
            </div>
            <div class="form-group col-sm-4" [hidden]="ciudades==undefined">
              <label class="font-weight-bold">Localidad</label>
              <input placeholder="Seleccione una ciudad" [ngClass]="{ 'is-invalid': submitted && f.localidad.errors }" formControlName="localidad" [typeahead]="ciudades" typeaheadOptionField="nombre" class="form-control form-control-sm">
              <div *ngIf="submitted && f.localidad.errors" class="invalid-feedback">
                <div *ngIf="f.localidad.errors.required">Campo Obligatorio</div>
              </div>
            </div>
            <div class="form-group col-sm-4">
              <label class="font-weight-bold">Teléfono</label>
              <input class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submitted && f.telefono.errors }"
                formControlName="telefono" placeholder="Teléfono" type="text" required>
              <div *ngIf="submitted && f.telefono.errors" class="invalid-feedback">
                <div *ngIf="f.telefono.errors.required">Campo Obligatorio</div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <div class="spinner-border" role="status" [hidden]="!load">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="form-group form-actions text-left ">
            <button class="btn btn-sm btn-info" [disabled]="load">Crear Proveedor</button>
            <button  class="btn btn-sm  btn-ghost-secondary" [routerLink]="[ '/panel/proveedores/']" type="button">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>