<div class="card">
    <div class="col-lg-xs-ms">
      <div class="card">
        <div class="card-header" *ngIf="editMode">
          <button type="button" class="btn btn-ghost-secondary" (click)="lockEditMode()"  aria-controls="dropdown-basic"><span
            class="fa fa-times"></span>
          </button>
          <strong>Detalles de la Sala</strong>
          <div class="card-header-actions">
            <div class="btn-group col-md-offset-4" dropdown>
              <button id="button-basic" dropdownToggle type="button" class="btn btn-ghost-secondary" aria-controls="dropdown-basic"><span
                  class="icon-options-vertical"></span>
              </button>
              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu "
                aria-labelledby="button-basic">
                <li role="menuitem"><a class="dropdown-item" (click)="unlockEditMode()" [hidden]="editMode">Editar</a>
                </li>
                <li role="menuitem"><a class="dropdown-item" (click)="lockEditMode()" [hidden]="!editMode">Cancelar</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
  
        <div class="card-header" *ngIf="!editMode">
          <button type="button" class="btn btn-ghost-secondary" [routerLink]="[ '/panel/salas/list']">
            <i class="fa fa-reply"></i>
          </button>
          <strong>Detalles de la Sala</strong>
          <div class="card-header-actions">
            <div class="btn-group col-md-offset-4" dropdown>
              <button id="button-basic" dropdownToggle type="button"class="btn btn-ghost-secondary" aria-controls="dropdown-basic"><span
                  class="icon-options-vertical"></span>
              </button>
              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                aria-labelledby="button-basic">
                <li role="menuitem"><a class="dropdown-item" (click)="unlockEditMode()" [hidden]="editMode">Editar</a>
                </li>
                <li role="menuitem"><a class="dropdown-item" (click)="lockEditMode()" [hidden]="!editMode">Cancelar</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="text-center" *ngIf="sala.nombre==null">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <form #f="ngForm" [hidden]="sala.nombre==null">
              <div class="row">
                  <div class="form-group col-sm-6">
                    <label class="font-weight-bold">Nombre de la sala</label>
                    <input class="form-control form-control-sm" [disabled]="!editMode" [ngModelOptions]="{standalone: true}" placeholder="Sala"
                      [(ngModel)]="sala.nombre" type="text" required>
                  </div>
                </div>
            <div class="text-center">
              <div class="spinner-border" role="status" [hidden]="!load">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <div class="form-group form-actions">
              <button class="btn btn-sm btn-info" (click)="updateSala()" *ngIf="editMode"
                [disabled]="load">Actualizar</button>
              <button class="btn btn-sm btn-ghost-secondary" (click)="lockEditMode()" *ngIf="editMode"
                type="button">Volver</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>