<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <!-- HEADER BASE -->
        <div class="card-header">
          <div class="row">
            <div style="width: 100%">
              <button type="button" class="btn btn-ghost-light">
                <i class="fa icon-menu
                      "></i>
              </button>
              <strong>Historial Turnos</strong>
            </div>
          </div>
        </div>
        <div class="d-flex flex-nowrap align-self-end" style="padding-right: 15px;padding-top: 5px;">
          <div class="d-flex flex-nowrap ">
            <button aria-pressed="true" tooltip="Crear nuevo producto" class="btn btn-sm btn-info" type="button"
              [routerLink]="[ '/panel/turnos/create']">Nuevo turno</button>
          </div>
        </div>
        <div class="card-body">
          <strong class="text-center">Referencias de estados</strong>
          <div class="row">
            <div class="col-sm-4">
              <strong class="text-center" style="color: green"><i class="fa fa-file-text"></i>TURNO TERMINADA CON
                ÉXITO</strong>
            </div>
            <div class="col-sm-4">
              <strong class="text-center" style="color:#DC3545"><i class="fa fa-file-text"></i>TURNO CANCELADO</strong>
            </div>
            <div class="col-sm-4">
              <strong class="text-center" style="color: #17A2B8"><i class="fa fa-file-text"></i>TURNO
                ACTIVO</strong>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form #f="ngForm">
            <div class="row">
              <div class="form-group col-sm-2">
                <label class="font-weight-bold">Filtrar por cliente</label>
                <app-search-cliente (myClick)="TransportarCliente($event)"></app-search-cliente>
              </div>
              <div class="form-group col-sm-2">
                <label class="font-weight-bold">Filtrar por Dia</label>
                <input type="text" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY',isAnimated: true }"
                  (bsValueChange)="onValueChange($event)" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="filtroPagination.fecha" placeholder="Ingrese fecha" class="form-control form-control-sm"
                  bsDatepicker>
              </div>
            </div>
            <div class="form-group form-actions">
              <button class="btn btn-sm btn-info" (click)="buscador()">Buscar </button>
              <button aria-pressed="true" class="btn btn-sm btn-danger" type="button" (click)="refresh()">Limpiar
                Filtros</button>
            </div>
          </form>
        </div>

        <div class="card-body">
          <div class="table-responsive table-sm">
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th class="text-center">N°</th>
                  <th class="text-center">Cliente</th>
                  <th class="text-center">Teléfono</th>
                  <th class="text-center">Fecha</th>
                  <th class="text-center">Tratamiento</th>
                  <th class="text-center">Sala</th>
                  <th class="text-center">Estado</th>
                  <th class="text-center">Observaciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let u of listaDeTurnos" [hidden]="!listaDeTurnos.length>0">
                  <td class="text-center">
                    {{u.id}}
                  </td>
                  <td class="text-center">
                    {{u.clienteTransient.apellido + ', ' +
                                  u.clienteTransient.nombre}}
                  </td>
                  <td class="text-center">{{u.clienteTransient.celular1}}</td>
                  <td class="text-center">{{u.desde|date:'dd/MM HH:mm'}}-{{u.hasta|date:'dd/MM HH:mm'}}</td>
                  <td class="text-center">{{u.tratamientoTransient.nombre}}</td>
                  <td class="text-center">{{u.habitacion.nombre}}</td>
                  <td class="text-center">
                    <!-- COMIENZO DE ESTADOS -->
                    <!--1------ Si esta dado de baja -->
                    <strong style="color: #DC3545"
                    *ngIf="u.enabled==false&&u.sesion.completa==false&&u.sesion.enabled==false">TRATAMIENTO DADO DE BAJA</strong>
                     <!--1------ Si esta cancelado -->
                    <strong style="color: #DC3545"
                      *ngIf="u.enabled==false&&u.canceladoRazon!=null&&u.sesion.completa==false&&u.sesion.enabled==true">TURNO
                      CANCELADO</strong>
                       <!--1------ Si esta activo -->
                    <strong style="color: #17A2B8"
                      *ngIf="u.enabled==true&&u.sesion.completa==false&&u.sesion.enabled==true&&u.sesion.turnoId!=null&&u.sesion.historiaClinica==null">TURNO
                      ACTIVO</strong>
                       <!--1------ Si esta terminado -->
                    <strong style="color:green"
                      *ngIf="u.enabled==true&&u.sesion.completa==true&&u.sesion.enabled==false&&u.sesion.historiaClinica!=null&&u.sesion.historiaClinica.items!=null&&u.sesion.fechaCompletada!=null">TURNO
                      TERMINADO</strong>
                      <strong style="color:green"
                      *ngIf="u.enabled==false&&u.sesion.completa==true&&u.sesion.enabled==false&&u.sesion.historiaClinica!=null&&u.sesion.historiaClinica.items!=null&&u.sesion.fechaCompletada!=null">TURNO
                      TERMINADO</strong>
                    <!-- FIN DE ESTADOS -->
                  </td>
                  <!-- **************************************************************************************************************************************************************************************************** -->
                  <!-- OBSERVACIONES -->
                   <!--1------ Si esta ACTIVO -->
                  <td class="text-center"
                    *ngIf="u.enabled==true&&u.sesion.completa==false&&u.sesion.enabled==true&&u.sesion.turnoId!=null&&u.sesion.historiaClinica==null">
                    -------</td>
                     <!--2------ Si esta renovado con motivo -->
                  <td class="text-center"
                    *ngIf="u.enabled==false&&u.canceladoRazon!=null&&u.sesion.completa==false&&u.sesion.enabled==true">
                    {{u.canceladoRazon}}</td>
                     <!--3------ Si se completo con exito -->
                  <td class="text-center"
                    *ngIf="u.sesion.historiaClinica != undefined&&observaciones(u.sesion.historiaClinica.items)!=undefined&&u.enabled==true&&u.sesion.enabled==false&&u.sesion.completa==true">
                    {{ observaciones(u.sesion.historiaClinica.items)}}
                  </td>
                  <td class="text-center"
                    *ngIf="u.sesion.historiaClinica != undefined&&observaciones(u.sesion.historiaClinica.items)!=undefined&&u.enabled==false&&u.sesion.enabled==false&&u.sesion.completa==true">
                    {{ observaciones(u.sesion.historiaClinica.items)}}
                  </td>
                   <!--4------ Si esta dado de baja -->
                  <td class="text-center"
                    *ngIf="u.sesion.historiaClinica != undefined&&observaciones(u.sesion.historiaClinica.items)!=undefined&&u.enabled==false&&u.sesion.enabled==false&&u.sesion.completa==false">
                    {{ observaciones(u.sesion.historiaClinica.items)}}
                  </td>
                  <td class="text-center"
                    *ngIf="u.sesion.historiaClinica == undefined&&u.enabled==false&&u.sesion.enabled==false&&u.sesion.completa==false">
                    DADO DE BAJA
                  </td>
                      <!-- <td class="text-center"
                    *ngIf="u.enabled==false&&u.sesion.enabled==false&&u.sesion.completa==false&&u.sesion.turnoId!=undefined">
                    <strong style="color: #DC3545">Tratamiento Dado de baja</strong></td>
                  <td class="text-center" *ngIf="u.enabled==false&&u.sesion.enabled==true&&u.sesion.completa==false">
                    <strong style="color: #DC3545">{{u.canceladoRazon}}</strong></td>
                  <td class="text-center" *ngIf="u.enabled==false&&u.sesion.enabled==false&&u.sesion.completa==false">
                    <strong style="color: #DC3545">{{u.canceladoRazon}}</strong></td>
                  <td class="text-center" *ngIf="u.enabled==false&&u.sesion.enabled==false&&u.sesion.completa==true">
                    <strong style="color: #DC3545">{{u.canceladoRazon}}</strong></td>
                    <td class="text-center"
                    *ngIf="u.sesion.historiaClinica != undefined&&u.enabled==true&&u.sesion.enabled==true&&u.sesion.completa==false&&observaciones(u.sesion.historiaClinica.items)!=undefined&&u.sesion.historiaClinica != undefined&&u.sesion.enabled==false&&u.sesion.completa==true">
                    <strong style="color:green">SESIÓN TERMINADA</strong></td>
                    <td class="text-center"
                    *ngIf="u.enabled==true&&u.sesion.completa==false&&u.sesion.enabled==true&&u.sesion.turnoId!=null&&u.sesion.historiaClinica!=null">
                    <strong style="color: #17A2B8">TURNO ACTIVO</strong></td>
                  <td class="text-center" *ngIf="u.enabled==true&&u.sesion.enabled==true&&u.sesion.completa==false">
                    -------</td>
                  <td class="text-center" *ngIf="u.enabled==false&&u.sesion.enabled==true&&u.sesion.completa==false">
                    CANCELADO</td>
                  <td class="text-center" *ngIf="u.enabled==false&&u.sesion.enabled==false&&u.sesion.completa==false">
                    CANCELADO</td>
                  <td class="text-center"
                    *ngIf="u.sesion.historiaClinica != undefined&&observaciones(u.sesion.historiaClinica.items)!=undefined&&u.enabled==true&&u.sesion.enabled==false&&u.sesion.completa==true">
                    {{ observaciones(u.sesion.historiaClinica.items)}}
                  </td>
                  <td class="text-center"
                    *ngIf="u.sesion.historiaClinica != undefined&&observaciones(u.sesion.historiaClinica.items)!=undefined&&u.enabled==false&&u.sesion.enabled==false&&u.sesion.completa==true">
                    {{ observaciones(u.sesion.historiaClinica.items)}}
                  </td>
                  <td class="text-center"
                    *ngIf="u.sesion.historiaClinica != undefined&&observaciones(u.sesion.historiaClinica.items)==null">
                    Sin Observaciones
                  </td>
                  <td class="text-center"
                    *ngIf="u.enabled==false&&u.sesion.enabled==false&&u.sesion.completa==false&&u.sesion.turnoId!=undefined &&observaciones(u.sesion.historiaClinica.items)==null"
                    style="color: brown">Tratamiento Dado de baja</td> -->
                </tr>
              </tbody>
            </table>
            <div class=" text-nowrap" [hidden]="listaDeTurnos.length==0">
              <pagination [align]="true" [totalItems]="totalElements" [(ngModel)]="page"
                (pageChanged)="pageChanged($event)" [maxSize]="5" [itemsPerPage]="pageSize" [boundaryLinks]="true"
                previousText="Página Anterior" nextText="Página Siguiente" firstText="&laquo;" lastText="&raquo;">
              </pagination>
            </div>
          </div>
        </div>
        <div class="text-center" *ngIf="listaDeTurnos.length==0&&loading==true">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="text-center" *ngIf="listaDeTurnos.length==0&&loading==false">
          <strong>No existen turnos</strong>
        </div>
      </div>
    </div>
  </div>
</div>