<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <!-- HEADER BASE -->
        <div class="card-header" [hidden]="searchText">
          <div class="row">
            <div style="width: 90%">
              <button type="button" class="btn btn-ghost-light">
                <i class="fa icon-menu
                    "></i>
              </button>
              <strong>Tratamientos</strong>
            </div>
            <div style="width: 2%">
              <button id="button-basic" type="button" (click)="mostrar()"
                class="btn btn-ghost-secondary "><i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- HEADER SEARCH -->
        <div class="card-header" [hidden]="!searchText">
          <div class="row">
            <div style="width: 90%">
              <app-search-tratamiento (myClick)="Transportar($event)"></app-search-tratamiento>
            </div>
            <div style="width: 2%">
              <button id="button-basic" type="button" (click)="ocultar()" class="btn btn-ghost-secondary"><i
                  class="fa fa-times-circle" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="d-flex flex-nowrap align-self-end" style="padding-right: 15px;padding-top: 5px;">
          <div class="d-flex flex-nowrap ">
            <!-- <button aria-pressed="true" class="btn btn-danger" type="button"
              (click)="refresh()">Actualizar</button> -->
            <button aria-pressed="true" tooltip="Crear nuevo tratamiento" class="btn btn-sm btn-info" type="button"
              (click)="openModal(template)">Nuevo Tratamiento</button>
          </div>
        </div>
        <div class="card-body" [hidden]="abrirForm">
          <div class="table-responsive table-sm">
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th class="text-left">Código</th>
                  <th class="text-center">Nombre de la categoría</th>
                  <th class="text-right"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let u of tratamientos" [hidden]="!tratamientos.length>0">
                  <td class="text-left">{{u.id}}</td>
                  <td class="text-center">{{u.nombre}}</td>
                  <td class="text-right">
                    <button tooltip="Editar tratamiento" type="button" class="btn btn-ghost-secondary"
                      [routerLink]="[ '/panel/tratamientos/details', u.id ]">
                      <i class="fa icon-pencil"></i>
                    </button>
                    <button tooltip="Eliminar tratamiento" type="button" class="btn btn-ghost-secondary"
                      (click)="openModalDelete(templateDelete,u.id)">
                      <i class="fa icon-close
                          "></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class=" text-nowrap"  [hidden]="tratamientos.length==0">
              <pagination [align]="true" [totalItems]="totalElements" [(ngModel)]="page"
                (pageChanged)="pageChanged($event)" [maxSize]="5" [itemsPerPage]="pageSize" [boundaryLinks]="true"
                previousText="Página Anterior" nextText="Página Siguiente" firstText="&laquo;" lastText="&raquo;">
              </pagination>
            </div>
          </div>
          <div class="text-center" *ngIf="tratamientos.length==0&&loading==true">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="text-center" *ngIf="tratamientos.length==0&&loading==false">
            <strong>No existen items</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #templateDelete>
  <div class="modal-header">
    <!-- <h4 class="modal-title pull-left">Modal</h4> -->
    <h4 class="text-center">Se eliminará la categoria seleccionada</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm">
      <div class="form-group form-actions">
        <button class="btn btn-sm btn-info" (click)="delete()">Confirmar</button>
        <button class="btn btn-sm btn-ghost-light active" (click)="modalRef.hide()" type="button">Cancelar</button>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #template>
  <div class="modal-header">
    <!-- <h4 class="modal-title pull-left">Modal</h4> -->
    <h4 class="text-center">Categoria</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm">
      <div class="row">
        <div class="form-group col-sm-12">
          <label class="font-weight-bold">Nombre de la categoria</label>
          <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" placeholder="Nombre de la categoria" [(ngModel)]="tratamiento.nombre"
            type="text" required>
        </div>
      </div>
      <div class="text-center">
        <div class="spinner-border" role="status" [hidden]="!load">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="form-group form-actions">
        <button class="btn btn-sm btn-info" (click)="createCategoria()">Crear nueva categoria</button>
        <button class="btn btn-sm btn-ghost-light active" (click)="modalRef.hide()" type="button">Cancelar</button>
      </div>
    </form>
  </div>
</ng-template>