<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <!-- HEADER BASE -->
        <div class="card-header">
          <div class="row">
            <div style="width: 100%">
              <button type="button" class="btn btn-ghost-secondary" [routerLink]="[ '/panel/pedidos/']">
                <i class="fa fa-reply"></i>
              </button>
              <strong>Nuevo Pedido</strong>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- <div class="row">
                <div class="form-group col-sm-6">
                    <label class="font-weight-bold float-md-left">Cliente:{{pedido.cliente.nombre}}</label>
                </div>
              </div>
          <div class="row">
            <div class="form-group col-sm-6">
              <app-search-cliente (myClick)="TransportarCliente($event)"></app-search-cliente>
            </div>
            <div class="form-group col-sm-6">
              <app-search-producto (myClick)="Transportar($event)"></app-search-producto>
            </div>
          </div> -->
          <div class="row">
            <div class="form-group col-sm-4">
              <app-search-cliente (myClick)="TransportarCliente($event)"></app-search-cliente>
            </div>
            <div class="col-sm-4" *ngIf="pedido.cliente.nombre!=null">
              <label class="font-weight-bold float-md-left">Vendedor:{{usuario.nombre}},{{usuario.apellido}}</label>
            </div>
            <div class="col-sm-4" *ngIf="pedido.cliente.nombre!=null">
              <label class="font-weight-bold float-md-left">Punto de venta:{{puntoDeVenta.nombre}}</label>
            </div>
          </div>
          <div class="row" *ngIf="pedido.cliente.nombre!=null">
            <div class="form-group col-sm-6">
              <label
                class="font-weight-bold float-md-left">Cliente:{{pedido.cliente.nombre}},{{pedido.cliente.apellido}}</label>
            </div>
          </div>
          <div class="row">
            <!-- <div class="row"> -->
            <div class="form-group col-sm-4">
              <label class="font-weight-bold">Tipo de Pago</label>
              <select [disabled]="pedido.cliente.nombre==null" class="form-control form-control-sm"
                [ngModelOptions]="{standalone: true}" [(ngModel)]="pedido.condicionVenta"
                aria-placeholder="Seleccione una opción" required>
                <option value="CONTADO">CONTADO</option>
                <option value="CUENTA CORRIENTE">CUENTA CORRIENTE</option>
              </select>
            </div>
            <div class="form-group col-sm-4" *ngIf="pedido.cliente.nombre!=null">
              <label class="font-weight-bold">Tipo Comprobante</label>
              <select class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="tipoComprobante" [disabled]="tiposDeFacturas.length==0" required>
                <option [value]="nombre.descrWs" *ngFor="let nombre of tiposDeFacturas"
                  [selected]="nombre.descrWs==tipoComprobante ? true : null">{{nombre.descrWs}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-12">
              <app-search-producto (myClick)="Transportar($event)"></app-search-producto>
            </div>
          </div>
        </div>
        <div class="card-body" *ngIf="pedido.items.length>0">
          <div class="table-responsive table-sm">
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th class="text-center">Descripción</th>
                  <th class="text-center">Precio Venta </th>
                  <th class="text-center">Cantidad</th>
                  <th class="text-center">Descuento$</th>
                  <th class="text-center">Sub-Total</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let u of pedido.items" [hidden]="!pedido.items.length>0">
                  <td class="text-center">{{u.nombre}}({{u.codigo}})</td>
                  <td class="text-center">
                    <input class="form-control form-control-sm" (ngModelChange)="valuechange(u)"
                      [ngModelOptions]="{standalone: true}" [(ngModel)]="u.precioVenta" placeholder="Ingrese monto"
                      type="number" step="0.01" required>
                  </td>
                  <td class="text-center">
                    <input class="form-control form-control-sm" (ngModelChange)="valuechange(u)"
                      [ngModelOptions]="{standalone: true}" [(ngModel)]="u.cantidad" min="1" placeholder="Ingrese monto"
                      type="number" step="0.01" required>
                  </td>
                  <td class="text-center"><input class="form-control form-control-sm" (ngModelChange)="valuechange(u)"
                      [ngModelOptions]="{standalone: true}" [(ngModel)]="u.descuento" min="1"
                      placeholder="Ingrese monto" type="number" step="0.01" required></td>
                  <td class="text-center">{{u.cantidad*u.precioVenta-u.descuento|currency}}</td>
                  <td>
                    <button tooltip="Eliminar producto" type="button" (click)="openModal(template,u.id)"
                      class="btn btn-ghost-secondary">
                      <i class="fa icon-close"></i>
                    </button>
                    <!-- <button tooltip="Guardar producto" type="button" (click)="guardar(u)" class="btn btn-ghost-info">
                      <i class="cui-circle-check"></i>
                    </button> -->
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td class="text-center">
                    <!-- <div class="row">
                            <div class="form-group col-sm-7">
                              <label class="font-weight-bold">Descuento General %</label>
                            </div>
                            <div class="form-group col-sm-5">
                              <input type="tel" step="0.01" [ngModelOptions]="{standalone: true}" [(ngModel)]="descuento"
                                class="form-control form-control-sm" id="inlineFormInputName" placeholder="Ingrese %%">
                            </div>
                          </div> -->
                  </td>
                  <td class="text-center" *ngIf="pedido.cliente.nombre!=null">
                    <div *ngIf="pedido.cliente.condicionFrenteAlIva!=null">
                      <a class="badge badge-dark"
                        *ngIf="pedido.cliente.condicionFrenteAlIva.tipoFactura.descrWs=='Factura A'"
                        style="color: beige">TOTAL BRUTO:{{precioTotalVenta()-precioTotalIVA()|currency}}</a>
                      <a class="badge badge-dark"
                        *ngIf="pedido.cliente.condicionFrenteAlIva.nombre!='Responsable Inscripto'"
                        style="color: beige">TOTAL BRUTO:{{precioTotalVenta()|currency}}</a>
                    </div>
                  </td>
                  <td class="text-center" *ngIf="pedido.cliente.nombre!=null">
                    <div *ngIf="pedido.cliente.nombre.condicionFrenteAlIva!=null">
                      <a class="badge badge-dark"
                        *ngIf="pedido.cliente.condicionFrenteAlIva.tipoFactura.descrWs=='Factura A'"
                        style="color: beige">TOTAL IVA:{{precioTotalIVA()|currency}}</a>
                    </div>
                  </td>
                  <td class="text-center">
                    <!-- <a class="badge badge-dark" style="color: beige">TOTAL DESC.:{{descuento|currency}}</a> -->
                  </td>
                  <td class="text-center">
                    <a class="badge badge-dark" style="color: beige">TOTAL NETO:{{precioTotalVenta()|currency}}</a></td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="form-group col-sm-12">
            <label class="font-weight-bold">Observaciones</label>
            <textarea class="form-control form-control-sm" rows="2" [ngModelOptions]="{standalone: true}"
              [(ngModel)]="pedido.observacion" placeholder="Observaciones..." type="text" required></textarea>
          </div>
          <div class="text-center">
            <div class="spinner-border" role="status" [hidden]="!load">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="form-group form-actions text-left ">
            <button class="btn btn-sm btn-info" (click)="openModalGuardar(templateGuardar)" [disabled]="load">Crear
              Pedido</button>
            <button class="btn btn-sm  btn-ghost-secondary" [routerLink]="[ '/panel/pedidos/']"
              type="button">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #template>
  <div class="modal-header">
    <h4 class="text-center">Se borrará el producto de la tabla</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm">
      <div class="form-group form-actions">
        <button class="btn btn-sm btn-info" (click)="eliminarItem()">Confirmar</button>
        <button class="btn btn-sm btn-ghost-light active" (click)="modalRef.hide()" type="button">Cancelar</button>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #templateGuardar>
  <div class="modal-header">
    <h4 class="text-center">Se creará un nuevo Pedido</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm">
      <div class="form-group form-actions">
        <button class="btn btn-sm btn-info" (click)="guardar()">Confirmar</button>
        <button class="btn btn-sm btn-ghost-light active" (click)="modalRef.hide()" type="button">Cancelar</button>
      </div>
    </form>
  </div>
</ng-template>