<div class="card">
  <div class="col-lg-xs-ms">
    <div class="card">
      <div class="card-header">
          <button type="button" class="btn btn-ghost-secondary" [routerLink]="[ '/panel/productos/list']">
            <i class="fa fa-reply" ></i>
        </button>
        <strong>Crear producto</strong>
      </div>
      <div class="card-body">
        <form [formGroup]="productoForm">
          <div class="row">
            <div class="form-group col-sm-3">
              <label class="font-weight-bold">Nombre del producto</label>
              <input class="form-control form-control-sm" formControlName="nombre" placeholder="Ingrese nombre del producto" type="text"
                [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" required>
              <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                <div *ngIf="f.nombre.errors.required">Campo Obligatorio</div>
              </div>
            </div>
            <div class="form-group col-sm-6">
              <label class="font-weight-bold">Código de Barra</label>
              <input type="text" formControlName="codigoDeBarras" placeholder="Ingrese código de barras"
                class="form-control form-control-sm">
            </div>
            <div class="form-group col-sm-3">
              <label class="font-weight-bold">Código de producto</label>
              <input type="text" formControlName="codigo" placeholder="Ingrese código " class="form-control form-control-sm">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-3">
              <label class="font-weight-bold">Precio Costo</label>
              <input class="form-control form-control-sm" (ngModelChange)="valuechange()"
                [ngClass]="{ 'is-invalid': submitted && f.precioCosto.errors }" formControlName="precioCosto"
                placeholder="Ingrese monto" type="number" step="0.01" min="0" required>
              <div *ngIf="submitted && f.precioCosto.errors" class="invalid-feedback">
                <div *ngIf="f.precioCosto.errors.required">Campo Obligatorio</div>
              </div>
            </div>
            <div class="form-group col-sm-3">
              <label class="font-weight-bold">IVA%</label>
              <!-- <input class="form-control form-control-sm" (ngModelChange)="valuechange()"
                [ngClass]="{ 'is-invalid': submitted && f.iva.errors }" formControlName="iva"
                placeholder="Ingrese monto" type="number" step="0.01" min="0" required> -->
              <select class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="tipoIVA"   (ngModelChange)="valuechange()" required>
                <option [value]="nombre.nombre" *ngFor="let nombre of tipoDeIvas"
                  [selected]="nombre.nombre==condicionFiscal ? true : null">{{nombre.nombre}}</option>
              </select>
              <div *ngIf="submitted && f.iva.errors" class="invalid-feedback">
                <div *ngIf="f.iva.errors.required">Campo Obligatorio</div>
              </div>
            </div>
            <div class="form-group col-sm-3">
              <label class="font-weight-bold">Utilidad%</label>
              <input class="form-control form-control-sm" (ngModelChange)="valuechange()"
                [ngClass]="{ 'is-invalid': submitted && f.utilidad.errors }" formControlName="utilidad"
                placeholder="Ingrese monto" type="number" step="0.01" min="0" required>
              <div *ngIf="submitted && f.utilidad.errors" class="invalid-feedback">
                <div *ngIf="f.utilidad.errors.required">Campo Obligatorio</div>
              </div>
            </div>
            <div class="form-group col-sm-3">
              <label class="font-weight-bold">Precio Venta</label>
              <input class="form-control form-control-sm" (ngModelChange)="valuechange()" step="0.01" min="0"
                [ngModelOptions]="{standalone: true}" [(ngModel)]="producto.precioVenta" placeholder="Ingrese monto"
                type="number" required>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-3">
              <label class="font-weight-bold">Marca</label>
              <input class="form-control form-control-sm" formControlName="subMarca" placeholder="Ingrese marca"
                [ngClass]="{ 'is-invalid': submitted && f.subMarca.errors }" type="text" required>
              <div *ngIf="submitted && f.subMarca.errors" class="invalid-feedback">
                <div *ngIf="f.subMarca.errors.required">Campo Obligatorio</div>
              </div>
            </div>
            <div class="form-group col-sm-3">
              <label class="font-weight-bold">Categoría</label>
              <input class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submitted && f.marca.errors }"
                formControlName="marca" placeholder="Ingrese categoria" type="text" required>
              <div *ngIf="submitted && f.marca.errors" class="invalid-feedback">
                <div *ngIf="f.marca.errors.required">Campo Obligatorio</div>
              </div>
            </div>
            <div class="form-group col-sm-3">
              <label class="font-weight-bold">Proveedor</label>
              <input placeholder="Seleccione un Proveedor" [ngClass]="{ 'is-invalid': submitted && f.proveedor.errors }"
                (typeaheadOnSelect)="onSelect($event)" formControlName="proveedor" typeaheadOptionField="razonSocial"
                [typeahead]="proveedores" [typeaheadItemTemplate]="customCapTemplate" class="form-control form-control-sm">
              <ng-template #customCapTemplate let-model="item" let-index="index">
                <p>{{model.razonSocial}}</p>
              </ng-template>
              <div *ngIf="submitted && f.proveedor.errors" class="invalid-feedback">
                <div *ngIf="f.proveedor.errors.required">Campo Obligatorio</div>
              </div>
            </div>
            <div class="form-group col-sm-3">
              <label class="font-weight-bold">Unidad de Medida</label>
              <select class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submitted && f.unidadMedida.errors }"
                formControlName="unidadMedida" aria-placeholder="Seleccione una unidad"  required>
                <option value="KG">KG</option>
                <option value="MG">MG</option>
                <option value="G">G</option>
              </select>
              <div *ngIf="submitted && f.unidadMedida.errors" class="invalid-feedback">
                <div *ngIf="f.unidadMedida.errors.required">Campo Obligatorio</div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <div class="spinner-border" role="status" [hidden]="!load">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="form-group form-actions text-left ">
            <button class="btn btn-sm btn-info" (click)="createProducto()" [disabled]="load">Crear Producto</button>
            <button class="btn btn-sm  btn-ghost-secondary" [routerLink]="[ '/panel/productos/list']"
              type="button">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>