<div class="card">
  <div class="col-lg-xs-ms">
    <div class="card">
      <div class="card-header" *ngIf="editMode">
        <button type="button" class="btn btn-ghost-secondary" (click)="lockEditMode()"
          aria-controls="dropdown-basic"><span class="fa fa-times"></span>
        </button>
        <strong>Detalles del cliente</strong>
        <div class="card-header-actions">
          <div class="btn-group col-md-offset-4" dropdown>
            <button id="button-basic" class="btn btn-ghost-secondary" dropdownToggle type="button"
              aria-controls="dropdown-basic"><span class="icon-options-vertical"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu "
              aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" (click)="unlockEditMode()" [hidden]="editMode">Editar</a>
              </li>
              <li role="menuitem"><a class="dropdown-item" (click)="lockEditMode()" [hidden]="!editMode">Cancelar</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card-header" *ngIf="!editMode">
        <button type="button" class="btn btn-ghost-secondary" [routerLink]="[ '/panel/clientes/list']">
          <i class="fa fa-reply"></i>
        </button>
        <strong>Detalles del cliente</strong>
        <div class="card-header-actions">
          <div class="btn-group col-md-offset-4" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-ghost-secondary"
              aria-controls="dropdown-basic"><span class="icon-options-vertical"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
              aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" (click)="unlockEditMode()" [hidden]="editMode">Editar</a>
              </li>
              <li role="menuitem"><a class="dropdown-item" (click)="lockEditMode()" [hidden]="!editMode">Cancelar</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="text-center" [hidden]="cliente.nombre!=null">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <form #f="ngForm" [hidden]="cliente.nombre==null">
          <div class="row">
            <div class="form-group col-sm-3">
              <label class="font-weight-bold">Nombre</label>
              <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
                placeholder="Ingrese nombre" required [(ngModel)]="cliente.nombre" type="text" [disabled]="!editMode"
                required>
            </div>
            <div class="form-group col-sm-3">
              <label class="font-weight-bold">Apellido</label>
              <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="cliente.apellido" placeholder="Ingrese apellido" type="text" [disabled]="!editMode"
                required>
            </div>
            <div class="form-group col-sm-3">
              <label class="font-weight-bold">Teléfono 1</label>
              <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="cliente.celular1" placeholder="Ingrese telefono" type="text" [disabled]="!editMode"
                required>
            </div>
            <div class="form-group col-sm-3">
              <label class="font-weight-bold">Teléfono 2</label>
              <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="cliente.celular2" placeholder="Ingrese telefono" type="text" [disabled]="!editMode">
            </div>
          </div>
          <div class="row">
            <!-- <div class="form-group col-sm-3">
              <label class="font-weight-bold">Tipo de Documento</label>
              <select class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="tipoDocumento" [disabled]="!editMode" required>
                <option [value]="nombre.nombreTipoDocumento" *ngFor="let nombre of tipoDeDocumentos"
                  [selected]="nombre.nombreTipoDocumento==tipoDocumento ? true : null">{{nombre.nombreTipoDocumento}}
                </option>
              </select>
            </div> -->
            <div class="form-group col-sm-3">
              <label class="font-weight-bold">N° Documento</label>
              <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="cliente.dni" placeholder="N° Documento" type="text" [disabled]="!editMode" required>
            </div>
            <div class="form-group col-sm-3">
              <label class="font-weight-bold">Fecha de Nacimiento</label>
              <input type="text" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="cliente.fechaNacimiento" [disabled]="!editMode" placeholder="Ingrese fecha"
                class="form-control form-control-sm" bsDatepicker>
            </div>
            <div class="form-group col-sm-3">
              <label class="font-weight-bold">Email</label>
              <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="cliente.email" placeholder="Email" type="email" [disabled]="!editMode">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-4">
              <label class="font-weight-bold">Provincia</label>
              <input placeholder="Seleccione una provincia" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="cliente.provincia" (typeaheadOnSelect)="onSelect($event)" [typeahead]="localidades"
                typeaheadOptionField="nombre" [disabled]="!editMode"
                typeaheadWordDelimiters="nombre==cliente.provincia ? true : null" class="form-control form-control-sm">
            </div>
            <div class="form-group col-sm-4">
              <label class="font-weight-bold">Localidad</label>
              <input placeholder="Seleccione una ciudad" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="cliente.localidad" [typeahead]="ciudades" typeaheadOptionField="nombre"
                [disabled]="!editMode" typeaheadWordDelimiters="nombre==cliente.localidad ? true : null"
                class="form-control form-control-sm">
            </div>
            <div class="form-group col-sm-4">
              <label class="font-weight-bold">Dirección</label>
              <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" placeholder="Dirección"
                [(ngModel)]="cliente.direccion" type="text" [disabled]="!editMode" required>
            </div>
          </div>
          <div class="row">
            <!-- <div class="form-group col-sm-3">
              <label class="font-weight-bold">Condición Fiscal</label>
              <select class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="condicionFiscal" [disabled]="!editMode" required>
                <option [value]="nombre.nombre" *ngFor="let nombre of condicionesFrenteAlIva"
                  [selected]="nombre.nombre==condicionFiscal ? true : null">{{nombre.nombre}}</option>
              </select>
            </div>
            <div class="form-group col-sm-3">
              <label class="font-weight-bold">Tipo de Comprobante</label>
              <input placeholder="Seleccione tipo de comprobante" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="tipoFactura" typeaheadOptionField="descrWs" (typeaheadOnSelect)="onSelectFactura($event)"
                [typeahead]="tipoDeFacturas" [disabled]="!editMode"
                typeaheadWordDelimiters="descrWs==tipoFactura? true : null" class="form-control form-control-sm">
            </div> -->
            <div class="form-group col-sm-3">
              <label class="font-weight-bold">Hijos</label>
              <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" placeholder="Hijos"
                [(ngModel)]="cliente.hijos" type="number" [disabled]="!editMode">
            </div>
            <div class="form-group col-sm-3">
              <label class="font-weight-bold">Estado Civil</label>
              <select class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="cliente.estadoCivil" [disabled]="!editMode" required>
                <option [value]="nombre.nombre" *ngFor="let nombre of estadosCiviles"
                  [selected]="nombre.nombre==cliente.estadoCivil ? true : null">{{nombre.nombre}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-check col-sm-4">
              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" [disabled]="!editMode" class="custom-control-input" id="customCheck"
                  name="example1" [ngModelOptions]="{standalone: true}" [(ngModel)]="cliente.whatsapp">
                <label class="custom-control-label" for="customCheck">Whatsapp</label>
              </div>
            </div>
          </div>
          <div class="text-center">
            <div class="spinner-border" role="status" [hidden]="!load">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="form-group form-actions">
            <button class="btn btn-sm btn-info" (click)="updateCliente()" *ngIf="editMode"
              [disabled]="load">Actualizar</button>
            <button class="btn btn-sm btn-ghost-secondary" (click)="lockEditMode()" *ngIf="editMode"
              type="button">Volver</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>