<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <!-- HEADER BASE -->
          <div class="card-header">
            <div class="row">
              <div>
                <button type="button" class="btn btn-ghost-light">
                  <i class="fa icon-menu
                      "></i>
                </button>
                <strong>Home</strong>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                  <app-tareas-personal></app-tareas-personal>
              </div>
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>
