<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <!-- HEADER BASE -->
        <div class="card-header">
          <div class="row">
            <div>
              <button type="button" class="btn btn-ghost-light">
                <i class="fa icon-menu
                    "></i>
              </button>
              <strong>Ventas</strong>
            </div>
          </div>
        </div>
        <div class="d-flex flex-nowrap align-self-end" style="padding-right: 15px;padding-top: 5px;">
          <div class="d-flex flex-nowrap ">
            <button class="btn btn-sm btn-dark" type="button" tooltip="Imprimir listado de Ventas" (click)="report()"
              [disabled]="selectedRow.length==0">Imprimir Ventas</button>
            <button aria-pressed="true" tooltip="Crear nueva venta" class="btn btn-sm btn-info" type="button"
              [routerLink]="[ '/panel/ventas/create']">Nueva Venta</button>
          </div>
        </div>
        <div class="card-body">
          <form #f="ngForm" (ngSubmit)="buscador()">
            <div class="row">
              <div class="form-group col-sm-3">
                <label class="font-weight-bold">Cliente</label>
                <app-search-cliente (myClick)="TransportarCliente($event)"></app-search-cliente>
                <label class="font-weight-bold" *ngIf="tempCliente!=''">Seleccionado:{{tempCliente}}</label>
              </div>
              <div class="form-group col-sm-3">
                <label class="font-weight-bold">Localidad</label>
                <input placeholder="Seleccione una ciudad" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="filtroPagination.localidad" (typeaheadOnSelect)="onSelect($event)" [typeahead]="ciudades"
                  typeaheadOptionField="nombre" typeaheadWordDelimiters="nombre==cliente.localidad ? true : null"
                  class="form-control form-control-sm">
              </div>
              <div class="form-group col-sm-3">
                <label class="font-weight-bold">Desde</label>
                <input type="text" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="filtroPagination.desde" placeholder="Ingrese fecha" class="form-control form-control-sm"
                  bsDatepicker>
              </div>
              <div class="form-group col-sm-3">
                <label class="font-weight-bold">Hasta</label>
                <input type="text" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="filtroPagination.hasta" placeholder="Ingrese fecha" class="form-control form-control-sm"
                  bsDatepicker>
              </div>
              <div class="form-group form-actions text-left ">
                <button class="btn btn-sm btn-info" (click)="buscador()" tooltip="Filtrar datos">Buscar Fechas</button>
                <button aria-pressed="true" class="btn btn-sm btn-danger" tooltip="Limpiar filtros" type="button"
                  (click)="refresh()">Limpiar Filtros</button>
              </div>
            </div>
          </form>
        </div>

        <div class="card-body">
          <div class="table-responsive table-sm">
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th class="text-center">N°</th>
                  <th class="text-center">Fecha</th>
                  <th class="text-center">Comprador</th>
                  <th class="text-center">Localidad</th>
                  <th class="text-center">Sub-Total</th>
                  <th class="text-center">Descuento</th>
                  <th class="text-center">Total</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let u of items" [hidden]="!items.length>0">
                  <td class="text-center">
                    <div class="custom-control custom-checkbox mb-3">
                      <input type="checkbox" class="custom-control-input" id="{{u.id}}" name="example1"
                        (click)="setClickedRow(u)" [class.active]="u == selectedRow">
                      <label class="custom-control-label" for="{{u.id}}">{{u.id}}</label>
                    </div>
                  </td>
                  <td class="text-center">{{u.fecha| date:'yyyy-MM-dd HH:mm' }}</td>
                  <td class="text-center" *ngIf="u.cliente!=null">{{u.cliente.nombre}},{{u.cliente.apellido}}</td>
                  <td class="text-center" *ngIf="u.cliente==null">Sin Registros</td>
                  <td class="text-center" *ngIf="u.cliente!=null">
                    {{u.cliente.localidad ? u.cliente.localidad:'Sin Registros'}}</td>
                  <td class="text-center" *ngIf="u.cliente==null">Sin Registros</td>
                  <td class="text-center">{{u.totalBruto|currency}}</td>
                  <td class="text-center">{{u.descuento|currency}}</td>
                  <td class="text-center">{{u.totalNeto|currency}}</td>
                  <td>
                    <button tooltip="Ver detalles" type="button" class="btn btn-ghost-secondary"
                      (click)="openModal(template,u)">
                      <i class="fa fa-search-plus"></i>
                    </button>
                    <button tooltip="Imprimir venta" type="button" class="btn btn-ghost-secondary"
                      (click)="imprimirVenta(u.id)">
                      <i class="fa fa-print"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class=" text-nowrap" [hidden]="items.length==0">
              <pagination [align]="true" [totalItems]="totalElements" [(ngModel)]="page"
                (pageChanged)="pageChanged($event)" [maxSize]="5" [itemsPerPage]="pageSize" [boundaryLinks]="true"
                previousText="Página Anterior" nextText="Página Siguiente" firstText="&laquo;" lastText="&raquo;">
              </pagination>
            </div>
          </div>
          <div class="text-center" *ngIf="items.length==0&&loading==true">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="text-center" *ngIf="items.length==0&&loading==false">
            <strong>No existen registros</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #template>
  <div class="modal-header">
    <!-- <h4 class="modal-title pull-left">Modal</h4> -->
    <h4 class="text-center">Detalles de la venta</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm">
      <div class="table-responsive table-sm">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th class="text-center">Nombre</th>
              <th class="text-center">Cantidad</th>
              <th class="text-center">Precio Unitario</th>
              <th class="text-center">Descuento$</th>
              <th class="text-center">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let u of tempDetalles.items" [hidden]="!tempDetalles.items.length>0">
              <td class="text-center">{{u.producto.nombre}}</td>
              <td class="text-center">{{u.cantidad}}</td>
              <td class="text-center">{{u.precioUnitario|currency}}</td>
              <td class="text-center">{{u.descuento|currency}}</td>
              <td class="text-center">{{u.precioUnitario*u.cantidad-u.descuento|currency}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td class="text-center">
                <a class="badge badge-info" style="color: beige">Sub-Total:{{tempDetalles.totalBruto|currency}}</a>
                <a class="badge badge-info" style="color: beige">Descuento:{{tempDetalles.descuento|currency}}</a>
                <a class="badge badge-info" style="color: beige">TOTAL:{{tempDetalles.totalNeto|currency}}</a>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="form-group form-actions">
        <button class="btn btn-sm btn-ghost-light active" (click)="modalRef.hide()" type="button">Cerrar</button>
      </div>
    </form>
  </div>
</ng-template>