<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <!-- HEADER BASE -->
          <div class="card-header">
            <div class="row">
              <div>
                <button type="button" class="btn btn-ghost-light">
                  <i class="fa icon-menu
                      "></i>
                </button>
                <strong>Estadisticas Ventas</strong>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form #f="ngForm">
              <div class="row">
                <div class="form-group col-sm-3">
                  <label class="font-weight-bold">Desde</label>
                  <input type="text" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="filtroPagination.desde" placeholder="Ingrese fecha" class="form-control form-control-sm" bsDatepicker>
                </div>
                <div class="form-group col-sm-3">
                  <label class="font-weight-bold">Hasta</label>
                  <input type="text" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="filtroPagination.hasta" placeholder="Ingrese fecha" class="form-control form-control-sm" bsDatepicker>
                </div>
              </div>
            </form>
            <div class="form-group form-actions text-left ">
                <button class="btn btn-sm btn-info" (click)="cmv()" tooltip="Filtrar datos">Buscar Fechas</button>
                <button aria-pressed="true" class="btn btn-sm btn-danger" tooltip="Limpiar filtros" type="button"
                  (click)="refresh()">Limpiar Filtros</button>
              </div>
          </div>
  
          <div class="card-body">
            <a class="badge badge-info" style="color: beige">CMV({{resultados.precioCosto|currency}})</a>
            <a class="badge badge-info" style="color: beige">Ventas({{resultados.venta|currency}})</a>
            <a class="badge badge-info"
              style="color: beige">Ganancia({{resultados.venta-resultados.precioCosto|currency}})</a>
          </div>
          <div class="card-body" *ngIf="resultados.venta>0">
              <h2 class="text-center">Registros mensuales de ventas</h2>
              <div class="row">
                <div class="col-sm-6">
                    <div style="display: block">
                        <canvas baseChart
                        [data]="pieChartData"
                        [labels]="pieChartLabels"
                        [chartType]="pieChartType"
                        [options]="pieChartOptions"
                       ></canvas>
                      </div>
                </div>
                <div class="col-sm-6">
                    <div class="table-responsive table-sm">
                        <table class="table table-striped">
                           <thead class="thead-dark">
                             <tr>
                               <th class="text-center">Periodo</th>
                               <th class="text-center">Total Vendido</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr *ngFor="let u of chart" [hidden]="!chart.length>0">
                               <td class="text-center">{{u.mes}}/{{u.ANIO}}</td>
                               <td class="text-center">{{u.total|currency}}</td>
                             </tr>
                           </tbody>
                         </table>
                       </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>