<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <!-- HEADER BASE -->
        <div class="card-header">
          <div class="row">
            <div style="width: 100%">
              <button type="button" class="btn btn-ghost-light">
                <i class="fa icon-menu
                    "></i>
              </button>
              <strong>Listado de Movimientos de Productos</strong>
            </div>
          </div>
        </div>
        <div class="card-body">
          <app-search-producto (myClick)="Transportar($event)"></app-search-producto>
        </div>

        <div class="card-body">
          <strong class="text-center" [hidden]="productos.length==0" >Stock real del producto "{{buscar(productos)}} Unidades"</strong>
          <div class="table-responsive table-sm" [hidden]="productos.length==0" >
           <table class="table table-striped">
              <thead class="thead-dark" class="thead-dark">
                <tr>
                  <th class="text-center">Fecha</th>
                  <th class="text-center">Descripción</th>
                  <th class="text-center">Cantidad</th>
                  <th class="text-center">Marca</th>
                  <th class="text-center">Categoría</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let u of productos" [hidden]="!productos.length>0"  [ngClass]="{'text-success':u.cantidad>0,'text-danger':u.cantidad<0}">
                  <td class="text-center">{{u.fecha| date: "dd-MM-yyyy HH:mm:ss"}}</td>
                  <td class="text-center">{{u.tipo}}</td>
                  <td class="text-center">{{u.cantidad}}</td>
                  <td class="text-center">{{u.producto.subMarca}}</td>
                  <td class="text-center">{{u.producto.marca}}</td>
                </tr>
              </tbody>
            </table>
            <div class=" text-nowrap"  [hidden]="productos.length==0">
              <pagination [align]="true" [totalItems]="totalElements" [(ngModel)]="page"
              (pageChanged)="pageChanged($event)" [maxSize]="5" [itemsPerPage]="pageSize"  [boundaryLinks]="true" previousText="Página Anterior"
              nextText="Página Siguiente" firstText="&laquo;" lastText="&raquo;"></pagination>
            </div>
          </div>
          <div class="text-center" *ngIf="productos.length==0&&loading==true">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div> 
        </div>
        <div class="text-center" *ngIf="productos.length==0&&loading==false">
          <strong>No existen productos</strong>
        </div>
      </div>
    </div>
  </div>
</div>