<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <!-- HEADER BASE -->
        <div class="card-header">
          <div class="row">
            <div style="width: 100%">
              <button type="button" class="btn btn-ghost-light">
                <i class="fa icon-menu
                    "></i>
              </button>
              <strong>Cuenta Corriente cliente</strong>
            </div>
          </div>
        </div>
        <div class="card-body">
          <app-search-cliente (myClick)="Transportar($event)"></app-search-cliente>
        </div>

        <div class="card-body">
          <strong class="text-center" *ngIf="temp!=''">Movimientos del cliente {{temp}}</strong>
          <div class="form-group form-actions text-right ">
            <button class="btn btn-sm btn-primary" type="button" tooltip="Imprimir listado de deudas en cuenta corriente"
              (click)="reportDeudas()">Imprimir Deudas</button>
            <button class="btn btn-sm btn-dark" type="button" tooltip="Imprimir listado de cuenta corriente"
              (click)="report()">Imprimir Resumen</button>
            <button class="btn btn-sm btn-info" (click)="openModalMovimiento(templateMovimiento)"
              tooltip="Agregar movimiento manual">Nuevo Movimiento</button>
            <button aria-pressed="true" class="btn btn-sm btn-danger" tooltip="Agregar nuevo pago" type="button"
              (click)="openModalPago(templatePago)">Nuevo Pago</button>
          </div>
        </div>

        <div class="card-body">
          <div class="table-responsive table-sm" >
            <table class="table Condensed Table" [hidden]="movimientos.length==0">
              <thead class="thead-dark" class="thead-dark">
                <tr>
                  <th class="text-center">N°</th>
                  <th class="text-center">Fecha</th>
                  <th>Motivo</th>
                  <th class="text-center">Monto</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let u of movimientos; index as i" [hidden]="!movimientos.length>0">
                  <td class="text-center">{{i+1}}</td>
                  <td class="text-center">{{u.fecha| date: "dd-MM-yyyy HH:mm:ss"}}</td>
                  <td>{{u.motivo}}</td>
                  <td class="text-center">{{u.monto|currency}}</td>
                </tr>
              </tbody>
            </table>
            <div class=" text-nowrap"  [hidden]="movimientos.length==0">
              <pagination [align]="true" [totalItems]="totalElements" [(ngModel)]="page"
                (pageChanged)="pageChanged($event)" [maxSize]="5" [itemsPerPage]="pageSize" [boundaryLinks]="true"
                previousText="Página Anterior" nextText="Página Siguiente" firstText="&laquo;" lastText="&raquo;">
              </pagination>
            </div>
          </div>
          
          <div class="text-center" *ngIf="movimientos.length==0&&loading==true">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
        <div class="text-center" *ngIf="movimientos.length==0&&loading==false">
          <strong>No existen movimientos</strong>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- MOVIMIENTO -->
<ng-template #templateMovimiento>
  <div class="modal-header">
    <h4 class="text-center">Generar nuevo movimiento</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-movimientos-cliente (myClickMovimiento)="TransportarMovimiento($event)"></app-movimientos-cliente>
    <div class="text-center" *ngIf="load==true">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</ng-template>
<!-- PAGO -->
<!-- <app-search-cliente (myClick)="Transportar($event)"></app-search-cliente> -->
<ng-template #templatePago>
  <div class="modal-header">
    <h4 class="text-center">Generar nuevo Pago</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-form-pagos (myClickPago)="TransportarPago($event)"></app-form-pagos>
    <div class="text-center" *ngIf="load==true">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="form-group form-actions">
      <button class="btn btn-sm btn-info" (click)="createPago()">Confirmar Pago</button>
      <button class="btn btn-sm btn-ghost-light active" (click)="modalRef.hide()" type="button">Cancelar</button>
    </div>
  </div>
</ng-template>