<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <!-- HEADER BASE -->
          <div class="card-header">
            <div class="row">
              <div>
                <button type="button" class="btn btn-ghost-light">
                  <i class="fa icon-menu
                      "></i>
                </button>
                <strong>Fichas</strong>
              </div>
            </div>
          </div>
          <div class="d-flex flex-nowrap align-self-end" style="padding-right: 15px;padding-top: 5px;">
            <div class="d-flex flex-nowrap ">
              <button aria-pressed="true" tooltip="Crear nueva ficha" class="btn btn-sm btn-info" type="button"
                [routerLink]="[ '/panel/fichas/create']">Nueva Ficha</button>
            </div>
          </div>
          <div class="card-body">
            <form #f="ngForm" (ngSubmit)="buscador()">
              <div class="row">
                <div class="form-group col-sm-3">
                  <label class="font-weight-bold">Tipos de Fichas</label>
                  <select class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" [(ngModel)]="tipo"   aria-placeholder="Seleccione una ficha" (ngModelChange)="buscador()" required>
                      <option value='historiaClinica' selected="true">Historia Clínica</option>
                      <option value='administrativa'>Administrativa</option>
                  </select>
                </div>
              </div>
            </form>
          </div>
  
          <div class="card-body">
            <div class="table-responsive table-sm">
             <table class="table table-striped">
                <thead class="thead-dark">
                  <tr>
                    <th class="text-center">N°</th>
                    <th class="text-center">Nombre</th>
                    <th  class="text-right"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let u of items" [hidden]="!items.length>0">
                    <td class="text-center">{{u.id}}</td>
                    <td class="text-center">{{u.nombre}}</td>
                    <td  class="text-right">
                      <button tooltip="Editar plantilla" type="button" class="btn btn-ghost-secondary"
                        [routerLink]="[ '/panel/fichas/details', u.id ]">
                        <i class="fa icon-pencil"></i>
                      </button>
                      <button tooltip="Eliminar ficha" type="button" class="btn btn-ghost-secondary" (click)="openModal(template,u.id)">
                        <i class="fa icon-close
                            "></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class=" text-nowrap"  [hidden]="movimientos.length==0">
                  <pagination [boundaryLinks]="true" previousText="Página Anterior" nextText="Página Siguiente"
                    firstText="&laquo;" lastText="&raquo;" [totalItems]="movimientos.length"
                    (pageChanged)="pageChanged($event)"></pagination>
                </div>
            </div>
            <div class="text-center" *ngIf="movimientos.length==0&&loading==true">
                <div class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            <div class="text-center" *ngIf="items.length==0&&loading==false">
              <strong>No existen registros</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #template>
    <div class="modal-header">
      <!-- <h4 class="modal-title pull-left">Modal</h4> -->
      <h4 class="text-center">Se dará de baja la plantilla seleccionada</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #f="ngForm">
        <div class="form-group form-actions">
          <button class="btn btn-sm btn-info" (click)="delete()">Confirmar</button>
          <button class="btn btn-sm btn-ghost-light active" (click)="modalRef.hide()" type="button">Cancelar</button>
        </div>
      </form>
    </div>
  </ng-template>