<input #input1 [(ngModel)]="asyncSelected" [typeahead]="dataSource"
(typeaheadLoading)="changeTypeaheadLoading($event)"
(typeaheadNoResults)="changeTypeaheadNoResults($event)" (typeaheadOnSelect)="typeaheadOnSelect($event)"
[typeaheadOptionsLimit]="7" typeaheadOptionField="nombre" [typeaheadItemTemplate]="customCapTemplate"
placeholder="Buscar tratamiento" class="form-control form-control-sm">
<ng-template #customCapTemplate let-model="item" let-index="index">
<h6>{{model.nombre}}</h6>
</ng-template>
<div *ngIf="typeaheadLoading===true">Buscando...</div>
<div *ngIf="typeaheadNoResults===true">&#10060; No existe registros</div>