<div class="conteiner">
    <div class="app-body">
        <main class="main d-flex align-items-center">
          <div class="container">
            <div class="row">
              <div class="col-md-6 mx-auto">
                <div class="text-center">
                  <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <p>Cargando...</p>
                </div>
              </div>
            </div>
          </div>
        </main> 
    </div>
  </div>