<div class="row">
  <div class="col-md-12">
      <div class="custom-file">
        <input type="file" id="inputImage" accept="image/*" (change)="onChange($event)" multiple
          class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" />
        <label class="custom-file-label" for="inputGroupFile01">Seleccionar imagen</label>
      </div>
  </div>
</div>
<hr>
<div class="row">
  <strong *ngIf="processedImages.lenght>0">Imagen Selecionada:</strong>
  <div class="row">
      <div class="col-md-3" *ngFor="let item of processedImages">
          <div >
            <img src="{{item.compressedImage.imageDataUrl}}" class="thumbnail" width="100" height="100" class="rounded float-left" alt="...">
          </div>
        </div>
  </div>
</div>