<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <!-- HEADER BASE -->
        <div class="card-header">
          <div class="row">
            <div>
              <button type="button" class="btn btn-ghost-light">
                <i class="fa icon-menu
                    "></i>
              </button>
              <strong>Estadisticas Turnos</strong>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form #f="ngForm" (ngSubmit)="buscador()">
            <div class="row">
              <div class="form-group col-sm-6">
                <label class="font-weight-bold">Desde</label>
                <input type="text" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="fecha.desde" placeholder="Ingrese fecha" class="form-control form-control-sm"
                  bsDatepicker>
              </div>
              <div class="form-group col-sm-6">
                <label class="font-weight-bold">Hasta</label>
                <input type="text" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="fecha.hasta" placeholder="Ingrese fecha" class="form-control form-control-sm"
                  bsDatepicker>
              </div>
            </div>
            <div class="row">
              <div class="form-group form-actions text-left ">
                <button class="btn btn-sm btn-info" (click)="buscador()" tooltip="Filtrar datos">Buscar por
                  Fechas</button>
              </div>
            </div>
          </form>
        </div>

        <div class="card-body">
          <div class="table-responsive table-sm">
            <table class="table table-striped">
              <thead class="thead-dark">
                <th class="text-center">N°</th>
                <th class="text-center">Tratamiento</th>
                <th class="text-center">turnos Cancelados</th>
                <th class="text-center">Turnos Completos</th>
                <th class="text-center">Turnos Pendientes</th>
                <th class="text-center">Total de turnos</th>
                <th></th>
              </thead>
              <tbody>
                <tr *ngFor="let u of items; index as i" [hidden]="!items.length>0">
                  <td class="text-center">{{i+1}}</td>
                  <td class="text-center">{{u.tratamiento.nombre}}</td>
                  <td class="text-center" style="text-align: center">{{u.turnosCancelados.length}}
                      <button tooltip="Ver detalles" type="button" class="btn btn-ghost-secondary"
                      (click)="openModal(template,u.turnosCancelados)">
                      <i class="fa fa-search-plus"></i>
                    </button>
                  </td>
                  <td class="text-center" style="text-align: center">{{u.turnosCompletados.length}}
                      <button tooltip="Ver detalles" type="button" class="btn btn-ghost-secondary"
                      (click)="openModal(template,u.turnosCompletados)">
                      <i class="fa fa-search-plus"></i>
                    </button>
                  </td>
                  <td class="text-center" style="text-align: center">{{u.turnosPendientes.length}}
                      <button tooltip="Ver detalles" type="button" class="btn btn-ghost-secondary"
                      (click)="openModal(template,u.turnosPendientes)">
                      <i class="fa fa-search-plus"></i>
                    </button>
                  </td>
                  <td class="text-center" style="text-align: center">{{u.turnosPendientes.length+u.turnosCompletados.length+u.turnosCancelados.length}}</td>
                  <!-- <td>
                    <button tooltip="Ver detalles" type="button" class="btn btn-ghost-secondary"
                      (click)="openModal(template,u)">
                      <i class="fa fa-search-plus"></i>
                    </button>
                  </td> -->
                </tr>
              </tbody>
            </table>
            <div class=" text-nowrap" [hidden]="movimientos.length==0">
              <pagination [boundaryLinks]="true" previousText="Página Anterior" nextText="Página Siguiente"
              firstText="&laquo;" lastText="&raquo;" [totalItems]="movimientos.length"
              (pageChanged)="pageChanged($event)"></pagination>
            </div>
            <div class="text-center" *ngIf="items.length==0&&loading==true">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <div class="text-center" *ngIf="items.length==0&&loading==false">
              <strong>No existen registros</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #template>
  <div class="modal-header">
    <h4 class="text-center">Registros</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm">
      <strong>Cancelados</strong>
      <div class="table-responsive table-sm">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th class="text-center">N°</th>
              <th class="text-center">Cliente</th>
              <th class="text-center">Edad</th>
              <th class="text-center">Profesión</th>
              <th class="text-center">Tratamiento</th>
              <th class="text-center">Fecha del turno</th>
              <th class="text-center">Motivo de cancelación</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let u of filtro.cancelados; index as i" [hidden]="!filtro.cancelados.length>0">
              <td class="text-center">{{$index+1}}</td>
              <td class="text-center">{{u.clienteTransient.nombre}},{{u.clienteTransient.apellido}}</td>
              <td class="text-center" *ngIf="u.clienteTransient.fechaNacimiento!=null" style="text-align: center">{{calculo(u.clienteTransient.fechaNacimiento)}}</td>
              <td class="text-center" *ngIf="u.clienteTransient.fechaNacimiento==null">Sin
                  Registros</td>
              <td class="text-center" *ngIf="u.clienteTransient.profesion!=''">{{u.clienteTransient.profesion}}</td>
              <td class="text-center" *ngIf="u.clienteTransient.profesion==''" style="color:brown">No existen
                  Registros</td>
              <td class="text-center">{{u.tratamientoTransient.nombre}}</td>
              <td class="text-center">{{u.desde|date:"dd/MM 'a las'
                  h:mma"}}--{{u.hasta|date:"dd/MM
                  'a las' h:mma"}}
              </td>
              <td class="text-center" *ngIf="u.canceladoRazon!=null" >{{u.canceladoRazon}}</td>
              <td class="text-center" *ngIf="u.canceladoRazon==null" >Sin
                  Registros</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="form-group form-actions">
        <button class="btn btn-sm btn-ghost-light active" (click)="modalRef.hide()" type="button">Cerrar</button>
      </div>
    </form>
  </div>
</ng-template>