<div class="animated fadeIn" *ngIf="inicio==false&&terminarTurnos==false">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <!-- HEADER BASE -->
        <div class="card-header">
          <div class="row">
            <div style="width: 100%">
              <button type="button" class="btn btn-ghost-light">
                <i class="fa icon-menu
                      "></i>
              </button>
              <strong>Turnos</strong>
            </div>
          </div>
        </div>
        <div class="d-flex flex-nowrap align-self-end" style="padding-right: 15px;padding-top: 5px;">
          <div class="d-flex flex-nowrap ">
            <button tooltip="Renovar turnos seleccionados" class="btn btn-sm btn-dark" type="button"
              (click)="abrirRenovacion()" [disabled]="selectedSesiones.length==0">Renovar turnos</button>
            <button aria-pressed="true" tooltip="Crear nuevo producto" class="btn btn-sm btn-info" type="button"
              [routerLink]="[ '/panel/turnos/create']">Nuevo turno</button>
          </div>
        </div>
        <div class="card-body">
          <form #f="ngForm">
            <div class="row">
              <div class="form-group col-sm-3">
                <label class="font-weight-bold">Filtrar por profesional</label>
                <app-search-usuario (myClick)="TransportarUsuario($event)"></app-search-usuario>
              </div>
              <div class="form-group col-sm-2">
                <label class="font-weight-bold">Filtrar por cliente</label>
                <app-search-cliente (myClick)="TransportarCliente($event)"></app-search-cliente>
              </div>
              <div class="form-group col-sm-2">
                <label class="font-weight-bold">Filtrar por Dia</label>
                <input type="text" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY',isAnimated: true }"
                  (bsValueChange)="onValueChange($event)" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="filtroPagination.fecha" placeholder="Ingrese fecha" class="form-control form-control-sm"
                  bsDatepicker>
              </div>
              <div class="form-group col-sm-2">
                <label class="font-weight-bold">Filtrar por Sala</label>
                <input placeholder="Seleccione una sala" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectSala"
                  (typeaheadOnSelect)="onSelect($event)" [typeahead]="salas" typeaheadOptionField="nombre"
                  class="form-control form-control-sm">
              </div>
              <div class="form-group col-sm-3">
                <label class="font-weight-bold">Estado de Turnos</label>
                <select class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="filtroPagination.completado" aria-placeholder="Seleccione un estado"
                  (change)="onOptionsSelected($event.target.value)" required>
                  <option value="false">Sesiones del dia</option>
                  <option value="true">Sesiones terminadas</option>
                </select>
              </div>
            </div>
            <div class="form-group form-actions">
              <button class="btn btn-sm btn-info" (click)="buscador()">Buscar </button>
              <button aria-pressed="true" class="btn btn-sm btn-danger" type="button" (click)="resetFiltro()">Limpiar
                Filtros</button>
            </div>
          </form>
        </div>
        <div class="card-body" *ngIf="filtroPagination.completado==false">
          <div class="table-responsive table-sm">
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th class="text-center"></th>
                  <th class="text-center">Cliente</th>
                  <th class="text-center">Teléfono</th>
                  <th class="text-center">Fecha</th>
                  <th class="text-center">Tratamiento</th>
                  <th class="text-center">Sala</th>
                  <th class="text-center"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let u of listaDeTurnos" [hidden]="!listaDeTurnos.length>0">
                  <td class="text-center">
                    <div class="custom-control custom-checkbox mb-3">
                      <input type="checkbox" class="custom-control-input" id="{{u.id}}" name="example1"
                        (click)="setClickedRowRenovar(u)">
                      <label class="custom-control-label" for="{{u.id}}"></label>
                    </div>
                  </td>
                  <td class="text-center">
                    {{u.clienteTransient.apellido + ', ' +
                                  u.clienteTransient.nombre}}
                  </td>
                  <td class="text-center">{{u.clienteTransient.celular1}}</td>
                  <td class="text-center">{{u.desde|date:'dd/MM HH:mm'}}-{{u.hasta|date:'dd/MM HH:mm'}}</td>
                  <td class="text-center">{{u.tratamientoTransient.nombre}}</td>
                  <td class="text-center">{{u.habitacion.nombre}}</td>
                  <td *ngIf="filtroPagination.completado==false">
                    <button tooltip="Terminar turno" type="button" class="btn btn-ghost-secondary"
                      (click)="abrirTerminarTurno(u.sesion,u.clienteTransient.id,u.tratamientoTransient.nombre)">
                      <i class="fa fa-book"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class=" text-nowrap" [hidden]="listaDeTurnos.length==0">
              <pagination [align]="true" [totalItems]="totalElements" [(ngModel)]="page"
                (pageChanged)="pageChanged($event)" [maxSize]="5" [itemsPerPage]="pageSize" [boundaryLinks]="true"
                previousText="Página Anterior" nextText="Página Siguiente" firstText="&laquo;" lastText="&raquo;">
              </pagination>
            </div>
          </div>
        </div>
        <div class="card-body" *ngIf="filtroPagination.completado">
          <div class="table-responsive table-sm">
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th class="text-center">N°</th>
                  <th class="text-center">Cliente</th>
                  <th class="text-center">Teléfono</th>
                  <th class="text-center">Fecha</th>
                  <th class="text-center">Tratamiento</th>
                  <th class="text-center">Sala</th>
                  <th class="text-center" *ngIf="filtroPagination.completado==true">Observaciones</th>
                  <th class="text-center"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let u of listaDeTurnos" [hidden]="!listaDeTurnos.length>0">
                  <td class="text-center">
                    {{u.id}}
                  </td>
                  <td class="text-center">
                    {{u.clienteTransient.apellido + ', ' +
                                  u.clienteTransient.nombre}}
                  </td>
                  <td class="text-center">{{u.clienteTransient.celular1}}</td>
                  <td class="text-center">{{u.desde|date:'dd/MM HH:mm'}}-{{u.hasta|date:'dd/MM HH:mm'}}</td>
                  <td class="text-center">{{u.tratamientoTransient.nombre}}</td>
                  <td class="text-center">{{u.habitacion.nombre}}</td>
                  <td class="text-center"
                    *ngIf="u.sesion.historiaClinica != undefined&&observaciones(u.sesion.historiaClinica.items)!=undefined&&u.sesion.historiaClinica != undefined&&u.sesion.enabled==false&&u.sesion.completa==true">
                    {{ observaciones(u.sesion.historiaClinica.items)}}</td>
                  <td  *ngIf="u.sesion.historiaClinica != undefined&&observaciones(u.sesion.historiaClinica.items)!=undefined&&u.sesion.historiaClinica != undefined&&u.sesion.enabled==false&&u.sesion.completa==true">
                    <!-- <button tooltip="Editar producto" type="button" class="btn btn-ghost-secondary"
                      [routerLink]="[ '/panel/productos/details', u.id ]">
                      <i class="fa icon-pencil"></i>
                    </button> -->
                    <button tooltip="Ver historia" type="button" class="btn btn-ghost-secondary"
                      (click)="openModalClinica(templateHistoriaClinica,u.sesion.historiaClinica)">
                      <i class="fa fa-user-md"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class=" text-nowrap" [hidden]="listaDeTurnos.length==0">
              <pagination [align]="true" [totalItems]="totalElements" [(ngModel)]="page"
                (pageChanged)="pageChanged($event)" [maxSize]="5" [itemsPerPage]="pageSize" [boundaryLinks]="true"
                previousText="Página Anterior" nextText="Página Siguiente" firstText="&laquo;" lastText="&raquo;">
              </pagination>
            </div>
          </div>
        </div>

        <div class="text-center" *ngIf="listaDeTurnos.length==0&&loading==true">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="text-center" *ngIf="listaDeTurnos.length==0&&loading==false">
          <strong>No existen turnos</strong>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Terminar Turnos -->
<div class="animated fadeIn" *ngIf="terminarTurnos==true">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <!-- HEADER BASE -->
        <div class="card-header">
          <div class="row">
            <div>
              <button type="button" class="btn btn-ghost-light">
                <i class="fa icon-menu
                      "></i>
              </button>
              <strong>Finalizar Turno</strong>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="card-header"><strong>Sesiones del tratamiento comprado</strong>
            <div class="card-header-actions">
              <button type="button" class="btn btn-ghost-secondary" (click)="cancelarTerminarTurno()"
                aria-controls="dropdown-basic"><span class="fa fa-times"></span>
              </button>
            </div>
          </div>
          <div class="table-responsive table-sm">
            <table class="table table-striped col-sm-12">
              <thead class="thead-dark">
                <tr>
                  <th class="text-center">N°</th>
                  <th class="text-center">Cliente</th>
                  <th class="text-center">Fecha de turno</th>
                  <th class="text-center">Fecha Completada</th>
                  <th class="text-center">Estado del turno</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let u of tablaSesiones.sesiones;index as i" [hidden]="!tablaSesiones.sesiones.length>0">
                  <td class="text-center">
                    {{i+1}}
                  </td>
                  <td class="text-center" *ngIf="u.turnoFecha!=null">{{u.turnoFecha| date:'yyyy-MM-dd HH:mm' }}
                  </td>
                  <td class="text-center">{{u.cliente_nombre}},{{u.cliente_apellido}}
                  </td>
                  <td class="text-center" *ngIf="u.turnoFecha==null">Sin registros
                  </td>
                  <td class="text-center" *ngIf="u.fechaCompletada!=null">
                    {{u.fechaCompletada| date:'yyyy-MM-dd HH:mm' }}
                  </td>
                  <td class="text-center" *ngIf="u.fechaCompletada==null">Sin registros
                  </td>
                  <td class="text-center" *ngIf="u.enabled==true&&u.completa==false&&u.turnoId==null">
                    <span class="badge badge-secundary">SOLICITAR
                      TURNO</span>
                  </td>
                  <td class="text-center" *ngIf="u.enabled==true&&u.completa==false&&u.turnoId!=null">
                    <span class="badge badge-danger"> YA POSEE UN TURNO</span>
                  </td>
                  <td class="text-center" *ngIf="u.enabled==false&&u.completa==true">
                    <span class="badge badge-success"> SESIÓN TERMINADA CON ÉXITO</span>
                  </td>
                  <td class="text-center" *ngIf="u.enable==false&&u.completa==false&&turnoId==null">
                    <span class="badge badge-success"> DADO DE BAJA</span>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="text-center" *ngIf="tablaSesiones.sesiones.length==0">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <div class="text-center" *ngIf="tablaSesiones.sesiones.length>0&&textAvisos!=null">
              <strong style="color: #DC3545">{{textAvisos}}</strong>
            </div>
          </div>
        </div>
        <!-- HISTORIAS CLINICAS -->
        <div class="card-body">
          <strong>Seleccionar fichas</strong>
          <div class="row">
            <div class="col-sm-12">
              <button *ngFor="let item of listaDeFichasClinicas" aria-pressed="true" class="btn btn-sm btn-info"
                type="button" (click)="cargarPreguntas(item.id)">{{item.nombre}}</button>
              <button aria-pressed="true" class="btn btn-sm btn-info" type="button"
                (click)="openModalImg(templateImage)">Cargar imagenes</button>
            </div>
          </div>
          <br>
          <div class="table-responsive table-sm">
            <table class="table table-striped col-sm-12">
              <thead class="thead-dark">
                <tr>
                  <th class="text-center">N°</th>
                  <th class="text-left">Detalles</th>
                  <th class="text-center">Respuestas</th>
                  <th class="text-right"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let u of fichaHistoriaClinica;index as i" [hidden]="!fichaHistoriaClinica.length>0">
                  <td class="text-center">
                    {{i+1}}
                  </td>
                  <td class="text-left">{{u.pregunta}}
                  </td>
                  <td class="text-left" *ngIf="u.respuesta!=null">{{u.respuesta}}
                  </td>
                  <td class="text-center" *ngIf="u.respuesta==null">Ingrese una respuesta
                  </td>
                  <td class="text-center">
                    <button tooltip="Editar respuesta" type="button" class="btn btn-ghost-secondary"
                      (click)="openModalRespuestas(templateRespuesta,u)">
                      <i class="fa icon-pencil"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="text-center" *ngIf="loadTablaHistoriaClinica==true">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
          <br>
          <strong *ngIf="imageList.length>0">Imagenes subidas</strong>
          <div class="table-responsive table-sm" *ngIf="imageList.length>0">
            <table class="table table-striped col-sm-12">
              <thead class="thead-dark">
                <tr>
                  <th class="text-center">N°</th>
                  <th class="text-center">Imagen</th>
                  <th class="text-right"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let u of imageList;index as i" [hidden]="!imageList.length>0">
                  <td class="text-center">
                    {{i+1}}
                  </td>
                  <td class="text-center"><img src="{{u.compressedImage.imageDataUrl}}" class="thumbnail" width="100"
                      height="100" class="rounded float-left" alt="...">
                  </td>
                  <td class="text-right">
                    <button tooltip="Borrar imagen cargada" type="button" class="btn btn-ghost-secondary"
                      (click)="openModalBorrarImage(templateBorrarImage,u)">
                      <i class="fa icon-close
                          "></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="text-center" *ngIf="load==true">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="form-group form-actions">
            <button class="btn btn-sm btn-info" [disabled]="load==true" (click)="terminarTurno()">Terminar
              turno</button>
            <button class="btn btn-sm btn-ghost-light active" (click)="cancelarTerminarTurno()"
              type="button">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //Renovar turnos -->
<div class="animated fadeIn" *ngIf="inicio==true">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <!-- HEADER BASE -->
        <div class="card-header">
          <div class="row">
            <div style="width: 100%">
              <button type="button" class="btn btn-ghost-light">
                <i class="fa icon-menu
                      "></i>
              </button>
              <strong>Renovar Turnos</strong>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive table-sm">
            <table class="table table-striped col-sm-12">
              <thead class="thead-dark">
                <tr>
                  <th class="text-center">Cliente</th>
                  <th class="text-center">Fecha</th>
                  <th class="text-center">Sala</th>
                  <th class="text-center">Faltas</th>
                  <th class="text-center">Causas</th>
                  <th class="text-center">Estado</th>
                  <th class="text-center"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let x of selectedSesiones" [hidden]="!selectedSesiones.length>0">
                  <td class="text-center">{{x.cliente.nombre}},{{x.cliente.apellido}}</td>
                  <td class="text-center">
                    {{x.fecha.desde|date:'yyyy-MM-dd HH:mm'}}_{{x.fecha.hasta|date:'yyyy-MM-dd HH:mm'}}
                  </td>
                  <td class="text-center">
                    <select class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="x.habitacionId" required>
                      <option [value]="nombre.id" *ngFor="let nombre of x.habitaciones"
                        [selected]="nombre.id==x.habitacionId ? true : null">{{nombre.nombre}}</option>
                    </select>
                  </td>
                  <td class="text-center">
                    <select class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="x.falta" aria-placeholder="Seleccione una opcion" required>
                      <option value='false'>CON AVISO</option>
                      <option value='true'>SIN AVISO</option>
                    </select>
                  </td>
                  <td class="text-center" *ngIf="x.canceladoRazon">{{x.canceladoRazon}}</td>
                  <td class="text-center" *ngIf="!x.canceladoRazon">
                    <button type="button" class="btn btn-ghost-secondary" (click)="openModalMotivo(templateMotivo,x)">
                      <i class="fa fa-pencil"></i>
                    </button>
                  </td>
                  <td class="text-center" *ngIf="x.disponibilidad.length==0"><span class="badge badge-success">
                      DISPONIBLE</span>
                  </td>
                  <td class="text-center" *ngIf="x.disponibilidad.length>0"> <span
                      class="badge badge-danger">OCUPADO</span>
                  </td>
                  <td class="text-center">
                    <button tooltip="Actualizar" type="button" class="btn btn-ghost-secondary"
                      (click)="openModalRenovar(templateRenovarFechas,x)">
                      <i class="fa fa-refresh"></i>
                    </button>
                    <button tooltip="Eliminar turno" type="button" class="btn btn-ghost-secondary"
                      (click)="openModalDelete(templateDelete,x)">
                      <i class="fa icon-close
                        "></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="text-center" *ngIf="selectedSesiones.length==0">
            <strong>Sin turnos seleccionados.</strong>
          </div>
          <div class="text-center" *ngIf="loadSesiones==true">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="form-group form-actions">
            <button class="btn btn-sm btn-danger" (click)="openModalDia(templateDia)">Renovación automática</button>
            <button class="btn btn-sm btn-info"
              (click)="openModalRenovaciones(templateFinishRenovaciones)">Confirmar</button>
            <button class="btn btn-sm btn-ghost-light active" (click)="cancelarRenovar()"
              type="button">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #templateRespuesta>
  <div class="modal-header">
    <h4 class="text-center">Detalles de la respuesta</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="cancelarRespuesta()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm">
      <div class="row">
        <div class="col-sm-12">
          <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
            placeholder="Ingrese respuesta" [(ngModel)]="tempRespuesta.respuesta" type="text" required>
        </div>
      </div>
    </form>
    <br>
    <div class="form-group form-actions">
      <button class="btn btn-sm btn-info" (click)="actualizarRespuesta(tempRespuesta)">Guardar respuesta</button>
      <button class="btn btn-sm btn-ghost-light active" (click)="cancelarRespuesta()" type="button">Cancelar</button>
    </div>
  </div>
</ng-template>
<ng-template #templateMotivo>
  <div class="modal-header">
    <h4 class="text-center">Motivo de cancelación</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="cancelarMotivo()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm">
      <div class="row">
        <div class="col-sm-12">
          <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
            placeholder="Ingrese motivo de cancelación" [(ngModel)]="tempMotivo.canceladoRazon" type="text" required>
        </div>
      </div>
    </form>
    <br>
    <div class="form-group form-actions">
      <button class="btn btn-sm btn-info" (click)="actualizarMotivo()">Guardar motivo</button>
      <button class="btn btn-sm btn-ghost-light active" (click)="cancelarMotivo()" type="button">Cancelar</button>
    </div>
  </div>
</ng-template>
<ng-template #templateDia>
  <div class="modal-header">
    <h4 class="text-center">Consultar dias automáticamente</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="cancelarRenovarDia()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm">
      <div class="row">
        <div class="col-sm-12">
          <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
            placeholder="Ingrese a cuantos dias renovar" [(ngModel)]="dias" type="number" required>
        </div>
      </div>
      <br>
      <div class="text-center" *ngIf="loadFechas==true">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </form>
    <div class="form-group form-actions">
      <button class="btn btn-sm btn-info" [disabled]="loadFechas==true" (click)="renovarLista(dias)">Consultar
        disponibilidad</button>
      <button class="btn btn-sm btn-ghost-light active" (click)="cancelarRenovarDia()" type="button">Cancelar</button>
    </div>
  </div>
</ng-template>
<ng-template #templateRenovarFechas>
  <div class="modal-header">
    <h4 class="text-center">Renovar Fecha disponible</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="form-group col-sm-12">
        <strong>Profesional a cargo</strong>
        <app-search-usuario (myClick)="TransportarUsuarioObjeto($event)"></app-search-usuario>
      </div>
      <strong *ngIf="usuarioObjeto!=null">Profesional a
        cargo:{{usuarioObjeto.nombre}},{{usuarioObjeto.apellido}}</strong>
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <label class="font-weight-bold">Desde</label>
        <input type="text" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [ngModelOptions]="{standalone: true}"
          [(ngModel)]="fechaActualizar.desde" placeholder="Ingrese fecha" class="form-control form-control-sm"
          bsDatepicker>
        <timepicker [ngModelOptions]="{standalone: true}" [showMeridian]="false" [(ngModel)]="fechaActualizar.desde">
        </timepicker>
      </div>
      <div class="form-group col-sm-6">
        <label class="font-weight-bold">Hasta</label>
        <input type="text" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [ngModelOptions]="{standalone: true}"
          [(ngModel)]="fechaActualizar.hasta" placeholder="Ingrese fecha" class="form-control form-control-sm"
          bsDatepicker>
        <timepicker [ngModelOptions]="{standalone: true}" [showMeridian]="false" [(ngModel)]="fechaActualizar.hasta">
        </timepicker>
      </div>
    </div>
    <div class="text-center" *ngIf="itemsTurnosOcupados.length>0">
      <strong style="color: white;background: #DC3545">LISTADO DE TURNOS PARA EL DÍA SELECCIONADO</strong>
    </div>
    <div *ngIf="itemsTurnosOcupados.length>0">
      <div class="form-group col-sm-12">
        <div class="table-responsive table-sm">
          <table class="table table-striped col-sm-12">
            <thead class="thead-dark">
              <tr>
                <th class="text-center">Motivo</th>
                <th class="text-center">Sala</th>
                <th class="text-center">Desde-Hasta</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let u of itemsTurnosOcupados" [hidden]="!itemsTurnosOcupados.length>0">
                <td class="text-center">
                  {{u.razon}}
                </td>
                <td class="text-center" *ngIf="u.habitacion!=null">
                  {{u.habitacion.nombre}}
                </td>
                <td class="text-center" *ngIf="u.habitacion==null">
                  ---
                </td>
                <!-- <td class="text-center" *ngIf="u.tratamiento==null">
                    ---
                  </td>
                  <td class="text-center" *ngIf="u.tratamiento!=null">
                    {{u.tratamiento.nombre}}
                  </td> -->
                <td class="text-center">
                  {{u.desde| date:'yyyy-MM-dd HH:mm' }}__{{u.hasta| date:'yyyy-MM-dd HH:mm' }}
                </td>
              </tr>
            </tbody>
          </table>
          <div class=" text-nowrap" [hidden]="listaTempTurnos.disponibilidad.length==0">
            <pagination [boundaryLinks]="true" previousText="Página Anterior" nextText="Página Siguiente"
              firstText="&laquo;" lastText="&raquo;" [totalItems]="listaTempTurnos.disponibilidad.length"
              (pageChanged)="pageChangedTurnosOcupados($event)"></pagination>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center" *ngIf="load==true">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="form-group form-actions">
      <button class="btn btn-sm btn-info" [disabled]="load==true" (click)="consultarTurno()">Consultar Fechas</button>
      <button class="btn btn-sm btn-ghost-light active" (click)="modalRef.hide()" type="button">Cancelar</button>
    </div>
  </div>
</ng-template>
<ng-template #templateBorrarImage>
  <div class="modal-header">
    <h4 class="text-center">Se eliminará la imagen. ¿Desea continuar?</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm">
      <div class="text-center" *ngIf="load==true">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="form-group form-actions">
        <button class="btn btn-sm btn-info" [disabled]="load==true" (click)="deleteImage()">Confirmar</button>
        <button class="btn btn-sm btn-ghost-light active" (click)="modalRef.hide()" type="button">Cancelar</button>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #templateDelete>
  <div class="modal-header">
    <h4 class="text-center" *ngIf="turnoId.falta=='true'">Se eliminará el turno y se computará el turno,ya que faltó sin
      aviso. ¿Desea continuar?</h4>
    <h4 class="text-center" *ngIf="turnoId.falta=='false'">Se eliminará el turno,pero la sesión seguirá vigente. ¿Desea
      continuar?</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm">
      <div class="text-center" *ngIf="load==true">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="form-group form-actions">
        <button class="btn btn-sm btn-info" [disabled]="load==true" (click)="deleteTurno()">Confirmar</button>
        <button class="btn btn-sm btn-ghost-light active" (click)="cancelarBorradoTurno()"
          type="button">Cancelar</button>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #templateImage>
  <div class="modal-header">
    <h4 class="text-center">Subir imagenes</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="cancelarImages()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm">
      <app-file-upload-clinic (myClick)="TransportarImages($event)"></app-file-upload-clinic>
      <br><br>
      <div class="text-center" *ngIf="load==true">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="form-group form-actions">
        <button class="btn btn-sm btn-info" [disabled]="load==true" (click)="modalRef.hide()">Confirmar</button>
        <button class="btn btn-sm btn-ghost-light active" (click)="cancelarImages()" type="button">Cancelar</button>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #templateFinishRenovaciones>
  <div class="modal-header">
    <h4 class="text-center">Se renovarán los turnos de la siguiente lista. ¿Desea continuar?</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm">
      <div class="text-center" *ngIf="load==true">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="form-group form-actions">
        <button class="btn btn-sm btn-info" [disabled]="load==true" (click)="terminarRenovacion()">Confirmar</button>
        <button class="btn btn-sm btn-ghost-light active" (click)="modalRef.hide()" type="button">Cancelar</button>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #templateHistoriaClinica>
  <div class="modal-header">
    <h4 class="text-center">Detalles de la historia clínica</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm">
      <strong *ngIf="imagenesClinica.length==0">Sin imágenes en la historia clinica</strong>
      <div *ngIf="imagenesClinica.length>0">
        <img *ngFor="let item of imagenesClinica" src="{{url}}{{item}}" class="thumbnail" width="100" height="100"
          class="rounded float-left" alt="...">
      </div>
      <br>
      <div class="table-responsive table-sm">
        <table class="table table-striped col-sm-12">
          <thead class="thead-dark">
            <tr>
              <th class="text-center">N°</th>
              <th class="text-left">Detalles</th>
              <th class="text-center">Respuestas</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let u of detallesPaciente;index as i" [hidden]="!detallesPaciente.length>0">
              <td class="text-center">
                {{i+1}}
              </td>
              <td class="text-left">{{u.pregunta}}
              </td>
              <td class="text-left" *ngIf="u.respuesta!=null">{{u.respuesta}}
              </td>
              <td class="text-center" *ngIf="u.respuesta==null">Sin respuesta
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
</ng-template>