<app-header style="position: fixed;z-index: 1020;width: 100%;text-align: center;padding: 0%" [navbarBrandRouterLink]="['/panel/home']" [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/logoAbajo.png', width: 100, height: 25, alt: 'CoreUI Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/sygnet.png', width: 30, height: 30, alt: 'CoreUI Logo'}"
  [sidebarToggler]="'lg'"[mobileSidebarToggler]="true" [mobileAsideMenuToggler] = "false" [asideMenuToggler]="false">
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
        dropdownToggle (click)="false">
        <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" />
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Bienvenido {{user.nombre}},{{user.apellido}}</strong></div>
        <a class="dropdown-item" [routerLink]="[ '/panel/usuarios/details', user.id ]"><i class="fa fa-user"></i> Perfil</a>
        <div class="divider"></div>
        <a class="dropdown-item" (click)="logout()"><i class="fa fa-lock"></i> Cerrar Sesión</a>
      </div>
    </li>
  </ul>
</app-header>

<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <div class="container-fluid" style="padding-right: 15px;padding-left: 15px;padding-top: 15px;">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
</div>
<app-footer>
  <strong  class="text-center"><a target="_blank" href="http://futurisi.com">FuturIsi</a> &copy; 2019</strong>
</app-footer>