<div class="card">
  <div class="col-lg-xs-ms">
    <div class="card">
      <div class="card-header">
        <button type="button" class="btn btn-ghost-secondary" [routerLink]="[ '/panel/fichas/list']">
          <i class="fa fa-reply"></i>
        </button>
        <strong>Crear Plantilla</strong>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="form-group col-sm-6">
              <label class="font-weight-bold">Tipo de Ficha</label>
              <select class='form-control' [ngModelOptions]="{standalone: true}" [(ngModel)]="ficha.tipo"
              >
                <option value='historiaClinica' selected="true">Historia Clínica</option>
                <option value='administrativa'>Administrativa</option>
              </select>
            </div>
            <div class="form-group col-sm-6">
              <label class="font-weight-bold">Nombre de la ficha</label>
              <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" placeholder="Ingrese nombre"
                [(ngModel)]="ficha.nombre" type="text" required>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-12">
              <label class="font-weight-bold">Pregunta</label>
              <textarea class="form-control form-control-sm" rows="1" [ngModelOptions]="{standalone: true}" [(ngModel)]="pregunta"
                placeholder="Pregunta..." type="text"></textarea>
            </div>
          </div>
          <div class="form-group form-actions">
            <button class="btn btn-sm btn-info" [disabled]="pregunta==null" (click)="cargarTabla()">Cargar
              Pregunta</button>
          </div>
        </form>
      </div>
      <div class="card-body" *ngIf="ficha.items.length>0">
        <div class="table-responsive table-sm">
         <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th class="text-left">N°</th>
                <th class="text-center">Pregunta</th>
                <th  class="text-right"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let u of ficha.items; index as i" [hidden]="!ficha.items.length>0">
                <td  class="text-left">{{i+1}}</td>
                <td class="text-center">{{u.pregunta}}</td>
                <td  class="text-right">
                  <button tooltip="Eliminar pregunta" type="button" (click)="openModal(template,u.pregunta)"
                    class="btn btn-ghost-secondary">
                    <i class="fa icon-close"></i>
                  </button>
                  <button tooltip="Editar item" type="button" class="btn btn-ghost-secondary"
                  (click)="openModalEdit(templateEdit,i+1,u)">
                  <i class="fa icon-pencil"></i>
                </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
         <div class="text-center">
            <div class="spinner-border" role="status" [hidden]="!load">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="form-group form-actions text-left ">
            <button class="btn btn-sm btn-info" [disabled]="load" (click)="openModalGuardar(templateGuardar)">Crear Ficha</button>
            <button class="btn btn-sm  btn-ghost-secondary" [routerLink]="[ '/panel/fichas/list']"
              type="button">Cancelar</button>
          </div>
      </div>
    </div>
  </div>
</div>
<ng-template #template>
  <div class="modal-header">
    <h4 class="text-center">Se borrará el item de la tabla</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm">
      <div class="form-group form-actions">
        <button class="btn btn-sm btn-info" (click)="eliminarItemTabla()">Confirmar</button>
        <button class="btn btn-sm btn-ghost-light active" (click)="modalRef.hide()" type="button">Cancelar</button>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #templateEdit>
    <div class="modal-header">
      <h4 class="text-center">Editar item de la tabla</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #f="ngForm">
      <div class="row">
          <div class="form-group col-sm-12">
            <label class="font-weight-bold">Pregunta</label>
            <textarea class="form-control form-control-sm" rows="1" [ngModelOptions]="{standalone: true}" [(ngModel)]="tempPregunta.pregunta"
              placeholder="Pregunta..." type="text"></textarea>
          </div>
        </div>
        <div class="form-group form-actions">
          <button class="btn btn-sm btn-info" (click)="modalRef.hide()">Actualizar</button>
          <button class="btn btn-sm btn-ghost-light active" (click)="modalRef.hide()" type="button">Cancelar</button>
        </div>
      </form>
    </div>
  </ng-template>
<ng-template #templateGuardar>
  <div class="modal-header">
    <h4 class="text-center">Se creará una nueva Ficha</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm">
      <div class="form-group form-actions">
        <button class="btn btn-sm btn-info" (click)="createTemplate()">Confirmar</button>
        <button class="btn btn-sm btn-ghost-light active" (click)="modalRef.hide()" type="button">Cancelar</button>
      </div>
    </form>
  </div>
</ng-template>