<div class="card">
  <div class="col-lg-xs-ms">
    <div class="card">
      <div class="card-header"  *ngIf="editMode">
          <button type="button" class="btn btn-ghost-secondary" (click)="lockEditMode()"  aria-controls="dropdown-basic"><span
            class="fa fa-times"></span>
          </button>
        <strong>Detalles del proveedor</strong>
        <div class="card-header-actions">
          <div class="btn-group col-md-offset-4" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-ghost-secondary"
              aria-controls="dropdown-basic"><span class="icon-options-vertical"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu "
              aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" (click)="unlockEditMode()" [hidden]="editMode">Editar</a>
              </li>
              <li role="menuitem"><a class="dropdown-item" (click)="lockEditMode()" [hidden]="!editMode">Cancelar</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card-header"  *ngIf="!editMode">
          <button type="button" class="btn btn-ghost-secondary" [routerLink]="[ '/panel/proveedores']">
            <i class="fa fa-reply" ></i>
        </button>
        <strong>Detalles del proveedor</strong>
        <div class="card-header-actions">
          <div class="btn-group col-md-offset-4" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-ghost-secondary"
              aria-controls="dropdown-basic"><span class="icon-options-vertical"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
              aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" (click)="unlockEditMode()" [hidden]="editMode">Editar</a>
              </li>
              <li role="menuitem"><a class="dropdown-item" (click)="lockEditMode()" [hidden]="!editMode">Cancelar</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="text-center" [hidden]="proveedor.razonSocial!=null">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <form #f="ngForm" [hidden]="proveedor.razonSocial==null">
          <div class="row">
            <div class="form-group col-sm-6">
              <label class="font-weight-bold">Razón Social</label>
              <input class="form-control form-control-sm"  [ngModelOptions]="{standalone: true}" [(ngModel)]="proveedor.razonSocial" [disabled]="!editMode" placeholder="Ingrese razón social" type="text"required>
            </div>
            <div class="form-group col-sm-6">
              <label class="font-weight-bold">CUIT/CUIL</label>
              <input class="form-control form-control-sm"  placeholder="Ingrese CUIT/CUIL"
              [ngModelOptions]="{standalone: true}" [(ngModel)]="proveedor.cuit" [disabled]="!editMode" type="text" required>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-4">
              <label class="font-weight-bold">Provincia</label>
              <input placeholder="Seleccione una provincia" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="proveedor.provincia" (typeaheadOnSelect)="onSelect($event)" [typeahead]="localidades"
                typeaheadOptionField="nombre" [disabled]="!editMode"
                typeaheadWordDelimiters="nombre==proveedor.provincia ? true : null" class="form-control form-control-sm">
            </div>
            <div class="form-group col-sm-4" [hidden]="ciudades==undefined">
              <label class="font-weight-bold">Localidad</label>
              <input placeholder="Seleccione una ciudad" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="proveedor.localidad" [typeahead]="ciudades" typeaheadOptionField="nombre"
                [disabled]="!editMode" typeaheadWordDelimiters="nombre==proveedor.localidad ? true : null"
                class="form-control form-control-sm">
            </div>
            <div class="form-group col-sm-4">
              <label class="font-weight-bold">Teléfono</label>
              <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
              [(ngModel)]="proveedor.telefono" [disabled]="!editMode" placeholder="Teléfono" type="text" required>
            </div>
          </div>
          <div class="text-center">
            <div class="spinner-border" role="status" [hidden]="!load">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="form-group form-actions">
            <button class="btn btn-sm btn-info" (click)="updateProveedor()" *ngIf="editMode"
              [disabled]="load">Actualizar</button>
            <button  class="btn btn-sm btn-ghost-secondary" (click)="lockEditMode()" *ngIf="editMode" type="button">Volver</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>