<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <form #f="ngForm">
            <div class="row">
              <div class="form-group col-sm-6">
                <label class="font-weight-bold">Forma de Pago</label>
                <select class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" [(ngModel)]="pago.tipoPago"   aria-placeholder="Seleccione una forma de pago" required>
                    <option [value]="x" *ngFor="let x of formaDePagos"  [selected]="x==pago.tipoPago ? true : null">{{x}}</option>
                  </select>
              </div>
              <div class="form-group col-sm-6">
                <label class="font-weight-bold">Monto</label>
                <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" [(ngModel)]="pago.monto"
                  placeholder="Ingrese monto" type="tel" step="0.01" required>
              </div>
            </div>
            <div class="form-group form-actions">
              <button class="btn btn-sm btn-info" (click)="cargarPago()">Cargar Pago</button>
            </div>
          </form>
        </div>
        <div class="card-body" *ngIf="tablaPagos.length>0">
           <div class="table-responsive table-sm">
           <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th class="text-center">Descripción</th>
                  <th class="text-center">Monto abonado </th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let u of tablaPagos" [hidden]="!tablaPagos.length>0">
                  <td class="text-center">{{u.tipoPago}}</td>
                  <td class="text-center">{{u.monto|currency}}</td>
                  <td>
                    <button tooltip="Eliminar pago" type="button" (click)="openModalPago(template,u)"
                      class="btn btn-ghost-secondary">
                      <i class="fa icon-close"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #template>
  <div class="modal-header">
    <h4 class="text-center">Se borrará el pago de la tabla</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm">
      <div class="form-group form-actions">
        <button class="btn btn-sm btn-info" (click)="eliminarItemPago()">Confirmar</button>
        <button class="btn btn-sm btn-ghost-light active" (click)="modalRef.hide()" type="button">Cancelar</button>
      </div>
    </form>
  </div>
</ng-template>