<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <!-- HEADER BASE -->
        <div class="card-header">
          <div class="row">
            <div>
              <button type="button" class="btn btn-ghost-light">
                <i class="fa icon-menu
                    "></i>
              </button>
              <strong>Tareas</strong>
            </div>
          </div>
        </div>
        <div class="d-flex flex-nowrap align-self-end" style="padding-right: 15px;padding-top: 5px;">
          <div class="d-flex flex-nowrap ">
            <button aria-pressed="true" tooltip="Crear nueva tarea" class="btn btn-sm btn-info" type="button"
              [routerLink]="[ '/panel/tareas/create']">Nueva tarea</button>
          </div>
        </div>
        <div class="card-body">
          <form #f="ngForm" (ngSubmit)="buscador()">
            <div class="row">
              <div class="form-group col-sm-6">
                  <label class="font-weight-bold">Usuario</label>
                <app-search-usuario (myClick)="TransportarUser($event)"></app-search-usuario>
                <label class="font-weight-bold" *ngIf="tempCliente!=''">Seleccionado:{{tempCliente}}</label>
              </div>
              <div class="form-group col-sm-6">
                <label class="font-weight-bold">Estado de tareas</label>
                <select class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" [(ngModel)]="filtroPagination.estado"   aria-placeholder="Seleccione un estado" (ngModelChange)="buscador()" required>
                  <option value="DADO DE BAJA">TAREAS DADAS DE BAJA</option>
                  <option value="NUEVO">TAREAS NUEVAS</option>
                  <option value="COMPLETO">TAREAS COMPLETADAS</option>
                </select>
              </div>
            </div>
            <label class="font-weight-bold">Filtro de tareas a expirar</label>
            <div class="row">
              <div class="form-group col-sm-6">
                <label class="font-weight-bold">Desde</label>
                <input type="text" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [ngModelOptions]="{standalone: true}" [(ngModel)]="filtroPagination.desde"  placeholder="Ingrese fecha" class="form-control form-control-sm" bsDatepicker>
              </div>
              <div class="form-group col-sm-6">
                <label class="font-weight-bold">Hasta</label>
                <input type="text" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [ngModelOptions]="{standalone: true}" [(ngModel)]="filtroPagination.hasta"  placeholder="Ingrese fecha" class="form-control form-control-sm" bsDatepicker>
              </div>
              <div class="form-group form-actions text-left ">
                <button class="btn btn-sm btn-info" (click)="buscador()" tooltip="Filtrar datos">Buscar Fechas</button>
                <button aria-pressed="true" class="btn btn-sm btn-danger"tooltip="Limpiar filtros" type="button"
                (click)="refresh()">Limpiar Filtros</button>
              </div>
            </div>
          </form>
        </div>

        <div class="card-body">
        <div class="table-responsive table-sm">
            <!--Table-->
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th>Detalles</th>
                  <th class="text-center">Fecha Creado</th>
                  <th class="text-center">Fecha Límite</th>
                  <th class="text-center">Fecha Terminada</th>
                  <th class="text-center">Creado por</th>
                  <th class="text-center">Asignado a</th>
                  <th  class="text-center">Estado</th>
                  <th  class="text-center"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let u of items" [hidden]="!items.length>0">
                    <td>{{u.texto}}</td>
                    <td class="text-center">{{u.fecha| date:'yyyy-MM-dd HH:mm' }}</td>
                    <td class="text-center" *ngIf="u.fechaObjetivo!=null">{{u.fechaObjetivo| date:'yyyy-MM-dd HH:mm' }}</td>
                    <td class="text-center" *ngIf="u.fechaObjetivo==null">-</td>
                    <td class="text-center" *ngIf="u.fechaCompletado!=null">{{u.fechaCompletado|
                        date:'yyyy-MM-dd HH:mm' }}</td>
                    <td class="text-center" *ngIf="u.fechaCompletado==null">PENDIENTE</td>
                    <td class="text-center">{{u.creador.nombre}},{{u.creador.apellido}}</td>
                    <td class="text-center">{{u.usuarioCompletado.nombre}},{{u.usuarioCompletado.apellido}}</td>
                    <td>  <span class="badge badge-white"  *ngIf="u.estado=='NUEVO'">{{u.estado}}</span> <span class="badge badge-danger"  *ngIf="u.estado=='DADO DE BAJA'">{{u.estado}}</span> <span class="badge badge-success"  *ngIf="u.estado=='COMPLETO'">{{u.estado}}</span></td>
                  <td *ngIf="u.estado=='NUEVO'">
                    <button tooltip="Editar tarea" type="button" class="btn btn-ghost-secondary"
                      [routerLink]="[ '/panel/tareas/details', u.id ]">
                      <i class="fa icon-pencil"></i>
                    </button>
                    <button tooltip="Eliminar tarea" type="button" class="btn btn-ghost-secondary" (click)="openModal(template,u)">
                      <i class="fa icon-close
                          "></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class=" text-nowrap"  [hidden]="items.length==0">
              <pagination [align]="true" [totalItems]="totalElements" [(ngModel)]="page"
                (pageChanged)="pageChanged($event)" [maxSize]="5" [itemsPerPage]="pageSize"  [boundaryLinks]="true" previousText="Página Anterior"
                nextText="Página Siguiente" firstText="&laquo;" lastText="&raquo;"></pagination>
            </div>
          </div>
          <div class="text-center" *ngIf="items.length==0&&loading==true">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="text-center" *ngIf="items.length==0&&loading==false">
            <strong>No existen registros</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #template>
  <div class="modal-header">
    <!-- <h4 class="modal-title pull-left">Modal</h4> -->
    <h4 class="text-center">Se eliminará permanentemente la tarea seleccionada</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm">
      <div class="form-group form-actions">
        <button class="btn btn-sm btn-info" (click)="delete()">Confirmar</button>
        <button class="btn btn-sm btn-ghost-light active" (click)="modalRef.hide()" type="button">Cancelar</button>
      </div>
    </form>
  </div>
</ng-template>