<div class="card">
  <div class="col-lg-xs-ms">
    <div class="card">
      <div class="card-header" *ngIf="editMode">
          <button type="button" class="btn btn-ghost-secondary" (click)="lockEditMode()"  aria-controls="dropdown-basic"><span
            class="fa fa-times"></span>
          </button>
        <strong>Detalles del usuario</strong>
        <div class="card-header-actions">
          <div class="btn-group col-md-offset-4" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-ghost-secondary" aria-controls="dropdown-basic"><span
                class="icon-options-vertical"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu "
              aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" (click)="unlockEditMode()" [hidden]="editMode">Editar</a>
              </li>
              <li role="menuitem"><a class="dropdown-item" (click)="lockEditMode()" [hidden]="!editMode">Cancelar</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card-header" *ngIf="!editMode">
          <button type="button" class="btn btn-ghost-secondary" [routerLink]="[ '/panel/usuarios']">
            <i class="fa fa-reply" ></i>
        </button>
        <strong>Detalles del usuario</strong>
        <div class="card-header-actions">
          <div class="btn-group col-md-offset-4" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-ghost-secondary" aria-controls="dropdown-basic"><span
                class="icon-options-vertical"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
              aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" (click)="unlockEditMode()" [hidden]="editMode">Editar</a>
              </li>
              <li role="menuitem"><a class="dropdown-item" (click)="lockEditMode()" [hidden]="!editMode">Cancelar</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="text-center" *ngIf="usuario==null">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div>
          <tabset>
            <tab heading="Actualizar Datos Personales" id="tab1">
              <form #f="ngForm" *ngIf="usuario!=null">
                <div class="row">
                  <div class="form-group col-sm-6">
                      <label class="font-weight-bold">Nombre</label>
                    <!-- <label class="font-weight-bold float-none">Nombre</label> -->
                    <input class="form-control form-control-sm" id="nombre" [ngModelOptions]="{standalone: true}" placeholder="Ingrese nombre"
                      required [(ngModel)]="usuario.nombre" type="text" [disabled]="!editMode" required>
                  </div>
                  <div class="form-group col-sm-6">
                    <label class="font-weight-bold">Apellido</label>
                    <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" [(ngModel)]="usuario.apellido"
                      placeholder="Ingrese apellido" type="text" [disabled]="!editMode" required>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-6">
                    <label class="font-weight-bold">Username</label>
                    <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" [(ngModel)]="usuario.username"
                      placeholder="Ingrese apellido" type="text" [disabled]="!editMode" required>
                  </div>
                  <div class="form-group col-sm-6">
                    <label class="font-weight-bold">Estado</label>
                    <select class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" [(ngModel)]="usuario.enabled"
                      aria-placeholder="Seleccione un estado" [disabled]="!editMode" required>
                      <option value="true">Habilitado</option>
                      <option value="false">No habilitado</option>
                    </select>
                  </div>
                </div>
                <div class="text-center">
                  <div class="spinner-border" role="status" [hidden]="!load">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
                <div class="form-group form-actions">
                  <button class="btn btn-sm btn-info" (click)="updateUsuario()" *ngIf="editMode"
                    [disabled]="load">Actualizar</button>
                  <button class="btn btn-sm btn-ghost-secondary" (click)="lockEditMode()" *ngIf="editMode"
                    type="button">Volver</button>
                </div>
              </form>
            </tab>
            <tab heading="Actualizar Permisos">
              <div class="row">
                <div class="form-group col-sm-12">
                  <form #f="ngForm" *ngIf="usuario!=null">
                    <div class="row">
                      <div class="form-group col-sm-12">
                        <label class="font-weight-bold">Rol Asignado</label>
                        <select class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" [(ngModel)]="usuario.rol"
                          [disabled]="!editMode" required>
                          <option [value]="nombre" *ngFor="let nombre of listRoles"
                            [selected]="nombre==usuario.rol ? true : null">{{nombre}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="text-center">
                      <div class="spinner-border" role="status" [hidden]="!load">
                        <span class="sr-only">Loading...</span>
                      </div>
                    </div>
                    <div class="form-group form-actions">
                      <button class="btn btn-sm btn-info" (click)="updateRol()" *ngIf="editMode"
                        [disabled]="load">Actualizar Rol</button>
                      <button class="btn btn-sm btn-ghost-secondary" (click)="lockEditMode()" *ngIf="editMode"
                        type="button">Volver</button>
                    </div>
                  </form>
                </div>
              </div>
            </tab>
            <tab heading="Cambiar Password">
              <div class="form-group col-sm-12">
                <form [formGroup]="usuarioForm" (ngSubmit)="updatePassword()" *ngIf="usuario!=null" >
                  <div class="row">
                    <div class="form-group col-sm-12">
                      <div class="input-group" *ngIf="mostrarPassword!=false">
                        <input class="form-control form-control-sm" formControlName="password"
                          [ngClass]="{ 'is-invalid': submitted && f.password.errors }"  
                          placeholder="Ingrese password anterior" type="password" minlength="8" required>
                        <div class="input-group-prepend"> <span class="input-group-text" (click)="ocultar()"><i
                              class="fa fa-eye" aria-hidden="false"></i></span></div>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                          <div *ngIf="f.password.errors.required">Campo Obligatorio</div>
                          <div *ngIf="f.password.errors?.minlength">
                            Debe tener una longitud mínima de 8 caracteres
                          </div>
                        </div>
                      </div>
                      <div class="input-group" *ngIf="mostrarPassword==false">
                        <input class="form-control form-control-sm" formControlName="password"
                          [ngClass]="{ 'is-invalid': submitted && f.password.errors }" 
                          placeholder="Ingrese password anterior" type="text" minlength="8" required>
                        <div class="input-group-prepend"> <span class="input-group-text" (click)="mostrar()"><i
                              class="fa fa-eye-slash" aria-hidden="false"></i></span></div>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                          <div *ngIf="f.password.errors.required">Campo Obligatorio</div>
                          <div *ngIf="f.password.errors?.minlength">
                            Debe tener una longitud mínima de 8 caracteres
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-sm-12">
                      <div class="input-group" *ngIf="mostrarPassword2!=false">
                        <input class="form-control form-control-sm" placeholder="Ingrese password de usuario"
                          formControlName="password2" [ngClass]="{ 'is-invalid': submitted && f.password2.errors }"
                        type="password" minlength="8" required>
                        <div class="input-group-prepend"> <span class="input-group-text" (click)="ocultar2()"><i
                              class="fa fa-eye" aria-hidden="false"></i></span></div>
                        <div *ngIf="submitted && f.password2.errors" class="invalid-feedback">
                          <div *ngIf="f.password2.errors.required">Campo Obligatorio</div>
                          <div *ngIf="f.password2.errors?.minlength">
                            Debe tener una longitud mínima de 8 caracteres
                          </div>
                        </div>
                      </div>
                      <div class="input-group" *ngIf="mostrarPassword2==false">
                        <input class="form-control form-control-sm" placeholder="Ingrese password de usuario" 
                          type="text" formControlName="password2"
                          [ngClass]="{ 'is-invalid': submitted && f.password2.errors }" minlength="8" required>
                        <div class="input-group-prepend"> <span class="input-group-text" (click)="mostrar2()"><i
                              class="fa fa-eye-slash" aria-hidden="false"></i></span></div>
                        <div *ngIf="submitted && f.password2.errors" class="invalid-feedback">
                          <div *ngIf="f.password2.errors.required">Campo Obligatorio</div>
                          <div *ngIf="f.password2.errors?.minlength">
                            Debe tener una longitud mínima de 8 caracteres
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <div class="spinner-border" role="status" [hidden]="!load">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>
                  <div class="form-group form-actions">
                    <button class="btn btn-sm btn-info" *ngIf="editMode" [disabled]="load">Actualizar
                      Contraseña</button>
                    <button class="btn btn-sm  btn-ghost-secondary" (click)="lockEditMode()" *ngIf="editMode"
                      type="button">Volver</button>
                  </div>
                </form>
              </div>
            </tab>
            <tab heading="Empresa">
              <div class="row">
                <div class="form-group col-sm-12">
                  <form #f="ngForm" *ngIf="usuario!=null">
                    <div class="row">
                      <div class="form-group col-sm-6">
                        <label class="font-weight-bold">Empresa asignada </label>
                        <select class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" [(ngModel)]="nombreEmpresa"
                          [disabled]="!editMode" required>
                          <option [value]="nombre.nombre" *ngFor="let nombre of empresas"
                            [selected]="nombre.nombre==nombreEmpresa ? true : null">{{nombre.nombre}}</option>
                        </select>
                      </div>
                      <div class="form-group col-sm-6">
                        <label class="font-weight-bold">Punto de Venta</label>
                        <select class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" [(ngModel)]="puntoDeVenta"
                          [disabled]="!editMode" required>
                          <option [value]="nombre.nombre" *ngFor="let nombre of puntosDeVentas"
                            [selected]="nombre.nombre==puntoDeVenta ? true : null">{{nombre.nombre}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="text-center">
                      <div class="spinner-border" role="status" [hidden]="!load">
                        <span class="sr-only">Loading...</span>
                      </div>
                    </div>
                    <div class="form-group form-actions">
                      <button class="btn btn-sm btn-info" (click)="updateUsuario()" *ngIf="editMode"
                        [disabled]="load">Actualizar datos Empresa</button>
                      <button class="btn btn-sm btn-ghost-secondary" (click)="lockEditMode()" *ngIf="editMode"
                        type="button">Volver</button>
                    </div>
                  </form>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>