<div class="card">
  <div class="col-lg-xs-ms">
    <div class="card">
      <div class="card-header" *ngIf="editMode">
          <button type="button" class="btn btn-ghost-secondary" (click)="lockEditMode()"  aria-controls="dropdown-basic"><span
            class="fa fa-times"></span>
          </button>
        <strong>Detalles del producto</strong>
        <div class="card-header-actions">
          <div class="btn-group col-md-offset-4" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-ghost-secondary" aria-controls="dropdown-basic"><span
                class="icon-options-vertical"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu "
              aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" (click)="unlockEditMode()" [hidden]="editMode">Editar</a>
              </li>
              <li role="menuitem"><a class="dropdown-item" (click)="lockEditMode()" [hidden]="!editMode">Cancelar</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card-header" *ngIf="!editMode">
          <button type="button" class="btn btn-ghost-secondary" [routerLink]="[ '/panel/productos/list']">
            <i class="fa fa-reply" ></i>
        </button>
        <strong>Detalles del producto</strong>
        <div class="card-header-actions">
          <div class="btn-group col-md-offset-4" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-ghost-secondary" aria-controls="dropdown-basic"><span
                class="icon-options-vertical"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
              aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" (click)="unlockEditMode()" [hidden]="editMode">Editar</a>
              </li>
              <li role="menuitem"><a class="dropdown-item" (click)="lockEditMode()" [hidden]="!editMode">Cancelar</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="text-center" [hidden]="producto.nombre!=null">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <form #f="ngForm" [hidden]="producto.nombre==null"> 
          <div class="row" [hidden]="!this.producto.imgUrl">
              <div class="form-group- col-sm-12 d-flex flex-row-reverse">
                  <img src="{{imageView}}" class="thumbnail" width="150" height="150" class="rounded float-left" alt="...">
              </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-3">
              <label class="font-weight-bold">Nombre del producto</label>
              <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" [(ngModel)]="producto.nombre"
                [disabled]="!editMode" placeholder="Ingrese nombre del producto" type="text" required>
            </div>
            <div class="form-group col-sm-6">
              <label class="font-weight-bold">Código de Barra</label>
              <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="producto.codigoDeBarras"
                [disabled]="!editMode" placeholder="Ingrese código de barras" class="form-control form-control-sm">
            </div>
            <div class="form-group col-sm-3">
              <label class="font-weight-bold">Código de producto</label>
              <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="producto.codigo"
                [disabled]="!editMode" placeholder="Ingrese código " class="form-control form-control-sm">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-3">
              <label class="font-weight-bold">Precio Costo</label>
              <input class="form-control form-control-sm" (ngModelChange)="valuechange()" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="producto.precioCosto" [disabled]="!editMode" placeholder="Ingrese monto" type="number"
                step="0.01" min="0" required>
            </div>
            <div class="form-group col-sm-3">
              <label class="font-weight-bold">IVA%</label>
              <!-- <input class="form-control form-control-sm" (ngModelChange)="valuechange()" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="producto.iva" [disabled]="!editMode" placeholder="Ingrese monto" type="number" step="0.01"
                min="0" required> -->
                <select class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="tipoIVA" [disabled]="!editMode"   (ngModelChange)="valuechange()" required>
                <option [value]="nombre.nombre"  *ngFor="let nombre of tipoDeIvas"
                  [selected]="nombre.nombre==tipoIVA ? true : null">{{nombre.nombre}}</option>
              </select>
            </div>
            <div class="form-group col-sm-3">
              <label class="font-weight-bold">Utilidad%</label>
              <input class="form-control form-control-sm" (ngModelChange)="valuechange()" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="producto.utilidad" [disabled]="!editMode" placeholder="Ingrese monto" type="number"
                step="0.01" min="0" required>
            </div>
            <div class="form-group col-sm-3">
              <label class="font-weight-bold">Precio Venta</label>
              <input class="form-control form-control-sm" (ngModelChange)="valuechange()" step="0.01" min="0"
                [ngModelOptions]="{standalone: true}" [(ngModel)]="producto.precioVenta" [disabled]="!editMode"
                placeholder="Ingrese monto" type="number" required>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-3">
              <label class="font-weight-bold">Categoria</label>
              <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" [(ngModel)]="producto.marca"
                [disabled]="!editMode" placeholder="Ingrese marca" type="text" required>
            </div>
            <div class="form-group col-sm-3">
              <label class="font-weight-bold">Marca</label>
              <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" [(ngModel)]="producto.subMarca"
                [disabled]="!editMode" placeholder="Ingrese categoria" type="text" required>
            </div>
            <div class="form-group col-sm-3" *ngIf="proveedores.length>0">
              <label class="font-weight-bold">Proveedor</label>
              <input placeholder="Seleccione un Proveedor" (typeaheadOnSelect)="onSelect($event)"
                [ngModelOptions]="{standalone: true}" [(ngModel)]="producto.proveedor" [disabled]="!editMode"
                typeaheadOptionField="razonSocial" [typeahead]="proveedores"
                typeaheadWordDelimiters="razonSocial==producto.proveedor ? true : null"
                [typeaheadItemTemplate]="customCapTemplate" class="form-control form-control-sm">
              <ng-template #customCapTemplate let-model="item" let-index="index">
                <p>{{model.razonSocial}}</p>
              </ng-template>
            </div>
            <div class="form-group col-sm-3">
              <label class="font-weight-bold">Unidad de Medida</label>
              <select class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" [(ngModel)]="producto.unidadMedida"
                [disabled]="!editMode" aria-placeholder="Seleccione una unidad" required>
                <option value="KG">KG</option>
                <option value="MG">MG</option>
                <option value="G">G</option>
              </select>
            </div>
          </div>
          <div class="row">
              <div class="form-group- col-sm-12" [hidden]="!editMode">
                  <app-file-upload (myClick)="Transportar($event)"></app-file-upload>
                  <hr>
              </div>
          </div> 
          <div class="text-center">
            <div class="spinner-border" role="status" [hidden]="!load">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="form-group form-actions">
            <button class="btn btn-sm btn-info" (click)="createProducto()" *ngIf="editMode"
              [disabled]="load">Actualizar</button>
            <button class="btn btn-sm btn-ghost-secondary" (click)="lockEditMode()" *ngIf="editMode"
              type="button">Volver</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>