<div class="card">
  <div class="col-lg-xs-ms">
    <div class="card">
      <div class="card-header" *ngIf="editMode">
        <button type="button" class="btn btn-ghost-secondary" (click)="lockEditMode()" 
          aria-controls="dropdown-basic"><span class="fa fa-times"></span>
        </button>
        <strong>Detalles de la tarea</strong>
        <div class="card-header-actions">
          <div class="btn-group col-md-offset-4" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-ghost-secondary" aria-controls="dropdown-basic"><span
                class="icon-options-vertical"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu "
              aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" (click)="unlockEditMode()" [hidden]="editMode">Editar</a>
              </li>
              <li role="menuitem"><a class="dropdown-item" (click)="lockEditMode()" [hidden]="!editMode">Cancelar</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card-header" *ngIf="!editMode">
        <button type="button" class="btn btn-ghost-secondary" [routerLink]="[ '/panel/tareas']">
          <i class="fa fa-reply"></i>
        </button>
        <strong>Detalles de la tarea</strong>
        <div class="card-header-actions">
          <div class="btn-group col-md-offset-4" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-ghost-secondary" aria-controls="dropdown-basic"><span
                class="icon-options-vertical"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
              aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" (click)="unlockEditMode()" [hidden]="editMode">Editar</a>
              </li>
              <li role="menuitem"><a class="dropdown-item" (click)="lockEditMode()" [hidden]="!editMode">Cancelar</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="text-center" *ngIf="tarea.texto==null">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <form #f="ngForm" [hidden]="tarea.texto==null">
          <div class="row">
            <div class="form-group col-sm-6">
              <label class="font-weight-bold">Usuario asignado</label>
              <div *ngIf="editMode"><app-search-usuario  (myClick)="TransportarUser($event)"></app-search-usuario></div>
             <div>{{user}}</div>
            </div>
            <div class="form-group col-sm-6">
              <label class="font-weight-bold">Fecha límite</label>
              <input [disabled]="!editMode" type="text" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                [ngModelOptions]="{standalone: true}" [(ngModel)]="tarea.fechaObjetivo"
                placeholder="Ingrese fecha limite" class="form-control form-control-sm" bsDatepicker>
            </div>
            <div class="form-group col-sm-12">
              <label class="font-weight-bold">Ingrese el motivo</label>
              <textarea [disabled]="!editMode" class="form-control form-control-sm" rows="2" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="tarea.texto" placeholder="Motivo..." type="text"></textarea>
            </div>
          </div>
          <div class="text-center">
            <div class="spinner-border" role="status" [hidden]="!load">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="form-group form-actions">
              <button class="btn btn-sm btn-success" tooltip="Terminar tarea"  (click)="openModal(templateComplete)" *ngIf="editMode"
              [disabled]="load">Completar</button>
              <button class="btn btn-sm btn-danger" tooltip="Eliminar tarea" (click)="openModal(template)" *ngIf="editMode"
              [disabled]="load">Dar de baja</button>
            <button class="btn btn-sm btn-info" tooltip="Actualizar tarea" (click)="updateTarea()" *ngIf="editMode"
              [disabled]="load">Actualizar</button>
            <button class="btn btn-sm btn-ghost-secondary" tooltip="Volver atras" (click)="lockEditMode()" *ngIf="editMode"
              type="button">Volver</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<ng-template #template>
    <div class="modal-header">
      <!-- <h4 class="modal-title pull-left">Modal</h4> -->
      <h4 class="text-center">Se dará de baja la tarea permanentemente. ¿Desea continuar?</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #f="ngForm">
        <div class="form-group form-actions">
          <button class="btn btn-sm btn-info" (click)="bajaTarea()">Confirmar</button>
          <button class="btn btn-sm btn-ghost-light active" (click)="modalRef.hide()" type="button">Cancelar</button>
        </div>
      </form>
    </div>
  </ng-template>
  <ng-template #templateComplete>
      <div class="modal-header">
        <!-- <h4 class="modal-title pull-left">Modal</h4> -->
        <h4 class="text-center">Se dará por completa la tarea. ¿Desea continuar?</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #f="ngForm">
          <div class="form-group form-actions">
            <button class="btn btn-sm btn-info" (click)="tareaCompleta()">Confirmar</button>
            <button class="btn btn-sm btn-ghost-light active" (click)="modalRef.hide()" type="button">Cancelar</button>
          </div>
        </form>
      </div>
    </ng-template>