<div class="card">
  <div class="col-lg-xs-ms">
    <div class="card">
      <div class="card-header">
        <button type="button" class="btn btn-ghost-secondary" [routerLink]="[ '/panel/turnos/list']">
          <i class="fa fa-reply"></i>
        </button>
        <strong>Crear Turnos</strong>
      </div>
      <div class="d-flex flex-nowrap align-self-end" style="padding-right: 15px;padding-top: 5px;">
        <div class="d-flex flex-nowrap ">
          <!-- <button aria-pressed="true" class="btn btn-danger" type="button"
            (click)="refresh()">Actualizar</button> -->
          <button aria-pressed="true" tooltip="Crear nuevo cliente" class="btn btn-sm btn-info" type="button"
           (click)="openModalNuevoCliente(templateNuevoCliente)">Nuevo Cliente</button>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="form-group col-sm-6">
            <app-search-cliente (myClick)="TransportarCliente($event)"></app-search-cliente>
          </div>
          <div class="form-group col-sm-12" *ngIf="clienteId&&loadTurnos==false;">
            <strong *ngIf="clienteId">{{clienteId.cliente.nombre}},{{clienteId.cliente.apellido}}</strong>
            <hr>
            <strong *ngIf="clienteId" style="color: forestgreen">(SALDO:{{clienteId.saldo|currency}})</strong>
            <div class="text-right">
              <button tooltip="Ingresar nuevo pago" aria-pressed="true" class="btn btn-sm btn-info" type="button"
                (click)="openModalPago(templatePago)">Nuevo pago</button>
              <button aria-pressed="true" tooltip="Crear nuevo tratamiento" class="btn btn-sm btn-dark" type="button"
                (click)="openModalComprarTratamiento(templateComprarTratamiento)">Comprar tratamiento</button>
            </div>
          </div>
        </div>
        <div class="text-center" *ngIf="loadTurnos==true;">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="text-center" *ngIf="loadTurnos==true;">
          <strong>Procesando...</strong>
        </div>
        <!-- TRATAMIENTOS COMPRADOS -->
        <div class="card-header" *ngIf="clienteId&&loadTurnos==false;"><strong>Registros de Tratamientos
            Comprados</strong></div>
        <div class="table-responsive table-sm" *ngIf="clienteId&&loadTurnos==false;">
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th class="text-center">N°</th>
                <th class="text-center">Detalles</th>
                <th class="text-center">Fecha Comprado</th>
                <th class="text-center">Fecha Terminado</th>
                <th class="text-center">Precio</th>
                <th class="text-center">Cant. Sesiones</th>
                <th class="text-center">Motivo de Baja</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let u of itemsTratamientosComprados" [hidden]="!itemsTratamientosComprados.length>0">
                <td class="text-center">
                  {{u.id}}
                </td>
                <td class="text-center">{{u.tratamiento.nombre}}</td>
                <td class="text-center" *ngIf="u.fechaCompra">{{u.fechaCompra| date:'yyyy-MM-dd HH:mm' }}
                </td>
                <td class="text-center" *ngIf="!u.fechaCompra">Sin Registros</td>
                <td class="text-center" *ngIf="u.fechaCompleto">{{u.fechaCompleto| date:'yyyy-MM-dd HH:mm' }}
                </td>
                <td class="text-center" *ngIf="!u.fechaCompleto">Sin Registros</td>
                <td class="text-center">{{u.precio|currency}}</td>
                <td class="text-center">{{u.sesiones.length}}</td>
                <td class="text-center" *ngIf="u.enabled">
                  <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" placeholder="Ingrese motivo de baja"
                    [(ngModel)]="u.motivo" type="text" required>
                </td>
                <td class="text-center" *ngIf="!u.enabled">{{u.motivo}}</td>
                <td *ngIf="u.enabled">
                  <button tooltip="Ver sesiones" type="button" class="btn btn-ghost-secondary"
                    (click)="cargarSesiones(u.tratamiento,u.sesiones)">
                    <i class="fa fa-search-plus"></i>
                  </button>
                  <button [disabled]="u.motivo==null" tooltip="Borrar Tratamiento" type="button"
                    class="btn btn-ghost-secondary"
                    (click)="openModalBorrarTratamiento(templateTratamientoBaja,u.id,u.sesiones,u.motivo)">
                    <i class="fa fa-address-card-o"></i>
                  </button>
                  <button [disabled]="u.motivo==null" tooltip="Borrar Tratamiento y dar de baja las sesiones con turnos"
                    type="button" class="btn btn-ghost-secondary"
                    (click)="openModalBorrarTratamientoTotal(templateTratamientoBajaTotal,u.id,u.sesiones,u.motivo)">
                    <i class="fa fa-address-card-o"></i>
                  </button>
                </td>
                <td *ngIf="!u.enabled">
                  <span class="badge badge-success" *ngIf="!u.enabled">TERMINADO</span>
                </td>
              </tr>
            </tbody>
          </table>
          <div class=" text-nowrap"  [hidden]="tratamientosComprados.length==0">
            <pagination [boundaryLinks]="true" previousText="Página Anterior" nextText="Página Siguiente"
              firstText="&laquo;" lastText="&raquo;" [totalItems]="tratamientosComprados.length"
              (pageChanged)="pageChanged($event)"></pagination>
          </div>
          <div class="text-center" *ngIf="tratamientosComprados.length==0&&loading==true">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="text-center" *ngIf="tratamientosComprados.length==0&&clienteId!=null">
            <strong>No existen tratamientos comprados</strong>
          </div>
        </div>
        <!-- FIN TRATAMIENTOS COMPRADOS -->
        <!-- SESIONES DEL TRATAMIENTO SELECCIONADO -->
        <div class="card-header" *ngIf="clienteId&&tablaSesiones.length>0"><strong>Sesiones del tratamiento </strong>
          <div class="card-header-actions">
            <button type="button" class="btn btn-ghost-secondary" (click)="cerrarTablaSesiones()"
              aria-controls="dropdown-basic"><span class="fa fa-times"></span>
            </button>
          </div>
        </div>
        <div *ngIf="clienteId&&tablaSesiones.length>0">
          <div class="form-group col-sm-12">
            <div class="table-responsive table-sm">
              <table class="table table-striped col-sm-12">
                <thead class="thead-dark">
                  <tr>
                    <th class="text-center">N°</th>
                    <th class="text-center">Fecha de turno</th>
                    <th class="text-center">Fecha Completada</th>
                    <th class="text-center">Estado del turno</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let u of tablaSesiones;index as i" [hidden]="!tablaSesiones.length>0">
                    <td class="text-center">
                      <div class="custom-control custom-checkbox mb-3">
                        <input type="checkbox"
                          [disabled]="u.enabled==true&&u.completa==false&&u.turnoId!=null||u.enabled==false&&u.completa==true||u.enable==false&&u.completa==false&&turnoId==null"
                          class="custom-control-input" id=" {{i+1}}" name="example1" (click)="setClickedRow(u)"
                          [class.active]="u == selectedRow">
                        <label class="custom-control-label" for=" {{i+1}}"> {{i+1}}</label>
                      </div>
                    </td>
                    <td class="text-center" *ngIf="u.turnoFecha!=null">{{u.turnoFecha| date:'yyyy-MM-dd HH:mm' }}
                    </td>
                    <td class="text-center" *ngIf="u.turnoFecha==null">Sin registros
                    </td>
                    <td class="text-center" *ngIf="u.fechaCompletada!=null">
                      {{u.fechaCompletada| date:'yyyy-MM-dd HH:mm' }}
                    </td>
                    <td class="text-center" *ngIf="u.fechaCompletada==null">Sin registros
                    </td>
                    <td class="text-center" *ngIf="u.enabled==true&&u.completa==false&&u.turnoId==null">
                      <span class="badge badge-secundary">SOLICITAR
                        TURNO</span>
                    </td>
                    <td class="text-center" *ngIf="u.enabled==true&&u.completa==false&&u.turnoId!=null">
                      <span class="badge badge-danger"> YA POSEE UN TURNO</span>
                    </td>
                    <td class="text-center" *ngIf="u.enabled==false&&u.completa==true">
                      <span class="badge badge-success"> SESIÓN TERMINADA CON ÉXITO</span>
                    </td>
                    <td class="text-center" *ngIf="u.enable==false&&u.completa==false&&turnoId==null">
                        <span class="badge badge-success"> DADO DE BAJA</span>
                      </td>
                    <td *ngIf="u.enabled" class="text-center">
                      <!-- <button tooltip="Pre-carga historia clinica" type="button" class="btn btn-ghost-secondary"
                            (click)="cargarHistoriaClinica(u.tratamiento,u.sesiones,$index)">
                            <i class="fa fa-address-book-o"></i>
                          </button> -->
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="text-center" *ngIf="tratamientosComprados.length==0&&clienteId!=null">
                <strong>No existen sesiones</strong>
              </div>
            </div>
            <div class="form-group form-actions text-right ">
              <button class="btn btn-sm btn-info" [disabled]="selectedSesiones.length==0"
                (click)="openModalConsultarFechas(templateConsultarFechas)">Consultar disponibilidad</button>
              <!-- <button  class="btn btn-sm  btn-ghost-secondary" (click)="limpiarReserva()" type="button">Cancelar</button> -->
            </div>
          </div>
        </div>
        <!-- FIN DE SESIONES DEL TRATAMIENTO SELECCIONADO -->
        <!-- ESTADO DE DISPONIBILIDAD DE TURNOS -->
        <div *ngIf="clienteId&&listaDeFechas.length>0">
          <div class="form-group col-sm-12">
            <div class="table-responsive table-sm">
              <table class="table table-striped col-sm-12">
                <thead class="thead-dark">
                  <tr>
                    <th class="text-center">N° Sesión</th>
                    <th class="text-center">Desde</th>
                    <th class="text-center">Hasta</th>
                    <th class="text-center">Estado de turno</th>
                    <th class="text-center"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let u of listaDeFechas;index as i" [hidden]="!listaDeFechas.length>0">
                    <td class="text-center">
                      {{i+1}}
                    </td>
                    <td class="text-center">{{u.fecha.desde| date:'yyyy-MM-dd HH:mm' }}
                    </td>
                    <td class="text-center">{{u.fecha.hasta| date:'yyyy-MM-dd HH:mm' }}
                    </td>
                    <td class="text-center" *ngIf="u.disponibilidad.length>0">
                      <span class="badge badge-danger">NO DISPONIBLE</span>
                    </td>
                    <td class="text-center" *ngIf="u.disponibilidad.length==0">
                      <span class="badge badge-success"> DISPONIBLE</span>
                    </td>
                    <td class="text-center">
                      <button tooltip="Actualizar dia" type="button" class="btn btn-ghost-secondary"
                        (click)="openModalRenovarFechas(templateRenovarFechas,u)">
                        <i class="fa fa-refresh"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="text-center" *ngIf="tratamientosComprados.length==0&&clienteId!=null">
                <strong>No existen sesiones</strong>
              </div>
            </div>
          </div>
        </div>
        <!-- FIN DE ESTADO DE TURNOS -->
        <!-- Parte final de turnos -->
        <div *ngIf="clienteId&&listaDeFechas.length>0">
          <div class="row">
            <div class="form-group col-sm-6">
              <strong>Usuario a cargo</strong>
              <app-search-usuario (myClick)="TransportarUsuario($event)"></app-search-usuario>
              <strong *ngIf="usuario!=null">Profesional a cargo:{{usuario.nombre}},{{usuario.apellido}}</strong>
            </div>
            <div class="form-group col-sm-6">
              <strong>Seleccione una sala para el turno:</strong>
              <div class="custom-control custom-checkbox mb-3" *ngFor="let u of habitaciones">
                <input type="checkbox" class="custom-control-input" id="{{u.id}}" name="example1"
                  (click)="setClickedRowHabitaciones(u)" [class.active]="u == selectedHabitacion">
                <label class="custom-control-label" for="{{u.id}}">{{u.nombre}}</label>
              </div>
            </div>
          </div>
          <br>
          <div class="form-group form-actions text-right ">
            <button class="btn btn-sm btn-info" [disabled]="selectedHabitacion.length==0||loadFinal==true"
              (click)="openModalTerminarTurnos(templateTerminarTurnos)">Guardar turno</button>
            <button class="btn btn-sm  btn-ghost-secondary" [routerLink]="[ '/panel/turnos/list']"
              type="button">Volver</button>
          </div>
        </div>
        <!-- Fin turno -->
      </div>
    </div>
  </div>
</div>

<!-- MODALES -->
<ng-template #templateTratamientoBaja>
  <div class="modal-header">
    <h4 class="text-center">Se eliminará el tratamiento seleccionado</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="cancelarBajaTratamiento()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm">
      <div class="text-center">
        <div class="spinner-border" role="status" [hidden]="!load">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="form-group form-actions">
        <button class="btn btn-sm btn-info" (click)="darDeBajaTratamiento()">Confirmar</button>
        <button class="btn btn-sm btn-ghost-light active" (click)="cancelarBajaTratamiento()"
          type="button">Cancelar</button>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #templateTratamientoBajaTotal>
  <div class="modal-header">
    <!-- <h4 class="modal-title pull-left">Modal</h4> -->
    <h4 class="text-center">Se eliminará el tratamiento seleccionado y sus sesiones con turnos</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="cancelarBajaTratamiento()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm">
      <div class="text-center">
        <div class="spinner-border" role="status" [hidden]="!load">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="form-group form-actions">
        <button class="btn btn-sm btn-info" (click)="darDeBajaTratamientoTotal()">Confirmar</button>
        <button class="btn btn-sm btn-ghost-light active" (click)="cancelarBajaTratamiento()"
          type="button">Cancelar</button>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #templateNuevoCliente>
  <div class="modal-header">
    <h4 class="text-center">Generar nuevo Cliente</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-clientes-create-modal (myClick)="TransportarClienteNuevo($event)"></app-clientes-create-modal>
  </div>
</ng-template>
<ng-template #templatePago>
  <div class="modal-header">
    <h4 class="text-center">Generar nuevo Pago</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-form-pagos (myClickPago)="TransportarPago($event)"></app-form-pagos>
    <div class="text-center" *ngIf="load==true">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="form-group form-actions">
      <button class="btn btn-sm btn-info" (click)="createPago()">Confirmar Pago</button>
      <button class="btn btn-sm btn-ghost-light active" (click)="modalRef.hide()" type="button">Cancelar</button>
    </div>
  </div>
</ng-template>
<ng-template #templateComprarTratamiento>
  <div class="modal-header">
    <h4 class="text-center">Comprar Tratamientos</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="cancelarCompraTratamiento()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-comprar-tratamiento (myClickComprarTratamiento)="TransportarCompraTratamiento($event)">
    </app-comprar-tratamiento>
    <div class="text-center" *ngIf="load==true">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="form-group form-actions">
      <button class="btn btn-sm btn-info" (click)="comprarTratamientos()">Comprar Tratamientos</button>
      <button class="btn btn-sm btn-ghost-light active" (click)="cancelarCompraTratamiento()"
        type="button">Cancelar</button>
    </div>
  </div>
</ng-template>
<ng-template #templateConsultarFechas>
  <div class="modal-header">
    <h4 class="text-center">Consultar Fecha disponible</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="form-group col-sm-6">
        <label class="font-weight-bold">Desde</label>
        <input type="text" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [ngModelOptions]="{standalone: true}"
          [(ngModel)]="fecha.desde" placeholder="Ingrese fecha" class="form-control form-control-sm" bsDatepicker>
        <timepicker [ngModelOptions]="{standalone: true}" [showMeridian]="false" [(ngModel)]="fecha.desde"></timepicker>
      </div>
      <div class="form-group col-sm-6">
        <label class="font-weight-bold">Hasta</label>
        <input type="text" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [ngModelOptions]="{standalone: true}"
          [(ngModel)]="fecha.hasta" placeholder="Ingrese fecha" class="form-control form-control-sm" bsDatepicker>
        <timepicker [ngModelOptions]="{standalone: true}" [showMeridian]="false" [(ngModel)]="fecha.hasta"></timepicker>
      </div>
    </div>
    <div class="text-center" *ngIf="load==true">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="form-group form-actions">
      <button class="btn btn-sm btn-info" [disabled]="selectedSesiones.length==0"
        (click)="reservarListaDeTurnos()">Consultar Fechas</button>
      <button class="btn btn-sm btn-ghost-light active" (click)="modalRef.hide()" type="button">Cancelar</button>
    </div>
  </div>
</ng-template>
<ng-template #templateRenovarFechas>
  <div class="modal-header">
    <h4 class="text-center">Renovar Fecha disponible</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="form-group col-sm-6">
        <label class="font-weight-bold">Desde</label>
        <input type="text" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [ngModelOptions]="{standalone: true}"
          [(ngModel)]="fechaActualizar.desde" placeholder="Ingrese fecha" class="form-control form-control-sm" bsDatepicker>
        <timepicker [ngModelOptions]="{standalone: true}" [showMeridian]="false" [(ngModel)]="fechaActualizar.desde"></timepicker>
      </div>
      <div class="form-group col-sm-6">
        <label class="font-weight-bold">Hasta</label>
        <input type="text" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [ngModelOptions]="{standalone: true}"
          [(ngModel)]="fechaActualizar.hasta" placeholder="Ingrese fecha" class="form-control form-control-sm" bsDatepicker>
        <timepicker [ngModelOptions]="{standalone: true}"[showMeridian]="false" [(ngModel)]="fechaActualizar.hasta"></timepicker>
      </div>
    </div>
    <div class="text-center" *ngIf="itemsTurnosOcupados.length>0&&clienteId!=null">
      <strong style="color: white;background: #DC3545">LISTADO DE TURNOS PARA EL DÍA SELECCIONADO</strong>
    </div>
    <div *ngIf="clienteId&&itemsTurnosOcupados.length>0">
      <div class="form-group col-sm-12">
        <div class="table-responsive table-sm">
          <table class="table table-striped col-sm-12">
            <thead class="thead-dark">
              <tr>
                <th class="text-center">Motivo</th>
                <th class="text-center">Sala</th>
                <th class="text-center">Desde-Hasta</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let u of itemsTurnosOcupados" [hidden]="!itemsTurnosOcupados.length>0">
                <td class="text-center">
                  {{u.razon}}
                </td>
                <td class="text-center" *ngIf="u.habitacion!=null">
                  {{u.habitacion.nombre}}
                </td>
                <td class="text-center" *ngIf="u.habitacion==null">
                  ---
                </td>
                <!-- <td class="text-center" *ngIf="u.tratamiento==null">
                  ---
                </td>
                <td class="text-center" *ngIf="u.tratamiento!=null">
                  {{u.tratamiento.nombre}}
                </td> -->
                <td class="text-center">
                  {{u.desde| date:'yyyy-MM-dd HH:mm' }}__{{u.hasta| date:'yyyy-MM-dd HH:mm' }}
                </td>
              </tr>
            </tbody>
          </table>
          <div class=" text-nowrap"  [hidden]="listaTempTurnos.disponibilidad.length==0">
            <pagination [boundaryLinks]="true" previousText="Página Anterior" nextText="Página Siguiente"
              firstText="&laquo;" lastText="&raquo;" [totalItems]="listaTempTurnos.disponibilidad.length"
              (pageChanged)="pageChangedTurnosOcupados($event)"></pagination>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center" *ngIf="load==true">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="form-group form-actions">
      <button class="btn btn-sm btn-info" (click)="consultarTurno()">Consultar Fechas</button>
      <button class="btn btn-sm btn-ghost-light active" (click)="modalRef.hide()" type="button">Cancelar</button>
    </div>
  </div>
</ng-template>
<ng-template #templateTerminarTurnos>
  <div class="modal-header">
    <h4 class="text-center">Se Guardará un nuevo turno. ¿Desea continuar?</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-center" *ngIf="loadTurnoFinal==true">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="form-group form-actions">
      <button class="btn btn-sm btn-info" [disabled]="loadTurnoFinal==true" (click)="generarTurno()">Guardar
        turno</button>
      <button class="btn btn-sm btn-ghost-light active" (click)="modalRef.hide()" type="button">Cancelar</button>
    </div>
  </div>
</ng-template>