<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <!-- HEADER BASE -->
        <div class="card-header">
          <div class="row">
            <div>
              <button type="button" class="btn btn-ghost-light">
                <i class="fa icon-menu
                    "></i>
              </button>
              <strong>Estadisticas Activas/Bajas</strong>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form #f="ngForm" (ngSubmit)="buscador()">
            <div class="row">
              <div class="form-group col-sm-3">
                <label class="font-weight-bold">Cliente</label>
                <app-search-cliente (myClick)="TransportarCliente($event)"></app-search-cliente>
              </div>
              <div class="form-group col-sm-3">
                <label class="font-weight-bold">Tratamiento</label>
                <app-search-tratamiento (myClick)="TransportarTratamiento($event)"></app-search-tratamiento>
              </div>
              <div class="form-group col-sm-3">
                <label class="font-weight-bold">Estado de Tratamientos</label>
                <select class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="fecha.tipo" aria-placeholder="Seleccione un estado"
                  (change)="onOptionsSelected($event.target.value)" required>
                  <option value="ACTIVAS">ACTIVAS</option>
                  <option value="BAJAS">BAJAS</option>
                </select>
              </div>
              <div class="form-group col-sm-3" *ngIf="fecha.tipo=='ACTIVAS'">
                <label class="font-weight-bold">Tipo de informe</label>
                <select class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="totalTerminadas" aria-placeholder="Seleccione un estado"
                  (change)="onOptionsSelectedValue($event.target.value)" required>
                  <option value="true">Tratamientos terminados</option>
                  <option value="false">Tratamientos con sesiones</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-3">
                <label class="font-weight-bold">Desde</label>
                <input type="text" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="fecha.desde" placeholder="Ingrese fecha" class="form-control form-control-sm"
                  bsDatepicker>
              </div>
              <div class="form-group col-sm-3">
                <label class="font-weight-bold">Hasta</label>
                <input type="text" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="fecha.hasta" placeholder="Ingrese fecha" class="form-control form-control-sm"
                  bsDatepicker>
              </div>
            </div>
            <div class="row">
              <div class="form-group form-actions text-left ">
                <button class="btn btn-sm btn-info" (click)="buscador()" tooltip="Filtrar datos">Buscar por
                  Fechas</button>
                <button aria-pressed="true" class="btn btn-sm btn-danger" tooltip="Limpiar filtros" type="button"
                  (click)="refresh()">Limpiar Filtros</button>
              </div>
            </div>
          </form>
        </div>

        <div class="card-body">
          <strong>Listado de {{fecha.tipo}}</strong>
          <div class="table-responsive table-sm">
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th class="text-center">N°</th>
                  <th class="text-center">Nombre</th>
                  <th class="text-center">Saldo</th>
                  <th class="text-center">Celular</th>
                  <th class="text-center">Edad</th>
                  <th class="text-center">Profesión</th>
                  <th class="text-center">Tratamientos</th>
                  <th class="text-center">Fecha Comprado</th>
                  <th class="text-center">Fecha Terminado</th>
                  <th class="text-center">Precio(Tratamiento)</th>
                  <th class="text-center">Turnos Pendientes</th>
                  <th class="text-center">Sesiones Sin Turno(Activas)</th>
                  <th class="text-center">Sesiones Dadas de baja</th>
                  <th class="text-center">Sesiones Terminadas</th>
                  <th class="text-center">Cantidad de Sesiones</th>
                  <th class="text-center">Ganancia</th>
                  <th class="text-center" *ngIf="fecha.tipo=='BAJAS'">Motivo</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let u of items; index as i" [hidden]="!items.length>0">
                  <td class="text-center">{{i+1}}</td>
                  <td class="text-center">{{u.cliente.nombre}},{{u.cliente.apellido}}</td>
                  <td class="text-center">{{u.saldo|currency}}</td>
                  <td class="text-center">{{u.cliente.celular1}}</td>
                  <td class="text-center" *ngIf="u.cliente.fechaNacimiento!=null" style="text-align: center">
                    {{calculo(u.cliente.fechaNacimiento)}}</td>
                  <td class="text-center" *ngIf="u.cliente.fechaNacimiento==null">Sin
                    Registros</td>
                  <td class="text-center" *ngIf="u.cliente.profesion!=''">{{u.cliente.profesion}}</td>
                  <td class="text-center" *ngIf="u.cliente.profesion==''"><strong style="color:brown">Sin
                      Registros</strong>
                  </td>
                  <td class="text-center">{{u.tratamientosComprados.tratamiento.nombre}}</td>
                  <td class="text-center" *ngIf="u.tratamientosComprados.fechaCompra!=null" show-gt-md>{{u.tratamientosComprados.fechaCompra|date:"dd/MM/yyyy
                        'a
                        las'
                        h:mma "}}</td>
                  <td class="text-center" *ngIf="u.tratamientosComprados.fechaCompra==null" show-gt-md>Sin
                    Registros</td>
                  <td class="text-center" *ngIf="u.tratamientosComprados.fechaCompleto!=null">{{u.tratamientosComprados.fechaCompleto|date:"dd/MM/yyyy
                        'a
                        las'
                        h:mma "}}</td>
                  <td class="text-center" *ngIf="u.tratamientosComprados.fechaCompleto==null" show-gt-md>Sin Registros
                  </td>
                  <td class="text-center" style="text-align: center">{{u.tratamientosComprados.precio|currency}}</td>
                  <td class="text-center" style="text-align: center">
                    {{calculoSesiones(u.tratamientosComprados.sesiones)}}
                  </td>
                  <td class="text-center" style="text-align: center">
                    {{calculoSesionesSinTurno(u.tratamientosComprados.sesiones)}}
                  </td>
                  <td class="text-center" style="text-align: center">
                    {{calculoSesionesBaja(u.tratamientosComprados.sesiones)}}
                  </td>
                  <td class="text-center" style="text-align: center">
                    {{u.tratamientosComprados.sesiones.length-calculoSesiones(u.tratamientosComprados.sesiones)-calculoSesionesBaja(u.tratamientosComprados.sesiones)-calculoSesionesSinTurno(u.tratamientosComprados.sesiones)}}
                  </td>
                  <td class="text-center" style="text-align: center">{{u.tratamientosComprados.sesiones.length}}</td>
                  <td class="text-center" style="text-align: center"
                    *ngIf="u.tratamientosComprados.fechaCompleto!=null">
                    {{calculoGanancia(u.tratamientosComprados.sesiones)|currency}}
                  </td>
                  <td class="text-center" style="text-align: center"
                    *ngIf="u.tratamientosComprados.fechaCompleto==null">Tratamiento
                    activo
                  </td>
                  <td class="text-center" style="text-align: center"
                    *ngIf="u.tratamientosComprados.fechaCompleto!=null && u.tratamientosComprados.enabled!=true && u.tratamientosComprados.motivo==null">
                    <strong>----</strong>
                  </td>
                  <td class="text-center"
                    *ngIf="u.tratamientosComprados.fechaCompleto!=null && u.tratamientosComprados.enabled!=true && u.tratamientosComprados.motivo!=null">
                    <strong
                      style="text-align: center;color:rgb(17, 167, 29)">{{u.tratamientosComprados.motivo}}</strong>
                  </td>
                  <td>
                    <button tooltip="Ver detalles" type="button" class="btn btn-ghost-secondary"
                      (click)="openModal(template,u.tratamientosComprados.sesiones)">
                      <i class="fa fa-search-plus"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class=" text-nowrap" [hidden]="movimientos.length==0">
              <pagination [boundaryLinks]="true" previousText="Página Anterior" nextText="Página Siguiente"
              firstText="&laquo;" lastText="&raquo;" [totalItems]="movimientos.length"
              (pageChanged)="pageChanged($event)"></pagination>
            </div>
            <div class="text-center" *ngIf="items.length==0&&loading==true">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <div class="text-center" *ngIf="items.length==0&&loading==false">
              <strong>No existen registros</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #template>
  <div class="modal-header">
    <h4 class="text-center">Detalles del Tratamiento</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm">
      <div class="table-responsive table-sm">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th class="text-center">Sesión N°</th>
              <th class="text-center">Cliente</th>
              <th class="text-center">Fecha de turno</th>
              <th class="text-center">Fecha completada</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let u of sesionesItems; index as i" [hidden]="!sesionesItems.length>0">
              <td class="text-center">{{i+1}}</td>
              <td class="text-center" style="text-align: center">{{u.cliente_nombre}} {{u.cliente_apellido}}</td>
              <td class="text-center" *ngIf="u.turnoFecha!=null"><strong
                  style="text-align: center;color:rgb(17, 167, 29)">{{u.turnoFecha|date:"dd/MM/yyyy'a las' h:mma "}}</strong>
              </td>
              <td class="text-center" *ngIf="u.turnoFecha==null"><strong style="text-align: center;color:brown">Sin
                  Registros</strong> </td>
              <td class="text-center" *ngIf="u.fechaCompletada!=null"><strong
                  style="text-align: center;color:rgb(17, 167, 29)">{{u.fechaCompletada|date:"dd/MM/yyyy'a las' h:mma "}}</strong>
              </td>
              <td class="text-center" *ngIf="u.fechaCompletada==null"><strong
                  style="text-align: center;color:brown">Sigue Activo</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="form-group form-actions">
        <button class="btn btn-sm btn-ghost-light active" (click)="modalRef.hide()" type="button">Cerrar</button>
      </div>
    </form>
  </div>
</ng-template>