<div class="card">
  <div class="col-lg-xs-ms">
    <div class="card">
      <div class="card-header">
        <button type="button" class="btn btn-ghost-light">
          <i class="fa icon-menu
              "></i>
        </button>
        <strong>Configuraciones</strong>
      </div>
      <div class="card-body">
        <div>
          <tabset>
            <tab heading="Empresa" id="tab1">
              <div class="d-flex flex-nowrap align-self-end" style="padding-right: 15px;padding-top: 5px;">
                <div class="d-flex flex-nowrap ">
                  <!-- <button aria-pressed="true" class="btn btn-danger" type="button"
                          (click)="refresh()">Actualizar</button> -->
                  <button aria-pressed="true" tooltip="Crear nueva empresa" class="btn btn-sm btn-info" type="button"
                    (click)="openModalCreate()">Nueva Empresa</button>
                </div>
              </div>
              <div class="card-body" *ngIf="abrirForm==false">
                <div class="table-responsive table-sm">
                  <!--Table-->
                  <table class="table table-striped">
                    <thead class="thead-dark">
                      <tr>
                        <th class="text-center">Código</th>
                        <th class="text-center">Nombre de empresa</th>
                        <th class="text-right">CUIT</th>
                        <th class="text-right">Inicio de Actividades</th>
                        <th class="text-right"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let u of listEmpresas" [hidden]="!listEmpresas.length>0">
                        <td class="text-center">{{u.id}}</td>
                        <td class="text-center">{{u.nombre}}</td>
                        <td class="text-center">{{u.cuit}}</td>
                        <td class="text-center">{{u.fechaInicioActividad|date}}</td>
                        <td class="text-right">
                          <button tooltip="Editar sala" type="button" class="btn btn-ghost-secondary"
                            (click)="editar(u)">
                            <i class="fa icon-pencil"></i>
                          </button>
                          <button tooltip="Eliminar sala" type="button" class="btn btn-ghost-secondary"
                            (click)="openModal(template,u.id)">
                            <i class="fa icon-close
                                          "></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="text-center" *ngIf="listEmpresas.length==0&&loading==false">
                  <strong>No existen registros</strong>
                </div>
              </div>
              <div class="card-body" *ngIf="abrirForm==true">
                <form #f="ngForm">
                  <div class="row">
                    <div class="form-group col-sm-3">
                      <label class="font-weight-bold">Nombre Empresa</label>
                      <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
                        placeholder="Ingrese nombre" required [(ngModel)]="empresa.nombre" type="text" required>
                    </div>
                    <div class="form-group col-sm-3">
                      <label class="font-weight-bold">Concepto de Empresa</label>
                      <select class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="empresa.concepto" required>
                        <option [value]="nombre.nombreConcepto" *ngFor="let nombre of conceptosEmpresa"
                          [selected]="nombre.nombreConcepto==empresa.concepto ? true : null">{{nombre.nombreConcepto}}
                        </option>
                      </select>
                    </div>
                    <div class="form-group col-sm-3">
                      <label class="font-weight-bold">Teléfono</label>
                      <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="empresa.telefono" placeholder="Ingrese telefono" type="text" required>
                    </div>
                    <div class="form-group col-sm-3">
                      <label class="font-weight-bold">CUIT</label>
                      <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="empresa.cuit" placeholder="Ingrese cuit" type="text">
                    </div>
                  </div>
                  <!-- Parte 2 -->
                  <div class="row">
                    <div class="form-group col-sm-3">
                      <label class="font-weight-bold">Tipo de Moneda </label>
                      <select class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="tipoMonedaPredeterminada" required>
                        <option [value]="nombre.nombre" *ngFor="let nombre of tipoMonedas"
                          [selected]="nombre.nombre==tipoMonedas ? true : null">{{nombre.nombre}}</option>
                      </select>
                    </div>
                    <div class="form-group col-sm-3">
                      <label class="font-weight-bold">Condición Fiscal</label>
                      <select class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="condicionFiscal" required>
                        <option [value]="nombre.nombre" *ngFor="let nombre of condicionesFrenteAlIva"
                          [selected]="nombre.nombre==condicionFiscal ? true : null">{{nombre.nombre}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-sm-3">
                      <label class="font-weight-bold">Fecha de Inicio de Actividades</label>
                      <input type="text" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="empresa.fechaInicioActividad"
                        placeholder="Ingrese fecha" class="form-control form-control-sm" bsDatepicker>
                    </div>
                    <div class="form-group col-sm-3">
                      <label class="font-weight-bold">Dirección</label>
                      <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="empresa.direccion" placeholder="Ingrese Dirección" type="text" required>
                    </div>
                    <div class="form-group col-sm-3">
                      <label class="font-weight-bold">Ingresos Brutos</label>
                      <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="empresa.ingresosBrutos" placeholder="Ingrese N° ingresos brutos" type="text">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-sm-3">
                      <label class="font-weight-bold">Código Postal</label>
                      <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="empresa.codigoPostal" placeholder="Ingrese Código Postal" type="text" required>
                    </div>
                    <div class="form-group col-sm-3">
                      <label class="font-weight-bold">Correo</label>
                      <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
                        placeholder="Ingrese correo" required [(ngModel)]="empresa.correo" type="email" required>
                    </div>
                    <div class="form-group col-sm-3">
                      <label class="font-weight-bold">Sede Timbrado</label>
                      <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="empresa.sedeTimbrado" placeholder="Ingrese sede timbrado" type="text" required>
                    </div>
                    <div class="form-group col-sm-3">
                      <label class="font-weight-bold">Password</label>
                      <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="empresa.password" placeholder="Ingrese Password" type="text" required>
                    </div>
                  </div>
                  <div class="text-center">
                    <div class="spinner-border" role="status" [hidden]="!load">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>
                  <div class="form-group form-actions text-left ">
                    <button class="btn btn-sm btn-info" (click)="createEmpresa()">Guardar Empresa</button>
                    <button class="btn btn-sm btn-ghost-light active" (click)="cerrarForm()"
                      type="button">Cancelar</button>
                  </div>
                </form>
              </div>
            </tab>
            <tab heading="Punto de Venta">
              <div class="d-flex flex-nowrap align-self-end" style="padding-right: 15px;padding-top: 5px;">
                <div class="d-flex flex-nowrap ">
                  <!-- <button aria-pressed="true" class="btn btn-danger" type="button"
                          (click)="refresh()">Actualizar</button> -->
                  <button aria-pressed="true" tooltip="Crear nuevo Punto de venta" class="btn btn-sm btn-info"
                    type="button" (click)="openModalCreateVenta()">Nuevo Punto de Venta</button>
                </div>
              </div>
              <div class="card-body" *ngIf="abrirFormVenta==false">
                <div class="table-responsive table-sm">
                  <!--Table-->
                  <table class="table table-striped">
                    <thead class="thead-dark">
                      <tr>
                        <th class="text-center">Código</th>
                        <th class="text-center">Nombre de Punto de Venta</th>
                        <th class="text-right">Sucursal</th>
                        <th class="text-right"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let u of puntosDeVentas" [hidden]="!puntosDeVentas.length>0">
                        <td class="text-center">{{u.id}}</td>
                        <td class="text-center">{{u.nombre}}</td>
                        <td class="text-center">{{u.sucursal}}</td>
                        <td class="text-right">
                          <button tooltip="Editar punto de venta" type="button" class="btn btn-ghost-secondary"
                            (click)="editarVenta(u)">
                            <i class="fa icon-pencil"></i>
                          </button>
                          <button tooltip="Eliminar punto de venta" type="button" class="btn btn-ghost-secondary"
                            (click)="openModalPuntoDeVenta(templatePV,u.id)">
                            <i class="fa icon-close
                                          "></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="text-center" *ngIf="puntosDeVentas.length==0&&loading==false">
                  <strong>No existen registros</strong>
                </div>
              </div>
              <div class="card-body" *ngIf="abrirFormVenta==true">
                <form #f="ngForm">
                  <div class="row">
                    <div class="form-group col-sm-6">
                      <label class="font-weight-bold">Nombre Punto De Venta</label>
                      <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
                        placeholder="Ingrese nombre" required [(ngModel)]="puntoDeVenta.nombre" type="text" required>
                    </div>
                    <div class="form-group col-sm-6">
                      <label class="font-weight-bold">Sucursal</label>
                      <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="puntoDeVenta.sucursal" placeholder="Ingrese n° de sucursal" type="text" required>
                    </div>
                  </div>
                  <div class="text-center">
                    <div class="spinner-border" role="status" [hidden]="!load">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>
                  <div class="form-group form-actions text-left ">
                    <button class="btn btn-sm btn-info" (click)="createPuntoDeVenta()">Guardar Punto De Venta</button>
                    <button class="btn btn-sm btn-ghost-light active" (click)="cerrarFormVenta()"
                      type="button">Cancelar</button>
                  </div>
                </form>
              </div>
            </tab>
            <tab heading="Datos AFIP" id="tab1">
              <app-afip-ws></app-afip-ws>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #template>
  <div class="modal-header">
    <h4 class="text-center">Se eliminará la empresa seleccionada</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm">
      <div class="form-group form-actions">
        <button class="btn btn-sm btn-info" (click)="delete()">Confirmar</button>
        <button class="btn btn-sm btn-ghost-light active" (click)="modalRef.hide()" type="button">Cancelar</button>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #templatePV>
  <div class="modal-header">
    <h4 class="text-center">Se eliminará el punto de venta seleccionado</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm">
      <div class="form-group form-actions">
        <button class="btn btn-sm btn-info" (click)="deletePuntoDeVenta()">Confirmar</button>
        <button class="btn btn-sm btn-ghost-light active" (click)="modalRef.hide()" type="button">Cancelar</button>
      </div>
    </form>
  </div>
</ng-template>