<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <!-- HEADER BASE -->
        <div class="card-header">
          <div class="row">
            <div style="width: 100%">
              <button type="button" class="btn btn-ghost-secondary" [routerLink]="[ '/panel/ventas/list']">
                <i class="fa fa-reply"></i>
              </button>
              <strong>Nueva Venta</strong>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="form-group col-sm-4">
              <app-search-cliente (myClick)="TransportarCliente($event)"></app-search-cliente>
              <div class="row">
                <div class="form-group col-sm-12">
                  <div class="custom-control custom-checkbox mb-6">
                    <input type="checkbox" (change)="checkValue(ventaAnonima?true:false)" class="custom-control-input"
                      id="customCheck" name="example1" [ngModelOptions]="{standalone: true}" [(ngModel)]="ventaAnonima">
                    <label class="custom-control-label" for="customCheck">Cliente Anónimo</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4" *ngIf="tempCliente!=null">
              <label class="font-weight-bold float-md-left">Vendedor:{{usuario.nombre}},{{usuario.apellido}}</label>
            </div>
            <div class="col-sm-4" *ngIf="tempCliente!=null">
              <label class="font-weight-bold float-md-left">Punto de venta:{{puntoDeVenta.nombre}}</label>
            </div>
          </div>
          <div class="row" *ngIf="tempCliente!=null">
            <div class="form-group col-sm-6">
              <label
                class="font-weight-bold float-md-left">Cliente:{{tempCliente.nombre}},{{tempCliente.apellido}}</label>
            </div>
          </div>
          <div class="row">
            <!-- <div class="row"> -->
            <div class="form-group col-sm-4">
              <label class="font-weight-bold">Tipo de Pago</label>
              <select [disabled]="tempCliente==null" class="form-control form-control-sm"
                [ngModelOptions]="{standalone: true}" [(ngModel)]="venta.condicionVenta"
                aria-placeholder="Seleccione una opción" required>
                <option value="CONTADO">CONTADO</option>
                <option value="CUENTA CORRIENTE">CUENTA CORRIENTE</option>
              </select>
            </div>
            <div class="form-group col-sm-4" *ngIf="tempCliente!=null">
              <label class="font-weight-bold">Tipo Comprobante</label>
              <select class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="tipoComprobante" [disabled]="tiposDeFacturas.length==0" required>
                <option [value]="nombre.descrWs" *ngFor="let nombre of tiposDeFacturas"
                  [selected]="nombre.descrWs==tipoComprobante ? true : null">{{nombre.descrWs}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-12">
              <app-search-producto (myClick)="Transportar($event)"></app-search-producto>
            </div>
          </div>
          <div class="card-body" *ngIf="items.length>0">
            <div class="table-responsive table-sm">
              <table class="table table-striped">
                <thead class="thead-dark">
                  <tr>
                    <th class="text-center">Descripción</th>
                    <th class="text-center">Precio Venta </th>
                    <th class="text-center">Cantidad</th>
                    <th class="text-center">Descuento$</th>
                    <th class="text-center">Sub-Total</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let u of items" [hidden]="!items.length>0">
                    <td class="text-center">{{u.producto.nombre}}({{u.producto.codigo}})</td>
                    <td class="text-center">
                      <input class="form-control form-control-sm" (ngModelChange)="valuechange(u)"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="u.precioUnitario" placeholder="Ingrese monto"
                        type="number" step="0.01" required>
                    </td>
                    <td class="text-center">
                      <input class="form-control form-control-sm" (ngModelChange)="valuechange(u)"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="u.cantidad" min="1"
                        placeholder="Ingrese monto" type="number" step="0.01" required>
                    </td>
                    <td class="text-center"><input class="form-control form-control-sm" (ngModelChange)="valuechange(u)"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="u.descuento" min="1"
                        placeholder="Ingrese monto" type="number" step="0.01" required></td>
                    <td class="text-center">{{u.cantidad*u.precioUnitario-u.descuento|currency}}</td>
                    <td>
                      <button tooltip="Eliminar producto" type="button" (click)="openModal(template,u.id)"
                        class="btn btn-ghost-secondary">
                        <i class="fa icon-close"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td class="text-center">
                      <div class="row">
                        <div class="form-group col-sm-7">
                          <label class="font-weight-bold">Descuento General %</label>
                        </div>
                        <div class="form-group col-sm-5">
                          <input type="tel" step="0.01" [ngModelOptions]="{standalone: true}" [(ngModel)]="descuento"
                            class="form-control form-control-sm" id="inlineFormInputName" placeholder="Ingrese %%">
                        </div>
                      </div>
                    </td>
                    <td class="text-center" *ngIf="tempCliente!=null">
                      <div *ngIf="tempCliente.tipoFactura!=null">
                        <a class="badge badge-dark" *ngIf="tempCliente.tipoFactura.nombre=='A'"
                          style="color: beige">TOTAL BRUTO:{{precioTotalVenta()-precioTotalIVA()|currency}}</a>
                        <a class="badge badge-dark" *ngIf="tempCliente.tipoFactura.nombre!='A'"
                          style="color: beige">TOTAL BRUTO:{{precioTotalVenta()|currency}}</a>
                      </div>
                    </td>
                    <td class="text-center" *ngIf="tempCliente!=null">
                      <div *ngIf="tempCliente.tipoFactura!=null">
                        <a class="badge badge-dark" *ngIf="tempCliente.tipoFactura.nombre=='A'"
                          style="color: beige">TOTAL IVA:{{precioTotalIVA()|currency}}</a>
                      </div>
                    </td>
                    <td class="text-center">
                      <a class="badge badge-dark" style="color: beige">TOTAL DESC.:{{descuento|currency}}</a>
                    </td>
                    <td class="text-center">
                      <a class="badge badge-dark" style="color: beige">TOTAL NETO:{{precioTotalVenta()|currency}}</a>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <div class="form-group col-sm-12">
              <app-form-pagos (myClickPago)="TransportarPago($event)"></app-form-pagos>
            </div>
            <div class="form-group col-sm-12">
              <label class="font-weight-bold">Observaciones</label>
              <textarea class="form-control form-control-sm" rows="2" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="venta.observacion" placeholder="Observaciones..." type="text"></textarea>
            </div>
            <div class="text-center">
              <div class="spinner-border" role="status" [hidden]="!load">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <div class="form-group form-actions text-left " *ngIf="items.length>0">
              <button class="btn btn-sm btn-info" (click)="openModalGuardar(templateGuardar)" [disabled]="load">Generar
                Venta</button>
              <button class="btn btn-sm  btn-ghost-secondary" [routerLink]="[ '/panel/ventas/list']"
                type="button">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #template>
    <div class="modal-header">
      <h4 class="text-center">Se borrará el producto de la tabla</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #f="ngForm">
        <div class="form-group form-actions">
          <button class="btn btn-sm btn-info" (click)="eliminarItem()">Confirmar</button>
          <button class="btn btn-sm btn-ghost-light active" (click)="modalRef.hide()" type="button">Cancelar</button>
        </div>
      </form>
    </div>
  </ng-template>
  <ng-template #templateGuardar>
    <div class="modal-header">
      <h4 class="text-center">Se generará una nueva Venta</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #f="ngForm">
        <div class="form-group form-actions">
          <button class="btn btn-sm btn-info" (click)="guardarVenta()">Confirmar</button>
          <button class="btn btn-sm btn-ghost-light active" (click)="modalRef.hide()" type="button">Cancelar</button>
        </div>
      </form>
    </div>
  </ng-template>