<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <!-- HEADER BASE -->
        <div class="card-header">
          <div class="row">
            <div>
              <button type="button" class="btn btn-ghost-light">
                <i class="fa icon-menu
                    "></i>
              </button>
              <strong>Pedidos</strong>
            </div>
          </div>
        </div>
        <div class="d-flex flex-nowrap align-self-end" style="padding-right: 15px;padding-top: 5px;">
          <div class="d-flex flex-nowrap ">
              <button  class="btn btn-sm btn-dark" type="button" tooltip="Imprimir listado de Pedidos"
              (click)="report()" [disabled]="selectedRow.length==0">Imprimir Pedidos</button>
            <button aria-pressed="true" tooltip="Crear nuevo pedido" class="btn btn-sm btn-info" type="button"
              [routerLink]="[ '/panel/pedidos/create']">Nuevo Pedido</button>
          </div>
        </div>
        <div class="card-body">
          <form #f="ngForm" (ngSubmit)="buscador()">
            <div class="row">
              <div class="form-group col-sm-3">
                  <label class="font-weight-bold">Cliente</label>
                <app-search-cliente (myClick)="TransportarCliente($event)"></app-search-cliente>
                <label class="font-weight-bold" *ngIf="tempCliente!=''">Seleccionado:{{tempCliente}}</label>
              </div>
              <div class="form-group col-sm-3">
                <label class="font-weight-bold">Estado de Pedidos</label>
                <select class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" [(ngModel)]="filtroPagination.estado"   aria-placeholder="Seleccione un estado" (ngModelChange)="buscador()" required>
                  <option value="EN_ESPERA">Pedidos en Espera</option>
                  <option value="CANCELADO">Pedidos Cancelados</option>
                  <option value="COMPLETADO">Pedidos Completados</option>
                </select>
              </div>
              <div class="form-group col-sm-3">
                  <label class="font-weight-bold">Localidad</label>
                  <input placeholder="Seleccione una ciudad" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="filtroPagination.localidad"  (typeaheadOnSelect)="onSelect($event)" [typeahead]="ciudades" typeaheadOptionField="nombre"
                    typeaheadWordDelimiters="nombre==cliente.localidad ? true : null"
                    class="form-control form-control-sm">
                </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <label class="font-weight-bold">Desde</label>
                <input type="text" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [ngModelOptions]="{standalone: true}" [(ngModel)]="filtroPagination.desde"  placeholder="Ingrese fecha" class="form-control form-control-sm" bsDatepicker>
              </div>
              <div class="form-group col-sm-6">
                <label class="font-weight-bold">Hasta</label>
                <input type="text" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [ngModelOptions]="{standalone: true}" [(ngModel)]="filtroPagination.hasta"  placeholder="Ingrese fecha" class="form-control form-control-sm" bsDatepicker>
              </div>
              <div class="form-group form-actions text-left ">
                <button class="btn btn-sm btn-info" (click)="buscador()" tooltip="Filtrar datos">Buscar Fechas</button>
                <button aria-pressed="true" class="btn btn-sm btn-danger"tooltip="Limpiar filtros" type="button"
                (click)="refresh()">Limpiar Filtros</button>
              </div>
            </div>
          </form>
        </div>

        <div class="card-body">
          <div class="table-responsive table-sm">
           <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th class="text-center">N°</th>
                  <th class="text-center">Fecha</th>
                  <th class="text-center">Comprador</th>
                  <th class="text-center">Localidad</th>
                  <th class="text-center">Teléfono</th>
                  <th class="text-center">Estado del Pedido</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let u of items" [hidden]="!items.length>0">
                  <td class="text-center">
                    <div class="custom-control custom-checkbox mb-3">
                        <input type="checkbox" class="custom-control-input" id="{{u.id}}" name="example1" (click)="setClickedRow(u)" [class.active]="u == selectedRow">
                        <label class="custom-control-label" for="{{u.id}}">{{u.id}}</label>
                      </div>
                </td>
                  <td class="text-center">{{u.fecha| date:'yyyy-MM-dd HH:mm' }}</td>
                  <td class="text-center">{{u.cliente.nombre}},{{u.cliente.apellido}}</td>
                  <td class="text-center">{{u.cliente.localidad ? u.cliente.localidad:'Sin Registros'}}</td>
                  <td class="text-center">{{u.cliente.celular1}}</td>
                  <td class="text-center">{{u.estado}}</td>
                  <td>
                    <button tooltip="Editar pedido" type="button" class="btn btn-ghost-secondary"
                      [routerLink]="[ '/panel/pedidos/details', u.id ]">
                      <i class="fa icon-pencil"></i>
                    </button>
                    <button tooltip="Eliminar pedido" type="button" class="btn btn-ghost-secondary" (click)="openModal(template,u)">
                      <i class="fa icon-close
                          "></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class=" text-nowrap"  [hidden]="items.length==0">
              <pagination [align]="true" [totalItems]="totalElements" [(ngModel)]="page"
                (pageChanged)="pageChanged($event)" [maxSize]="5" [itemsPerPage]="pageSize"  [boundaryLinks]="true" previousText="Página Anterior"
                nextText="Página Siguiente" firstText="&laquo;" lastText="&raquo;"></pagination>
            </div>
          </div>
          <div class="text-center" *ngIf="items.length==0&&loading==true">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="text-center" *ngIf="items.length==0&&loading==false">
            <strong>No existen registros</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #template>
  <div class="modal-header">
    <!-- <h4 class="modal-title pull-left">Modal</h4> -->
    <h4 class="text-center">Se dará de baja el pedido seleccionado</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm">
      <div class="form-group form-actions">
        <button class="btn btn-sm btn-info" (click)="delete()">Confirmar</button>
        <button class="btn btn-sm btn-ghost-light active" (click)="modalRef.hide()" type="button">Cancelar</button>
      </div>
    </form>
  </div>
</ng-template>