<div class="card">
  <div class="col-lg-xs-ms">
    <div class="card">
      <div class="card-header">
        <button type="button" class="btn btn-ghost-secondary" [routerLink]="[ '/panel/tareas']">
          <i class="fa fa-reply"></i>
        </button>
        <strong>Nueva Tarea</strong>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
              <div class="form-group col-sm-6">
                  <label class="font-weight-bold">Usuario asignado</label>
                  <app-search-usuario (myClick)="TransportarUser($event)"></app-search-usuario>
                </div>
              <div class="form-group col-sm-6">
                  <label class="font-weight-bold">Fecha límite</label>
                  <input type="text" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [ngModelOptions]="{standalone: true}" [(ngModel)]="tarea.fechaObjetivo"  placeholder="Ingrese fecha limite" class="form-control form-control-sm" bsDatepicker>
                </div>
            <div class="form-group col-sm-12">
              <label class="font-weight-bold">Ingrese el motivo</label>
              <textarea class="form-control form-control-sm" rows="2" [ngModelOptions]="{standalone: true}"
              [(ngModel)]="tarea.texto" placeholder="Motivo..." type="text"></textarea>
            </div>
          </div>
          <div class="text-center">
            <div class="spinner-border" role="status" [hidden]="!load">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="form-group form-actions text-left ">
            <button class="btn btn-sm btn-info" [disabled]="load" (click)="createTarea()">Crear ficha</button>
            <button class="btn btn-sm  btn-ghost-secondary" [routerLink]="[ '/panel/fichas/list']"
              type="button">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>