<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <!-- HEADER BASE -->
        <div class="card-header" [hidden]="searchText">
          <div class="row">
            <div style="width: 90%">
              <button type="button" class="btn btn-ghost-light">
                <i class="fa icon-menu
                        "></i>
              </button>
              <strong>Caja de Usuarios</strong>
            </div>
            <div style="width: 2%">
              <button id="button-basic" type="button" (click)="mostrar()" class="btn btn-ghost-secondary"><i
                  class="fa fa-search" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- HEADER SEARCH -->
        <div class="card-header" [hidden]="!searchText">
          <div class="row">
            <div style="width: 90%">
              <app-search-usuario (myClick)="Transportar($event)"></app-search-usuario>
            </div>
            <div style="width: 2%">
              <button id="button-basic" type="button" tooltip="Buscar usuario" (click)="ocultar()"
                class="btn btn-ghost-secondary"><i class="fa fa-times-circle" aria-hidden="true"></i>

              </button>
            </div>
          </div>
        </div>
        <div class="d-flex flex-nowrap align-self-end" style="padding-right: 15px;padding-top: 5px;">
            <div class="d-flex flex-nowrap ">
              <button tooltip="Cerrar caja de todos los usuarios" aria-pressed="true" class="btn btn-sm btn-info" type="button"
              (click)="openModalAll(templateAll)">Cerrar todas las cajas</button>
            </div>
          </div>
        <div class="card-body">
          <div class="table-responsive table-sm">
           <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th class="text-center">Código</th>
                  <th class="text-center">Nombre</th>
                  <th class="text-center">Rol</th>
                  <th class="text-center">Estado</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let u of usuarios" [hidden]="!usuarios.length>0">
                  <td class="text-center">{{u.id}}</td>
                  <td class="text-center">{{u.nombre}} {{u.apellido}}</td>
                  <td class="text-center">{{u.rol}}</td>
                  <td class="text-center">
                    <span class="badge badge-success" *ngIf="u.enabled">Activo</span>
                    <span class="badge badge-danger" *ngIf="!u.enabled">Inactivo</span>
                    <button tooltip="Ver movimientos del  usuario" type="button" class="btn btn-ghost-secondary"
                      [routerLink]="[ '/panel/contable/details', u.id ]">
                      <i class="cui-magnifying-glass"></i>
                    </button>
                    <button type="button" class="btn btn-ghost-secondary" tooltip="Cerrar caja del usuario"
                      (click)="openModal(template,u.id)">
                      <i class="cui-account-logout"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class=" text-nowrap"  [hidden]="usuarios.length==0">
              <pagination [align]="true" [totalItems]="totalElements" [(ngModel)]="page"
                (pageChanged)="pageChanged($event)" [maxSize]="5" [itemsPerPage]="pageSize" [boundaryLinks]="true"
                previousText="Página Anterior" nextText="Página Siguiente" firstText="&laquo;" lastText="&raquo;">
              </pagination>
            </div>

            <div class="text-center" *ngIf="usuarios.length==0&&loading==true">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <div class="text-center" *ngIf="usuarios.length==0&&loading==false">
              <strong>No existen usuarios</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #template>
  <div class="modal-header">
    <!-- <h4 class="modal-title pull-left">Modal</h4> -->
    <h4 class="text-center">Se transferirá el monto de la caja a su cuenta. ¿Desea continuar?</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm">
      <div class="text-center" *ngIf="load==true">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="form-group form-actions">
        <button class="btn btn-sm btn-info" (click)="delete()">Confirmar cierre manual</button>
        <button class="btn btn-sm btn-ghost-light active" (click)="modalRef.hide()" type="button">Cancelar</button>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #templateAll>
    <div class="modal-header">
      <!-- <h4 class="modal-title pull-left">Modal</h4> -->
      <h4 class="text-center">Se transferirá el monto de todas las caja a su cuenta. ¿Desea continuar?</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #f="ngForm">
        <div class="text-center" *ngIf="load==true">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="form-group form-actions">
          <button class="btn btn-sm btn-info" (click)="deleteAll()">Confirmar cierre</button>
          <button class="btn btn-sm btn-ghost-light active" (click)="modalRef.hide()" type="button">Cancelar</button>
        </div>
      </form>
    </div>
  </ng-template>