<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <!-- HEADER BASE -->
        <div class="card-header" [hidden]="searchText">
          <div class="row">
            <div>
              <button type="button" class="btn btn-ghost-light">
                <i class="fa icon-menu
                    "></i>
              </button>
              <strong>Actualizar Precios de Productos</strong>
            </div>
          </div>
        </div>
        <div class="d-flex flex-nowrap align-self-end" style="padding-right: 15px;padding-top: 5px;">
          <div class="d-flex flex-nowrap ">
            
          </div>
        </div>
        <div class="card-body" [hidden]="abrirForm">
          <form #f="ngForm" (ngSubmit)="buscador()">
            <div class="row">
              <div class="form-group col-sm-3">
                <label class="font-weight-bold">Nombre del producto</label>
                <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" [(ngModel)]="filtroPagination.nombre"
                 placeholder="Ingrese nombre del producto" type="text" required>
              </div>
              <div class="form-group col-sm-6">
                <label class="font-weight-bold">Código de Barra</label>
                <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="filtroPagination.codigoDeBarras"
                 placeholder="Ingrese código de barras" class="form-control form-control-sm">
              </div>
              <div class="form-group col-sm-3">
                <label class="font-weight-bold">Código de producto</label>
                <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="filtroPagination.codigo"
                 placeholder="Ingrese código " class="form-control form-control-sm">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-3">
                <label class="font-weight-bold">Marca</label>
                <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" [(ngModel)]="filtroPagination.subMarca"
                   placeholder="Ingrese marca" type="text" required>
              </div>
              <div class="form-group col-sm-3">
                <label class="font-weight-bold">Categoría</label>
                <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" [(ngModel)]="filtroPagination.marca"
                   placeholder="Ingrese categoria" type="text" required>
              </div>
              <div class="form-group col-sm-3">
                <label class="font-weight-bold">Nombre Proveedor</label>
                <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" [(ngModel)]="filtroPagination.proveedorRazonSocial"
                   placeholder="Ingrese nombre" type="text" required>
              </div>
              <div class="form-group col-sm-3">
                <label class="font-weight-bold">CUIT Proveedor</label>
                <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" [(ngModel)]="filtroPagination.proveedorCuit"
                   placeholder="Ingrese CUIT" type="text" required>
              </div>
            </div>
            <div class="form-group form-actions">
              <button class="btn btn-sm btn-info" (click)="buscador()">Buscar </button>
              <button aria-pressed="true" class="btn btn-sm btn-danger" type="button"
              (click)="refresh()">Limpiar Filtros</button>
            </div>
          </form>
        </div>

        <div class="card-body" [hidden]="abrirForm">
           <div class="table-responsive table-sm">
           <table class="table table-striped">
              <thead class="thead-dark" class="thead-dark">
                <tr>
                  <th class="text-center">Código</th>
                  <th class="text-center">Descripción</th>
                  <th class="text-center">Precio Costo</th>
                  <th class="text-center">IVA%</th>
                  <th class="text-center">Utilidad%</th>
                  <th class="text-center">Precio Venta</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let u of productos" [hidden]="!productos.length>0">
                  <td class="text-center">{{u.id}}</td>
                  <td class="text-center">{{u.nombre}}</td>
                  <td class="text-center"><input class="form-control form-control-sm" (ngModelChange)="valuechange(u)" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="u.precioCosto"  placeholder="Ingrese monto" type="number"
                    step="0.01"  required></td>
                  <td class="text-center"><input class="form-control form-control-sm" [disabled]="!editMode" (ngModelChange)="valuechange(u)" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="u.iva"  placeholder="Ingrese monto" type="number" step="0.01"
                    min="0" required></td>
                  <td class="text-center"><input class="form-control form-control-sm" (ngModelChange)="valuechange(u)" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="u.utilidad"  placeholder="Ingrese monto" type="number"
                    step="0.01" min="0" required></td>
                  <td class="text-center">{{u.precioVenta|currency}}</td>
                  <td>
                    <button tooltip="Guardar producto" type="button" class="btn btn-ghost-secondary"
                    (click)="guardarProducto(u)">
                    <i class="cui-circle-check "></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class=" text-nowrap"  [hidden]="productos.length==0">
              <pagination [align]="true" [totalItems]="totalElements" [(ngModel)]="page"
              (pageChanged)="pageChanged($event)" [maxSize]="5" [itemsPerPage]="pageSize"  [boundaryLinks]="true" previousText="Página Anterior"
              nextText="Página Siguiente" firstText="&laquo;" lastText="&raquo;"></pagination>
            </div>
          </div>
          <div class="text-center" *ngIf="productos.length==0&&loading==true">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="text-center" *ngIf="productos.length==0&&loading==false">
            <strong>No existen productos</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #template>
  <div class="modal-header">
    <!-- <h4 class="modal-title pull-left">Modal</h4> -->
    <h4 class="text-center">Se dará de baja el producto seleccionado</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm">
      <div class="form-group form-actions">
        <button class="btn btn-sm btn-info" (click)="delete()">Confirmar</button>
        <button class="btn btn-sm btn-ghost-light active" (click)="modalRef.hide()" type="button">Cancelar</button>
      </div>
    </form>
  </div>
</ng-template>