<div class="card">
  <div class="col-lg-xs-ms">
    <div class="card">
      <div class="card-header">
        <button type="button" class="btn btn-ghost-secondary" [routerLink]="[ '/panel/salas/list']">
          <i class="fa fa-reply"></i>
        </button>
        <strong>Crear Sala</strong>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="form-group col-sm-6">
              <label class="font-weight-bold">Nombre de la sala</label>
              <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}" placeholder="Sala"
                [(ngModel)]="sala.nombre" type="text" required>
            </div>
          </div>
          <div class="text-center">
            <div class="spinner-border" role="status" [hidden]="!load">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="form-group form-actions text-left ">
            <button class="btn btn-sm btn-info" [disabled]="load" (click)="createSala()">Crear Sala</button>
            <button class="btn btn-sm  btn-ghost-secondary" [routerLink]="[ '/panel/salas/list']"
              type="button">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>