<div class="animated fadeIn" *ngIf="loadHistoria==false">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <!-- HEADER BASE -->
        <div class="card-header">
          <div class="row">
            <div style="width: 100%">
              <button type="button" class="btn btn-ghost-light">
                <i class="fa icon-menu
                    "></i>
              </button>
              <strong>Historias Clínicas</strong>
            </div>
          </div>
        </div>
        <div class="card-body">
          <app-search-cliente (myClick)="Transportar($event)"></app-search-cliente>
        </div>
        <div class="card-body">
          <div class="form-group form-actions text-right ">
            <button aria-pressed="true" tooltip="Crear nuevo cliente" class="btn btn-sm btn-dark" type="button"
              (click)="openModalNuevoCliente(templateNuevoCliente)">Nuevo Cliente</button>
            <button class="btn btn-sm btn-info" (click)="openModalNuevaHistoria(templateHistoria)"
              tooltip="Agregar nueva Historia">Nueva Historia Clínica</button>
          </div>
        </div>
        <div class="card-body">
          <strong class="text-center" *ngIf="tempCliente!=''">{{tempCliente}}</strong>
          <div class="table-responsive table-sm" [hidden]="items.length==0">
            <table class="table table-striped">
              <thead class="thead-dark" class="thead-dark">
                <tr>
                  <th class="text-center">Fecha Turno</th>
                  <th class="text-center">Fecha Creada</th>
                  <th class="text-center">Paciente</th>
                  <th class="text-center">Teléfono</th>
                  <th class="text-center">PDS</th>
                  <th class="text-center">PDI</th>
                  <th class="text-center">PIS</th>
                  <th class="text-center">PII</th>
                  <th class="text-center">Cintura</th>
                  <th class="text-center">Abdomen</th>
                  <th class="text-center">Observaciones</th>
                  <th class="text-center"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let u of items" [hidden]="!items.length>0">
                  <td class="text-center" *ngIf="u.fechaTurno!=null">{{u.fechaTurno|date:"dd/MM 'a las' h:mma"}}</td>
                  <td class="text-center" *ngIf="u.fechaTurno==null">Sin Registros</td>
                  <td class="text-center">{{u.fecha|date:"dd/MM 'a las' h:mma"}}</td>
                  <td class="text-center" *ngIf="cliente!=null">
                    {{ cliente.cliente.apellido + ', ' + cliente.cliente.nombre}}</td>
                  <td class="text-center" *ngIf="cliente!=null">{{ cliente.cliente.celular1}}</td>
                  <td class="text-center">{{ values(u.items) ? values(u.items) : '0'}}</td>
                  <td class="text-center">{{ values(u.items) ? values(u.items) : '0'}}</td>
                  <td class="text-center">{{ values(u.items) ? values(u.items) : '0'}}</td>
                  <td class="text-center">{{ values(u.items) ? values(u.items) : '0'}}</td>
                  <td class="text-center">{{ values(u.items) ? values(u.items) : '0'}}</td>
                  <td class="text-center">{{ values(u.items) ? values(u.items) : '0'}}</td>
                  <td class="text-center">{{ observaciones(u.items) ? observaciones(u.items) : '---------'}}
                  </td>
                  <td class="text-center">
                    <button tooltip="Ver historia" type="button" class="btn btn-ghost-secondary"
                      (click)="openModalClinica(u.id)">
                      <i class="fa fa-user-md"></i>
                    </button>
                    <button tooltip="Imprimir historia" type="button" class="btn btn-ghost-secondary"
                    (click)="imprimirHistoria(u.id)">
                    <i class="fa fa-print"></i>
                  </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class=" text-nowrap" [hidden]="items.length==0">
              <pagination [align]="true" [totalItems]="totalElements" [(ngModel)]="page"
                (pageChanged)="pageChanged($event)" [maxSize]="5" [itemsPerPage]="pageSize" [boundaryLinks]="true"
                previousText="Página Anterior" nextText="Página Siguiente" firstText="&laquo;" lastText="&raquo;">
              </pagination>
            </div>
          </div>
          <div class="text-center" *ngIf="items.length==0&&loading==true">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
        <div class="text-center" *ngIf="items.length==0&&loading==false">
          <strong>No existen registros</strong>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="animated fadeIn" *ngIf="loadHistoria==true">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <!-- HEADER BASE -->
        <div class="card-header">
          <div class="row">
            <div style="width: 100%">
              <button type="button" class="btn btn-ghost-light">
                <i class="fa icon-menu
                    "></i>
              </button>
              <strong>Detalles de la Historia Clinica</strong>
            </div>
          </div>
        </div>
        <div class="card-body">
          <strong class="text-center" *ngIf="tempCliente!=''">{{tempCliente}}</strong>
          <div class="form-group form-actions text-right ">
            <button aria-pressed="true" class="btn btn-sm btn-info" type="button"
              (click)="openModalImg(templateImage)">Cargar imagenes</button>
          </div>
        </div>
        <div class="card-body">
          <form #f="ngForm">
            <strong *ngIf="temp.fotos.length>0">Imagenes guardadas</strong>
            <div class="table-responsive table-sm" *ngIf="temp.fotos.length>0">
              <table class="table table-striped col-sm-12">
                <thead class="thead-dark">
                  <tr>
                    <th class="text-center">N°</th>
                    <th class="text-center">Imagen</th>
                    <th class="text-right"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let u of temp.fotos;index as i" [hidden]="!temp.fotos.length>0">
                    <td class="text-center">
                      {{i+1}}
                    </td>
                    <td class="text-center"><img src="{{url}}{{u}}" class="thumbnail" width="100" height="100"
                        class="rounded float-left" alt="...">
                    </td>
                    <td class="text-right">
                      <button tooltip="Borrar imagen cargada" type="button" class="btn btn-ghost-secondary"
                        (click)="openModalBorrarImage(templateBorrarImage,u)">
                        <i class="fa icon-close
                              "></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <strong *ngIf="imageList.length>0">Imagenes a subir</strong>
            <div class="table-responsive table-sm" *ngIf="imageList.length>0">
              <table class="table table-striped col-sm-12">
                <thead class="thead-dark">
                  <tr>
                    <th class="text-center">N°</th>
                    <th class="text-center">Imagen</th>
                    <th class="text-right"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let u of imageList;index as i" [hidden]="!imageList.length>0">
                    <td class="text-center">
                      {{i+1}}
                    </td>
                    <td class="text-center"><img src="{{u.compressedImage.imageDataUrl}}" class="thumbnail" width="100"
                        height="100" class="rounded float-left" alt="...">
                    </td>
                    <td class="text-right">
                      <button tooltip="Borrar imagen cargada" type="button" class="btn btn-ghost-secondary"
                        (click)="openModalBorrarImageTemp(templateBorrarImageTemp,u)">
                        <i class="fa icon-close
                            "></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <br>
            <div class="table-responsive table-sm">
              <table class="table table-striped col-sm-12">
                <thead class="thead-dark">
                  <tr>
                    <th class="text-center">N°</th>
                    <th class="text-left">Detalles</th>
                    <th class="text-center">Respuestas</th>
                    <th class="text-center"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let u of temp.items;index as i" [hidden]="!temp.items.length>0">
                    <td class="text-center">
                      {{i+1}}
                    </td>
                    <td class="text-left">{{u.pregunta}}
                    </td>
                    <td class="text-left" *ngIf="u.respuesta!=null">{{u.respuesta}}
                    </td>
                    <td class="text-center" *ngIf="u.respuesta==null">Sin respuesta
                    </td>
                    <td class="text-center">
                      <button tooltip="Editar respuesta" type="button" class="btn btn-ghost-secondary"
                        (click)="openModalRespuestas(templateRespuesta,u)">
                        <i class="fa icon-pencil"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="form-group col-sm-12">
              <label class="font-weight-bold">Indicaciones para el Paciente</label>
              <textarea class="form-control form-control-sm" rows="4" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="temp.indicaciones" placeholder="Indicaciones..." type="text"></textarea>
            </div>
          </form>
          <div class="text-center" *ngIf="load==true">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="form-group form-actions">
            <button class="btn btn-sm btn-info" [disabled]="load==true" (click)="updateClinica()">Guardar Historia
              clinica</button>
            <button class="btn btn-sm btn-ghost-light active" (click)="cancelarModal()" type="button">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #templateRespuesta>
  <div class="modal-header">
    <h4 class="text-center">Detalles de la respuesta</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="cancelarRespuesta()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm">
      <div class="row">
        <div class="col-sm-12">
          <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
            placeholder="Ingrese respuesta" [(ngModel)]="tempRespuesta.respuesta" type="text" required>
        </div>
      </div>
    </form>
    <br>
    <div class="form-group form-actions">
      <button class="btn btn-sm btn-info" (click)="actualizarRespuesta(tempRespuesta)">Guardar respuesta</button>
      <button class="btn btn-sm btn-ghost-light active" (click)="cancelarRespuesta()" type="button">Cancelar</button>
    </div>
  </div>
</ng-template>
<ng-template #templateBorrarImageTemp>
  <div class="modal-header">
    <h4 class="text-center">Se eliminará la imagen. ¿Desea continuar?</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm">
      <div class="text-center" *ngIf="load==true">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="form-group form-actions">
        <button class="btn btn-sm btn-info" [disabled]="load==true" (click)="deleteImageTemp()">Confirmar</button>
        <button class="btn btn-sm btn-ghost-light active" (click)="modalRef.hide()" type="button">Cancelar</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #templateImage>
  <div class="modal-header">
    <h4 class="text-center">Subir imagenes</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="cancelarImages()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm">
      <app-file-upload-clinic (myClick)="TransportarImages($event)"></app-file-upload-clinic>
      <br><br>
      <div class="text-center" *ngIf="load==true">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="form-group form-actions">
        <button class="btn btn-sm btn-info" [disabled]="load==true" (click)="modalRef.hide()">Confirmar</button>
        <button class="btn btn-sm btn-ghost-light active" (click)="cancelarImages()" type="button">Cancelar</button>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #templateNuevoCliente>
  <div class="modal-header">
    <h4 class="text-center">Generar nuevo Cliente</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-clientes-create-modal (myClick)="TransportarClienteNuevo($event)"></app-clientes-create-modal>
  </div>
</ng-template>
<ng-template #templateHistoria>
  <div class="modal-header">
    <h4 class="text-center">Generar nueva Ficha Médica</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-crear-historia (myClickCrearFicha)="TransportarHistoriaMedica($event)"></app-crear-historia>
  </div>
</ng-template>