<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <!-- HEADER BASE -->
        <div class="card-header">
          <div class="row">
            <div style="width: 90%">
              <button type="button" class="btn btn-ghost-light">
                <i class="fa icon-menu
                          "></i>
              </button>
              <strong>Historial de Cajas</strong>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="form-group col-sm-4">
              <app-search-usuario (myClick)="Transportar($event)"></app-search-usuario>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6">
              <label class="font-weight-bold">Desde</label>
              <input type="text" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="filtroPagination.desde" placeholder="Ingrese fecha" class="form-control form-control-sm" bsDatepicker>
            </div>
            <div class="form-group col-sm-6">
              <label class="font-weight-bold">Hasta</label>
              <input type="text" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="filtroPagination.hasta" placeholder="Ingrese fecha" class="form-control form-control-sm" bsDatepicker>
            </div>
          </div>
          <div class="form-group form-actions text-left ">
            <button class="btn btn-sm btn-info" (click)="buscador()" tooltip="Filtrar datos">Buscar Fechas</button>
            <button aria-pressed="true" class="btn btn-sm btn-danger" tooltip="Limpiar filtros" type="button"
              (click)="refresh()">Limpiar Filtros</button>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive table-sm">
           <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th class="text-center">N°</th>
                  <th class="text-center">Fecha abierto</th>
                  <th class="text-center">Fecha cerrado</th>
                  <th class="text-center">Estado de caja</th>
                  <th class="text-center"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let u of items" [hidden]="!items.length>0">
                  <td class="text-center">{{u.id}}</td>
                  <td class="text-center" *ngIf="u.fechaAbierto!=undefined">{{u.fechaAbierto| date: "dd-MM-yyyy HH:mm:ss"}}</td>
                  <td class="text-center" *ngIf="u.fechaCerrado!=undefined||u.fechaCerrado!=null">{{u.fechaCerrado| date: "dd-MM-yyyy HH:mm:ss"}}</td>
                  <td class="text-center" *ngIf="u.fechaCerrado==undefined||u.fechaCerrado==null">Sigue Abierto</td>
                  <td class="text-center">
                    <span class="badge badge-success" *ngIf="u.fechaCerrado==null||u.fechaCerrado==undefined">ABIERTO</span>
                    <span class="badge badge-danger" *ngIf="u.fechaCerrado!=undefined||u.fechaCerrado!=null">CERRADO</span>
                    <button tooltip="Ver resumen de la caja" type="button" class="btn btn-ghost-secondary"
                        [routerLink]="[ '/panel/contable/cierre', u.id ]">
                        <i class="cui-magnifying-glass"></i>
                      </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class=" text-nowrap"  [hidden]="items.length==0">
              <pagination [align]="true" [totalItems]="totalElements" [(ngModel)]="page"
                (pageChanged)="pageChanged($event)" [maxSize]="5" [itemsPerPage]="pageSize" [boundaryLinks]="true"
                previousText="Página Anterior" nextText="Página Siguiente" firstText="&laquo;" lastText="&raquo;">
              </pagination>
            </div>
            <div class="text-center" *ngIf="items.length==0&&loading==true">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <div class="text-center" *ngIf="items.length==0&&loading==false">
              <strong>No existen registros</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>