  <!-- HISTORIAS CLINICAS -->
  <div class="card-body">
    <strong>Seleccionar fichas</strong>
    <div class="row">
      <div class="col-sm-12">
        <button *ngFor="let item of listaDeFichasClinicas" aria-pressed="true" class="btn btn-sm btn-info"
          type="button" (click)="cargarPreguntas(item.id)">{{item.nombre}}</button>
        <button aria-pressed="true" class="btn btn-sm btn-info" type="button"
          (click)="openModalImg(templateImage)">Cargar imagenes</button>
      </div>
    </div>
    <br>
    <div class="table-responsive table-sm">
      <table class="table table-striped col-sm-12">
        <thead class="thead-dark">
          <tr>
            <th class="text-center">N°</th>
            <th class="text-left">Detalles</th>
            <th class="text-center">Respuestas</th>
            <th class="text-right"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let u of fichaHistoriaClinica;index as i" [hidden]="!fichaHistoriaClinica.length>0">
            <td class="text-center">
              {{i+1}}
            </td>
            <td class="text-left">{{u.pregunta}}
            </td>
            <td class="text-left" *ngIf="u.respuesta!=null">{{u.respuesta}}
            </td>
            <td class="text-center" *ngIf="u.respuesta==null">Ingrese una respuesta
            </td>
            <td class="text-center">
              <button tooltip="Editar respuesta" type="button" class="btn btn-ghost-secondary"
                (click)="openModalRespuestas(templateRespuesta,u)">
                <i class="fa icon-pencil"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-center" *ngIf="loadTablaHistoriaClinica==true">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
    <br>
    <strong *ngIf="imageList.length>0">Imagenes subidas</strong>
    <div class="table-responsive table-sm" *ngIf="imageList.length>0">
      <table class="table table-striped col-sm-12">
        <thead class="thead-dark">
          <tr>
            <th class="text-center">N°</th>
            <th class="text-center">Imagen</th>
            <th class="text-right"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let u of imageList;index as i" [hidden]="!imageList.length>0">
            <td class="text-center">
              {{i+1}}
            </td>
            <td class="text-center"><img src="{{u.compressedImage.imageDataUrl}}" class="thumbnail" width="100"
                height="100" class="rounded float-left" alt="...">
            </td>
            <td class="text-right">
              <button tooltip="Borrar imagen cargada" type="button" class="btn btn-ghost-secondary"
                (click)="openModalBorrarImage(templateBorrarImage,u)">
                <i class="fa icon-close
                    "></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="form-group col-sm-12">
      <label class="font-weight-bold">Indicaciones para el Paciente</label>
      <textarea class="form-control form-control-sm" rows="2" [ngModelOptions]="{standalone: true}"
        [(ngModel)]="historiaClinica.indicaciones" placeholder="Indicaciones..." type="text"></textarea>
    </div>
    <div class="text-center" *ngIf="load==true">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="form-group form-actions">
      <button class="btn btn-sm btn-info" [disabled]="load==true" (click)="crearFicha()">Crear Ficha</button>
      <!-- <button class="btn btn-sm btn-ghost-light active" (click)="cancelarCrearFicha()"
        type="button">Cancelar</button> -->
    </div>
  </div>
  <ng-template #templateImage>
    <div class="modal-header">
      <h4 class="text-center">Subir imagenes</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="cancelarImages()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #f="ngForm">
        <app-file-upload-clinic (myClick)="TransportarImages($event)"></app-file-upload-clinic>
        <br><br>
        <div class="text-center" *ngIf="load==true">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="form-group form-actions">
          <button class="btn btn-sm btn-info" [disabled]="load==true" (click)="modalRef.hide()">Confirmar</button>
          <button class="btn btn-sm btn-ghost-light active" (click)="cancelarImages()" type="button">Cancelar</button>
        </div>
      </form>
    </div>
  </ng-template>
  <ng-template #templateRespuesta>
    <div class="modal-header">
      <h4 class="text-center">Detalles de la respuesta</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="cancelarRespuesta()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #f="ngForm">
        <div class="row">
          <div class="col-sm-12">
            <input class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
              placeholder="Ingrese respuesta" [(ngModel)]="tempRespuesta.respuesta" type="text" required>
          </div>
        </div>
      </form>
      <br>
      <div class="form-group form-actions">
        <button class="btn btn-sm btn-info" (click)="actualizarRespuesta(tempRespuesta)">Guardar respuesta</button>
        <button class="btn btn-sm btn-ghost-light active" (click)="cancelarRespuesta()" type="button">Cancelar</button>
      </div>
    </div>
  </ng-template>
  <ng-template #templateBorrarImage>
      <div class="modal-header">
        <h4 class="text-center">Se eliminará la imagen. ¿Desea continuar?</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #f="ngForm">
          <div class="text-center" *ngIf="load==true">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="form-group form-actions">
            <button class="btn btn-sm btn-info" [disabled]="load==true" (click)="deleteImage()">Confirmar</button>
            <button class="btn btn-sm btn-ghost-light active" (click)="modalRef.hide()" type="button">Cancelar</button>
          </div>
        </form>
      </div>
    </ng-template>