<input [(ngModel)]="asyncSelected" [typeahead]="dataSource"
(typeaheadLoading)="changeTypeaheadLoading($event)"
(typeaheadNoResults)="changeTypeaheadNoResults($event)" (typeaheadOnSelect)="typeaheadOnSelect($event)"
[typeaheadOptionsLimit]="7" typeaheadOptionField="nombre" [typeaheadItemTemplate]="customCapTemplate"
placeholder="Buscar usuario" class="form-control form-control-sm">
<ng-template #customCapTemplate let-model="item" let-index="index">
<p>{{model.nombre}} {{model.apellido}}({{model.id}})</p>
</ng-template>
<div *ngIf="typeaheadLoading===true">Buscando...</div>
<div *ngIf="typeaheadNoResults===true">&#10060; No existe registros</div>